[2022-08-30 13:53] 0xalpharush commented on #1363
This is an error from the solidity compiler, meaning your code doesn't compile:
[code]
Try running `crytic-compile .` or the respective compilation command for your framework e.g. `hardhat build` or `forge build`. Then, address the errors until the code compiles.

I'd also recommend installing `solc-select` as that using the wrong version of solidity could also be causing the code not to compile.

[2022-08-30 14:06] Lokizzle commented on #1363
Thank you, i just installed solc-slect.
Now this is the output
test# `crytic-compile .`
INFO:CryticCompile:Compilation warnings/errors on ./SmartDeposit.sol:
Error: Expected pragma, import directive or contract/interface/library/struct/enum/constant/function/error definition.
 --> SmartDeposit.sol:8:1:
  |
8 | <!DOCTYPE html>
  | ^

ERROR:CryticCompile:Invalid solc compilation Error: Expected prag

[2022-08-30 14:09] 0xalpharush commented on #1363
Without seeing the code it's hard to say... It looks like there's something unexpected at the beginning of the file that needs to be removed i.e. your code should look like:
[code]
but may have something like:
[code]

[2022-08-30 16:40] KholdStare commented on #1319
The code I highlighted earlier is from the master branch. `_handle_import_aliases` does not work with some ASTs it looks like. There really need to be precise types for the AST in the code. I've run into several bugs that could have been avoided if the types were not just `Dict`.

[2022-08-31 18:13] montyly opened #1364 "Import with alias collision"
If an import renames a contract to a name that is already taken by another contract, Slither crashes.

We have several internal codebases where this happen - so we need to improve the support for aliases within import

[2022-09-01 01:50] aaronbuchwald opened #1365 "Slither Reports Uninitialized Map as uninitialized state variable"
Slither reports a warning about a map being uninitialized, however, this may not make sense in the context of Solidity given that a map is initialized by populating it and the default value is the empty map.

https://stackoverflow.com/questions/69593720/how-to-initialize-a-mapping-in-solidity-what-is-the-best-practice

[2022-09-01 18:55] cre-mer opened #1366 "Github Wiki not readable: "The wiki page took too long to render.""
### Describe the desired feature

This seems to be a new issue on github in many projects. If the text is too long, it won't be displayed anymore. Instead github will show an error: "This wiki page took too long to render."
Here is an example: https://github.com/crytic/slither/wiki/Detector-Documentation#functions-that-send-ether-to-arbitrary-destinations

Can you move the docs to a place like rea

[2022-09-02 11:45] stephenctw commented on #1034
They claim to support the underscore [rule](https://github.com/crytic/slither/wiki/Detector-Documentation#rule-exceptions) but I also hit this issue.

[2022-09-02 19:12] rappie commented on #1319
@KholdStare Do you have any suggestions for a workaround or quickfix I can apply locally?

[2022-09-02 19:27] 0xalpharush commented on #1319
Can you use solc `0.8.12`?
https://github.com/crytic/slither/issues/1319#issuecomment-1231620830

[2022-09-02 19:30] rappie commented on #1319
I'm not sure, it is not my own codebase. I'm trying to reproduce a known vulnerabilty and "re-find" it with echidna. I'm not sure if updating to `0.8` changes any behaviours of the system.

I might give it a try next week, but something like a small patch to `slither` would be preferable.

[2022-09-02 19:45] smonicas commented on #1319
@rappie as a temporary fix can you change in slitherbug `import { IERC20 } from "@openzeppelin/contracts/token/ERC20/IERC20.sol";` to `import "@openzeppelin/contracts/token/ERC20/IERC20.sol";` it should work with `0.5.11`

[2022-09-02 21:41] rappie commented on #1319
Awesome! This indeed works.

Thanks :smile:

[2022-09-04 04:57] obitubi opened #1367 "[Bug-Candidate]: Command not found after install"
### Describe the issue:

Hello, I still new on using slither, after install on vscode that integrate with python, nodejs, solidity, the command to running `slither .` says command not found, I try to to recognize it, and there is issue that I must install VsC++. After installing C++, slither still can not work, command still not found, what should I do? thank you

### Code example to reproduce the

[2022-09-05 16:27] gretzke commented on #1324
`npx hardhat clean` fixed the issue for me

[2022-09-05 20:04] Amxx commented on #1029
The method in the note you linked is the best one. It was not available when this issue was raised though

[2022-09-05 20:26] frangio commented on #1029
Thanks for the feedback. Where would you expect to see more info? Feel free to open an issue on our repo so we don't add noise here.

[2022-09-06 09:46] exd0tpy commented on #1313
I modified `crytic_compile\crytic_compile.py` like this.

Just catch when KeyError and return 0.
[code]
And run `slither .` than worked.

I don't know about slither code much, so why this happened and why this is work.
But this could be help for temporary fix.

[2022-09-06 12:35] Lokizzle commented on #1363
There wasnt anything like pragma solidy xxx

But just do get slither working now, i downloaded the hex.sol, which is a working code. But i get errors from slither.
This is the output of `crytic-compile hex.sol`
test2# crytic-compile hex.sol
INFO:CryticCompile:Compilation warnings/errors on hex.sol:
hex.sol:976:5: Error: Expected ';' but got '}'
    }
    ^

ERROR:CryticCompile:Invalid solc compila

[2022-09-06 12:37] Lokizzle commented on #1363
[hex.txt](https://github.com/crytic/slither/files/9496894/hex.txt)

I uploaded the code in this txt file.

[2022-09-06 12:44] elopez commented on #1363
Hi @Lokizzle, it looks like the code you attached does not compile, you will need to fix that first.

[code]

[code]

[2022-09-06 18:29] 0xPT commented on #1029
Not sure if I should open a thread on OZ yet. Facing an error similar to this ticket now, with the recommended docs I linked above. If the docs are the correct way to implement, shouldn't this error not show?

Just implemented according to the docs and I'm getting
[code]

Here's my implementation:
[code]

[2022-09-06 18:32] frangio commented on #1029
Are those lines you're showing in Controller.sol? There is an `initializer` modifier so there shouldn't be a warning.

[2022-09-06 18:52] 0xalpharush commented on #1029
`_disableInitializers` wasn't whitelisted in the 0.8.3 release but will be in the upcoming one. See https://github.com/crytic/slither/pull/1344

[2022-09-06 21:43] MaxieYF opened #1368 "[Bug-Candidate]: 'NoneType' object has no attribute 'can_reenter'"
### Describe the issue:

I install Slither using docker. When i run "slither 0x33c6Eec1723B12c46732f7AB41398DE45641Fa42",get the result : AttributeError: 'NoneType' object has no attribute 'can_reenter'.

I've read the related issues like #1001, #1267. It seems that you've already fixedthe problem.

I docker pull the lastest version, I don't know why I still got the problem. I'm not familiar with

[2022-09-06 22:44] elopez commented on #1368
Hi @MaxieYF! Those issues you linked have been fixed in the slither development version, but are still a problem in the latest release (0.8.3), which is used in the eth security toolbox. You can wait until 0.8.4 is released, or install the development version (it may not be possible to do so in the eth security toolbox, as the latest slither requires a newer python than the one available in the co

[2022-09-06 22:44] #1368 closed

[2022-09-07 01:58] Haruxe commented on #1367
You can follow [this](https://github.com/crytic/slither#how-to-install) portion of the README.md document to help with installing it, but in your case you have to run the python install script from the cloned repository first. You can do this by running the command `python3 setup.py install`.

[2022-09-07 03:18] Kayaba-Attribution opened #1370 "Export printer result to text file"
### Describe the desired feature

It would be very useful to be able to save the command output to an external file for bookkeeping, easy reference, and quick search.

This may be already implemented but I couldn't find any information about it

Any efforts would be greatly appreciated!  ＼ʕ •ᴥ•ʔ／

[2022-09-07 04:41] AndyBarnard commented on #1361
Hey guys, I wrote this detector, currently trying to test it and getting stuck here:
`$ python ./tests/test_detectors.py --generate
Traceback (most recent call last):
  File "/home/andy/Dev/slither/./tests/test_detectors.py", line 399, in <module>
    all_detectors.ArbitrarySendEth,
AttributeError: module 'slither.detectors.all_detectors' has no attribute 'ArbitrarySendEth'. Did you mean: 'Arbitra

[2022-09-07 10:59] MaxieYF commented on #1368
Thanks!

[2022-09-07 13:00] Kayaba-Attribution commented on #1370
This can be done like this:
[code]

[2022-09-07 13:00] #1370 closed

[2022-09-07 21:01] mds1 opened #1371 "[Bug]: Ternary operation not handled bytes"
### Describe the issue:

Similar to #1198 and #1153, but seems those are for `string` and `None` respectively, whereas here the issue is `bytes` so figured I'd open a separate issue. Full stack trace below. Unfortunately repo is private so still tracking down exactly where this happens / trying to find a workaround

### Code example to reproduce the issue:

TBD

### Version:

0.8.3

### Relevant l

[2022-09-07 21:32] mds1 commented on #1371
Ah ok, turns out it was a `bytes20` not a `bytes`. The expression format is below, where all params within the `bytes20()` cast are of type `address`

[code]

Refactoring to a standard if/else block works as a workaround for now.

---

After fixing that I hit another ternary issue. The problematic expression was:

[code]

Pulling the ternary out of the braces and assigning to an intermediate `uint

[2022-09-07 22:21] mds1 opened #1372 "[Bug-Candidate]: `AssertionError` in `ssa.py`"
### Describe the issue:

Older versions of solmate's DSTestPlus have the below block of code (it's slightly modified in newer versions, and I haven't tested those). Even though we don't use the block of code in question, it causes the error shown below.

[code]

Logging the value of `ir` and `variable` in `ssa.py`'s `get_variable` method prints the following right before the error:
[code]

Since w

[2022-09-08 19:01] emretepedev commented on #778
Same issue here. Is there any improvement? @montyly

[2022-09-09 13:50] ggrieco-tob commented on #466
Echidna workarounds this somehow (probably repeating the same value using different types), so the priority of this issue is lower than expected.

[2022-09-12 14:31] exd0tpy commented on #1324
I got same issue on foundry project

I solved with this modification. This fix issue but all of the line number information will 0.

https://github.com/crytic/slither/issues/1313#issuecomment-1237920241

[2022-09-12 15:51] lucas-manuel opened #1374 "Deterministic printer output"
### Describe the desired feature

When running:
`slither <file> --print function-summary`
and
`slither <file> --print vars-and-auth`

The order or values in the arrays changes between runs. Examples below:
![Screen Shot 2022-09-12 at 11 49 10 AM](https://user-images.githubusercontent.com/44272939/189698848-0ad9b211-d0e4-4023-9757-655d0b5f5e20.png)
![Screen Shot 2022-09-12 at 11 50 12 AM](https://u

[2022-09-15 07:50] pbuda commented on #982
You can use the filter_paths parameter to filter out openzeppelin contracts. I use json config file, and it's as simple as adding "filter_paths": "openzeppelin" to it.

[2022-09-15 08:55] ryanc414 commented on #982
Yep, I figured that out thanks. Seems like a strange design choice to include dependencies by default though.

[2022-09-16 18:54] Lokizzle commented on #1363
Hi there,

we created a new code, which is working fine. compiling was working also without errors.
But Slither makes this output:
# slither pit.sol
Traceback (most recent call last):
  File "/usr/local/lib/python3.10/dist-packages/slither/__main__.py", line 744, in main_impl
    ) = process_all(filename, args, detector_classes, printer_classes)
  File "/usr/local/lib/python3.10/dist-packages/slit

[2022-09-17 06:53] elopez opened #1376 "Array sizes with non-integer expressions make slither crash"
[code]

[code]
_Originally reported by @Lokizzle in https://github.com/crytic/slither/issues/1363#issuecomment-1249701519_

[2022-09-17 06:58] elopez commented on #1363
Looks like there's an issue when the array sizes are expressed in scientific notation (`1e6`), I've created issue #1376 to track it. In the meantime, if you need a workaround you can replace `1e6` with `1000000` in your arrays and it should let you proceed.

[2022-09-19 23:51] adarshsrivastava11 commented on #1007
@yohanelly95 Are you running `slither .` on the root folder?

[2022-09-20 08:40] smallbatch-apps commented on #1034
This is affecting us, too. The use of `_name` or `name_` to prevent collision is very common, and necessary. Using `_name` should not trigger an error, as it is a standard convention.

[2022-09-22 05:40] kevzettler opened #1379 "[Bug-Candidate]: Fails to parse structs outside of library"
### Describe the issue:

I run `slither .` and get a python stack trace containing errors listed below.

### Code example to reproduce the issue:

`slither.config.json`

[code]

### Version:

[code]

### Relevant log output:

[code]
[code]

[2022-09-22 13:32] Lokizzle commented on #1363
@elopez

Thank you very much. that worked for me.

[2022-09-22 13:32] #1363 closed

[2022-09-23 00:27] joebb10 commented on #1283
Hi! I'm getting the same error but that solution didn't work. Any other?

Thanks in advance

[2022-09-23 15:35] sunny0714 opened #1380 "Guide for implementing Slither in foundry project and it's Github action"
Hey, guys. Hope you are well

I wanted to use slither in Foundry monorepo project and CI.

But I couldn't find any perfect guide for this.

Anyone can suggest any reference or link?

Best

[2022-09-23 22:27] joebb10 opened #1381 "[Bug-Candidate]: I'm not able to run slither. -- Error in . Traceback"
### Describe the issue:

When I run "slither ." or "yarn slither" I've always gotten this error and I don't know what to do anymore. I cleaned the cache and articules, still nothing. Any good solution?

### Code example to reproduce the issue:

// SPDX-License-Identifier: MIT
pragma solidity ^0.8.0;

// One shouldn't use any values from inside the blockchain as randomness
// Use something like Cha

[2022-09-24 13:03] elopez commented on #1381
Thanks for the report @joebb10. It looks like you're trying to analyze some standalone solidity code files** from the error message. You are using `solc-select` to manage the solc compilers installed in your system, but have not installed and/or configured a solc version (see the error saying _No solc version set. Run `solc-select use VERSION` or set SOLC_VERSION environment variable._). This erro

[2022-09-25 08:28] beauwilliams commented on #1272
Awesome! I think that's good enough alternative for now 👍

[2022-09-25 08:28] #1272 closed

[2022-09-25 16:05] tuv7041 opened #1382 "Slither interpreting triple slash comments (///) as block comments (/** */)"
### Describe the issue:

I'm trying to run slither on this smart contract: https://github.com/new-order-network/governance-token-v2/blob/e9cde694e53005e4504ae44d6462ee07e638a511/contracts/GovernanceTokenV2.sol

The contract has 3 instances of single line comment with triple slashes similar to this one:

[code]

And when running slither, it returns errors like this one:
[code]

It seems like it's i

[2022-09-25 21:05] 0xalpharush commented on #1382
This is an error from the solidity compiler for what appears to be a natspec violation.
https://docs.soliditylang.org/en/develop/natspec-format.html

[2022-09-26 09:49] krypston104 opened #1383 "[Bug-Candidate]: Unable to run Slither after installation. ModuleNotFoundError"
### Describe the issue:

Although I have no problems when installing slither using `pip3 install slither-analyzer`, I am unable to run it . This is the error messae I get when doing it:

[code]

I am already trying to run it from the result or running  `npm-which slither`:

`C:\Python310\Lib\site-packages\slither\slither.PY`

These are the logs of the installation:

[code]

As far as I see, the in

[2022-09-27 20:47] 0xalpharush commented on #1379
Can you share your code or an example to reproduce this?

[2022-09-27 23:40] kevzettler commented on #1379
Hi @0xalpharush you can reproduce with the following chain of shell commands. This assumes you have `git`, `yarn` and `slither` installed

[code]

[2022-09-28 10:56] CJ42 commented on #1254
@montyly @evgeniuz any updates on this?

[2022-09-30 09:31] rpajunen opened #1390 "[Bug]: Incorrect reference to Detector Documentation"
### Describe the issue:

Incorrect shift operation error has broken [reference](https://github.com/crytic/slither/wiki/Detector-Documentation#shift-parameter-mixup) to GitHub page.

### Code example to reproduce the issue:

Run Slither on [ERC721A](https://github.com/chiru-labs/ERC721A) contract.

### Version:

0.8.3

### Relevant log output:

[code]

[2022-10-01 03:25] 0xdamon opened #1391 "[Bug-Candidate]: slither . doesn't work on Docker image"
### Describe the issue:

I ran
[code]

then within the container, in the ```/share``` folder I ran
```slither .```

I got the following error message

[code]

I was able to replicate this by pip3 install and run on my local machine instead.

### Code example to reproduce the issue:

[code]

### Version:

0.8.3

### Relevant log output:

_No response_

[2022-10-01 12:29] aviggiano commented on #1224
This feature would be a great improvement.

I'm currently running slither on an [automated smart contracts threat detection tool](https://github.com/aviggiano/fluffy-waddle) and it's been a nightmare to parse the current txt format.

@aranyadan Since this has been open for quite a while, please let me know if I can help you finish your PR.

[2022-10-02 03:29] joebb10 commented on #1381
Hi!
I've trying to do what you said and still getting the same error. Yes, I have hardhat in my computer but I'm not using it to compile the codes I've been trying(Yes, more than one).
Looks like the solc-select is already installed.
By the way, I've been trying to run echidna either and got the same issue of slither. It worked a few times and then it didn't work anymore. Always getting the same t

[2022-10-03 02:25] kevzettler opened #1393 "[Bug-Candidate]: Failure to parse shared errors on libraries"
### Describe the issue:

I have a `library` with an `error` class that was being used in a contract. Slither crashes on the line that access the error from the library.

### Code example to reproduce the issue:

[code]

### Version:

kevzettler@kevs-mbp-3 contracts % slither --version
0.8.3

### Relevant log output:

[code]
[code]

[2022-10-03 02:29] kevzettler commented on #1379
I have confirmed that this parsing failure was due to a scenario where a shared `library` had a struct defined outside of it like:

[code]

If I modify it to nest the `struct` within the `library` like:
[code]

slither is able to parse.

[2022-10-03 09:20] Abhimanyu121 commented on #1374
I can take this up

[2022-10-03 20:26] elopez commented on #1391
Hi @0xdamon, thanks for the report. Could you share the hardhat config file your project uses here?

[2022-10-05 20:53] KholdStare commented on #1319
@smonicas @0xalpharush Hi, any acknowledgement about what I pointed out above as the bug?
https://github.com/crytic/slither/issues/1319#issuecomment-1229122518

I think a lot of issues would be fixed if there were proper types for the AST.

[2022-10-05 21:05] 0xalpharush commented on #1393
I believe this is fixed on version 0.9.0. Could you upgrade and let me know if the issue persists please?

[2022-10-05 23:09] kevzettler commented on #1393
@0xalpharush confirmed this seems to be resolved with 0.9.0

[2022-10-05 23:09] #1393 closed

[2022-10-06 02:04] yosriady opened #1407 "[Bug]: Slither fails with library events"
### Describe the issue:

Slither fails when given a contract which uses a library event. See minimal example below.

### Code example to reproduce the issue:

[code]

### Version:

0.9.0

### Relevant log output:

[code]

[2022-10-06 02:48] KholdStare commented on #1319
@0xalpharush Thanks for the reply. I think Slither's core strength is in the detectors etc. Right now it is hindered by the parsing stage which is just a necessary step to get to the detectors.

I think there should be standalone library specifically handling AST parsing and having a single representation for all versions (not necessarily maintained by you, just in general). This project could the

[2022-10-06 04:03] #1219 closed

[2022-10-06 08:29] antonper opened #1408 "[Bug-Candidate]: --exclude-informational does not exclude Informational scanners"
### Describe the issue:

--exclude-informational does not exclude Informational scanners like dead-code and solc-version

### Code example to reproduce the issue:
[code]

### Version:

0.9.0

### Relevant log output:

[code]

[2022-10-06 12:23] elopez commented on #1408
Thanks for the report @antonper! From [a look at the code](https://github.com/crytic/slither/blob/aa4a57d05015a8e5e103e7d5c8d25a76a58216c0/slither/__main__.py#L223-L243), `--exclude-*` options get honored if the corresponding `--fail-*` option is not enabled. This makes sense, as requesting to fail on e.g. medium or higher issues while disabling all of the medium detectors is contradictory. Howeve

[2022-10-06 13:35] MarkuSchick opened #1410 "Slither-flat ignores custom errors defined outside of contract"
### Describe the problem:

[Custom errors](https://blog.soliditylang.org/2021/04/21/custom-errors/) defined outside of a contract are not imported into the flattened contract.
This is a problem when working with contracts like [pr math](https://github.com/paulrberg/prb-math) that define the custom error outside the contract.
Below is an minimum working example showcasing the bug.

### Code example

[2022-10-06 22:07] agentjacker opened #1412 "[Bug-Candidate]: error: legacy-install-failure"
### Describe the issue:

tried running `pip3 install slither-analyzer` when trying to install slither. I already have solc-select installed. does anyone know a fix? Also when i run slither --version it says its not recognized. i use  windows
<img width="908" alt="bfgbtr" src="https://user-images.githubusercontent.com/114850373/194427144-c8c7c065-7ef5-4166-8062-f1ad3f1436d4.png">
<img width="910" a

[2022-10-06 22:21] elopez commented on #1412
Hi @agentjacker! Slither depends on `pysha3`, which has a native code (C/C++) component. You need to install "Microsoft C++ Build Tools" to be able to build this dependency, as shown on the error message in your screenshot. You can get the tools from [Microsoft's site](https://visualstudio.microsoft.com/visual-cpp-build-tools/). Once the tools are installed, reboot and try installing Slither again

[2022-10-06 23:13] agentjacker commented on #1412
hey i just did that and everything is installed. but when i tried slither --help it gave me this error
<img width="923" alt="image" src="https://user-images.githubusercontent.com/114850373/194434984-29c70a00-3102-4b07-bfa3-807489cd00a5.png">

[2022-10-06 23:25] elopez commented on #1412
You will need to add that `Scripts` directory to the system `PATH` for it to be runnable from anywhere as `slither` in the terminal. `pip` usually prints a warning letting you know that as well when installing the packages. This is not something slither-specific, you will have the same issue with other command-line Python tools.

The easy way to do so is by ticking the box marked "1" in the image

[2022-10-06 23:37] agentjacker commented on #1412
thanks alot it worked.!!

[2022-10-06 23:37] #1412 closed

[2022-10-07 00:10] agentjacker opened #1413 "[Bug-Candidate]: Slither"
### Describe the issue:

when i run .\slither . i get this
<img width="729" alt="image" src="https://user-images.githubusercontent.com/114850373/194439731-721d161e-11c3-44ba-baea-285d39dc01b7.png">
<img width="736" alt="image" src="https://user-images.githubusercontent.com/114850373/194440044-73b354f2-602c-4d14-ac4c-cf4134ccc856.png">

i have already done the prerequisites and can do .\slither --h

[2022-10-07 00:32] elopez commented on #1413
Hi! Yes, you should `cd` to the location of your project and then run `slither .`

You should also be able to run `slither C:\foo\bar\target` from anywhere, where `C:\foo\bar\yourproject` is your project folder.

[2022-10-07 00:43] agentjacker commented on #1413
just did that but it didnt work
<img width="557" alt="image" src="https://user-images.githubusercontent.com/114850373/194442847-51b0a041-f067-4295-9007-f029367f2363.png">

[2022-10-07 01:37] elopez commented on #1413
slither is not being found, so it sounds like your python's "Scripts" directory is not in PATH or you did not install slither yet, check my message here: https://github.com/crytic/slither/issues/1412#issuecomment-1270837671

[2022-10-08 06:25] brozorec opened #1414 "Select compile framework for projects having both hardhat and foundry"
### Describe the desired feature

I work on a project with both foundry and hardhat configs. When running `slither .` the compile platform defaults to hardhat while I wanted it to use `forge build`. There's no reference to how to switch the platform in this repo's wiki. After digging in the code, I found the option `--compile-force-framework` (`compile_force_framework`) and eventually saw it also

[2022-10-08 07:36] agentjacker opened #1415 "[Bug-Candidate]: Slither not working"
### Describe the issue:

i have been facing this issue and cant run slither .  i already have slither installed as seen in the screenshot
<img width="733" alt="image" src="https://user-images.githubusercontent.com/114850373/194695904-d34ceba7-b019-41ac-9715-b32949549fc1.png">

also can i move the slither folder in to the contracts folder and it could work that way

### Code example to reproduce th

[2022-10-08 12:00] elopez commented on #1415
Hi @agentjacker! It looks like your computer's PATH environment variable is still not configured correctly, and the python scripts folder is still not present in it. Once you configure that, it should start working. If you haven't tried already, I recommend uninstalling slither with `pip3 uninstall slither-analyzer` and then reinstalling it with `pip3 install slither-analyzer` and carefully review

[2022-10-08 12:01] elopez commented on #1413
Closing as duplicate of #1415

[2022-10-08 12:01] #1413 closed

[2022-10-08 14:14] #1382 closed

[2022-10-08 21:35] agentjacker commented on #1415
just did that but it says  "  raise InvalidCompilation(f"{filename} does not exist (are you in the correct directory?)")
crytic_compile.platform.exceptions.InvalidCompilation: . does not exist (are you in the correct directory?)  "
<img width="741" alt="image" src="https://user-images.githubusercontent.com/114850373/194728483-6e563bd7-4785-4085-bd8c-cb5b58e74429.png">
<img width="732" alt="image"

[2022-10-09 08:10] dev1line opened #1416 "[Bug-Candidate]: When I import Enum from library to another sol file, This enum can not be found"
### Describe the issue:

When I import Enum from library to another sol file, This enum can not be found

### Code example to reproduce the issue:

library NFTHelper {
    enum Type {
        ERC721,
        ERC1155,
        NONE
    }
}

### Version:

0.8.9

### Relevant log output:

[code]

[2022-10-09 15:12] elopez commented on #1415
Slither appears to be running 👍 Is your project using a compilation framework? (e.g. hardhat, foundry, etc) From the error message it looks like slither is not finding any usable framework in your project and treating your folder as a regular folder with solidity files, of which they are none in `klaytn-contracts-master` either.

[2022-10-09 17:49] agentjacker commented on #1415
from what i see i think it only allows truffle
<img width="596" alt="image" src="https://user-images.githubusercontent.com/114850373/194771676-151ddc9f-d53f-48cd-a95b-db04e77dc75c.png">

[2022-10-09 19:35] elopez commented on #1415
Give it a try with option `--compile-force-framework truffle` then. For [truffle to be auto-detected](https://github.com/crytic/crytic-compile/blob/0.2.4/crytic_compile/platform/truffle.py#L282-L304), there must be a `truffle.js` or `truffle-config.js` file in the folder, and there must _not_ be a `hardhat.config.js` or `hardhat.config.ts` file in the folder.

[2022-10-09 20:59] agentjacker commented on #1415
tried the --compile-force-framework truffle it gave me this error but as seen truffleconfig.js is there
<img width="797" alt="image" src="https://user-images.githubusercontent.com/114850373/194779193-f738f3e6-2175-4dec-b7fe-ebe405eabf6b.png">

[2022-10-09 21:34] elopez commented on #1415
Oh, it is a slither option, you need to add it to the slither invocation, e.g. `python3 -m slither --compile-force-framework truffle`

[2022-10-09 21:57] agentjacker commented on #1415
this is what it shows
<img width="653" alt="image" src="https://user-images.githubusercontent.com/114850373/194781304-8fa1bf30-69d6-4819-8b09-f9b57b33d1d1.png">

[2022-10-10 09:24] antonper commented on #1408
In version 0.8.3 the solc-verstion and dead-code were ignored by the --exclude-informational. Did --fail-pedantic is new default starting from 0.9.0?

[2022-10-10 13:09] PatrickAlphaC opened #1417 "AI / ML bot?"
### Describe the desired feature

Hi team,

Been a huge fan of slither and ToB for some time. Recently, I've been curious if it would make sense to have a database where people could dump contracts & their exploits for an AI bot to look over, and help people protect themselves for moving forward.

Flow looks as such:
1. Hack happens in wild
2. Hack & fix is fed into the AI
3. The AI now "includes"

[2022-10-10 13:53] elopez commented on #1415
You also need to add the target folder as shown on the error message, e.g. `python3 -m slither . --compile-force-framework truffle` (note the dot)

[2022-10-10 20:42] elopez commented on #1408
Yeah, I guess that also adds to the confusion, `--(no-)fail-pedantic` covers both "optimization" and "informational" levels, there's no separate flags for those two.

[2022-10-11 08:57] altyni86 commented on #1407
any updates on this? Ran into the same issue...

[2022-10-11 17:44] elopez opened #1418 "`naming-convention` does not flag `I` or `O` variable"
### Describe the issue:

Slither has a detection for usage of

* l - Lowercase letter el
* O - Uppercase letter oh
* I - Uppercase letter eye

https://docs.soliditylang.org/en/v0.8.17/style-guide.html#names-to-avoid

However this detection fails on O and I, as the code considers them "uppercase with underscores" even though there are no underscores.

Relevant code:
* https://github.com/crytic/slit

[2022-10-11 18:51] umair-mirza commented on #120
Still facing this issue. Doesn't seem to be fixed yet.

[2022-10-11 19:32] agentjacker commented on #1415
i ran it but it didnt work
<img width="737" alt="image" src="https://user-images.githubusercontent.com/114850373/195182094-10f6a0b7-53cc-41d6-84fc-164cff864ff7.png">
<img width="727" alt="image" src="https://user-images.githubusercontent.com/114850373/195182237-4b79e650-d6b4-4f97-9fd8-11fadec8f08e.png">
<img width="747" alt="image" src="https://user-images.githubusercontent.com/114850373/195182322

[2022-10-11 19:43] elopez commented on #1415
🤔  That's not a Slither error, it's an error from Truffle. You will need to fix your project so that it compiles successfully first.

[2022-10-11 19:55] agentjacker commented on #1415
do you have any suggestions, aslo my guess is theres a bug in the project itself

[2022-10-11 20:14] agentjacker commented on #1415
Thanks alot will do

[2022-10-12 04:14] 0xalpharush commented on #120
@umair-mirza this is a general python error so it could be caused by an assortment of errors in the code. Could you share a codebase/ solidity snippet that causes the issue?

[2022-10-12 04:47] b1acKr0se commented on #120
@itinance @umair-mirza I also used to get this problem on Slither 0.8.3 but it seems to be fixed in 0.9.0.

[2022-10-12 13:11] umair-mirza commented on #120
@b1acKr0se you're a life saver. Thank you so much for helping out. Upgrading it worked for me.

[2022-10-12 13:12] umair-mirza commented on #120
@0xalpharush apparently there's a bug in 0.8.3. upgrading it like @b1acKr0se  suggested worked!

[2022-10-12 14:49] CodeSandwich commented on #1352
I've tried running Slither using branch `dev-fix-usingfor` from PR https://github.com/crytic/slither/pull/1378 and indeed it doesn't throw the `Top level UsingForDirective not supported` anymore. Unfortunately it throws this strange exception:
[code]
I have no idea what this exception means. Is it another issue or is the fix incomplete? The most similar exception to this one is in https://github.c

[2022-10-12 15:18] smonicas commented on #1352
Hi @CodeSandwich, i can't understand from only this exception if it's related to the fix or not. Could you share the codebase?

[2022-10-12 15:26] 0xCLARITY commented on #1408
Are `--exclude-*` and `--fail-*` not different ways of expressing the same thing? (For example, ignore / don't fail on any informational scanner)?

Or is the idea that with `--fail-low`, you would still run the informational scanners and log them, but not exit with a failure code?

[2022-10-12 15:46] elopez commented on #1408
Exactly, the `--fail-*` options control the threshold used to exit with a failure code, while `--exclude-*` manages the detectors that are run. For example, if you have just a lot of informational findings, but `--fail-medium` is used, it will still show you the detections, but not exit with a failure code. If you then introduce a medium or high severity problem in the codebase, Slither will start

[2022-10-12 20:09] kristovatlas opened #1420 "[Bug-Candidate]: Slither does not parse foundry.toml for "extra_output_files""
### Describe the issue:

Specifying the `extra_output_files` config in the `foundry.toml` files causes slither to choke looking for `userdoc`

### Code example to reproduce the issue:

foundry.toml:
[code]

### Version:

0.9.0

### Relevant log output:

[code]

[2022-10-12 20:19] elopez commented on #1420
Hi @kristovatlas, thanks for the report! From the stacktrace, it looks like this is a crytic-compile issue, I will transfer it to the corresponding issue tracker.

[2022-10-12 20:25] kristovatlas opened #1421 "[Bug-Candidate]: ValueError: lib/forge-std/src/Console.sol does not exist in ['..."
### Describe the issue:

Slither is unable to locate a library in my Foundry-based Solidity project.

[code]
//SPDX-License-Identifier: Apache-2.0
pragma solidity ^0.8.0;

import "forge-std/Console.sol";
...snip...
function isEligible(address _address) public view returns (bool) {
    console.log("Checking eligibility of", _address);
...snip...
function hasClaimed(address _address) public view ret

[2022-10-12 20:39] elopez commented on #1421
Hi @kristovatlas, thanks for the report! I see you are working on Mac, are you using a case-insensitive filesystem by any chance? From a glance, it looks like this could be a bug in the project code -- for the sake of building on case-sensitive filesystems, like most Linux systems, the import should be mentioning `console.sol` and not `Console.sol` if the file is really named `console.sol`.

[2022-10-13 13:48] kristovatlas commented on #1421
Indeed, the issue seems to be that Foundry is case insensitive but slither is not. Possibly worth documenting, but at least folks can read this issue now.

Reference: https://github.com/foundry-rs/forge-std/issues/104

[2022-10-13 13:51] kristovatlas commented on #1407
Same.

[2022-10-13 14:09] elopez commented on #1421
@kristovatlas I just did a quick test on a Linux system and it appears that foundry does not do any special handling for case sensitiveness -- it fails to build if you have a file "foo.sol" and import "Foo.sol" instead. I'm thinking it just happens to work on macOS because of the filesystem behavior, which handles operations case-insensitively.

I agree it's worth documenting still!

[2022-10-13 19:14] CodeSandwich commented on #1352
I've found the root issue. It turns out that Slither has a problem with the Foundry's test utils. Even the exception says that the problem was found in `lib/forge-std/src/Test.sol`. The solution is to temporarily hide the test directory from Slither:

[code]

[2022-10-13 19:18] CodeSandwich opened #1422 "[Bug-Candidate]: Slither breaks on Foundry test utils usage"
### Describe the issue:

When Slither analyzes a test using Foundry test utils, it crashes.

A hacky workaround is to hide the tests from Slither, e.g. with
[code]

### Code example to reproduce the issue:

https://github.com/radicle-dev/drips-contracts

### Version:

0.8.3

### Relevant log output:

[code]

[2022-10-13 20:00] elopez commented on #1422
Thanks for the report! I see you're using an older version of Slither; I'm unable to reproduce that crash on Slither 0.9.0, but there is another error reported which is being tracked in https://github.com/crytic/slither/issues/1352

[code]

Removing the unsupported directive as follows makes slither work:

[code]

[2022-10-13 20:10] CodeSandwich commented on #1422
Oh, that's really cool! Because of this directive I was using branch `dev-fix-usingfor` from PR https://github.com/crytic/slither/pull/1378 which doesn't seem to based off 0.9.0, so I've apparently pushed myself into a feature limbo. If you're saying that it's fixed in 0.9.0, I'll close this issue and wait for `dev-fix-usingfor` to be updated or merged. Thank you for looking into this!

[2022-10-13 20:10] #1422 closed

[2022-10-13 21:04] 0xmichalis opened #1423 "[Bug-Candidate]: slither-read-storage uses Etherscan for Polygon contract"
### Describe the issue:

I am trying to use `slither-read-storage` to read the storage of a contract deployed in Polygon. From the stack trace I am getting it looks like `slither-read-storage` uses Etherscan instead of Polygonscan to fetch the contract code.

### Code example to reproduce the issue:

0x

### Version:

0.9.0

### Relevant log output:

[code]

[2022-10-13 21:36] elopez commented on #1423
Hi @kargakis! You should indicate the network as a prefix to the address, as briefly documented [here](https://github.com/crytic/slither/tree/master/slither/tools/read_storage#troubleshootingfaq). Otherwise, it is assumed to be in Ethereum. For polygon, I believe it should be:

[code]

You can see other [supported network prefixes in crytic-compile](https://github.com/crytic/crytic-compile/blob/0.

[2022-10-14 10:12] CodeSandwich opened #1424 "Restrict the pre-declaration usage of local variables detector (`variable-scope`) to Solidity 0.4"
### Describe the desired feature

The pre-declaration usage of local variables detector checks a property which is impossible to violate since Solidity 0.5, see the [last point of the 0.5 changelog](https://docs.soliditylang.org/en/latest/050-breaking-changes.html#semantic-and-syntactic-changes). The [exploit scenario example](https://docs.soliditylang.org/en/latest/050-breaking-changes.html#seman

[2022-10-14 16:44] majorisgit opened #1426 "[Bug-Candidate]: The system cannot find the file specified - that exists"
### Describe the issue:

`crytic_compile.platform.exceptions.InvalidCompilation: [WinError 2] The system cannot find the file specified`
File clearly exists.

I tried command line and VS code addon. Both fail with same error.

### Code example to reproduce the issue:

// SPDX-License-Identifier: MIT

pragma solidity >=0.8.0 <0.9.0;

contract smallTestContract{
    address public contractOwner;

[2022-10-14 16:51] elopez commented on #1426
Hi @majorisgit, thanks for the report! I see the error is occurring when executing `solc` - you need to install a solidity compiler in your system.

[code]

I'd suggest installing `solc-select` and using that to manage the solc installations

[code]

[2022-10-14 18:19] 0xalpharush opened #1427 "echidna-printer: add result of binary/unary expressions with constant operands to output"
I think the best way to deal with this is just to precompute the value of binary/unary operations when the operads are constant. This should be done from the slither side, and add the result into `constants_used`. Echidna should be able to pick them without any modification.

_Originally posted by @ggrieco-tob in https://github.com/crytic/echidna/issues/636#issuecomment-1241905188_

[2022-10-14 21:35] mdgeorge4153 opened #1428 "[Bug-Candidate]: Exception in `slither-flat` with `--solc-remap`"
### Describe the issue:

When running `slither-flat` with `--solc-remap` I get the following error:
[code]

### Code example to reproduce the issue:

`slither-flat pkg/pool-stable/contracts/StablePool.sol --solc-remaps @balancer-labs=$(pwd)/node_modules/@balancer-labs/` in [balancer monorepo](https://github.com/balancer-labs/balancer-v2-monorepo)

### Version:

0.9.0

### Relevant log output:

_No

[2022-10-14 23:51] majorisgit commented on #1426
I tried them, now it works on command line. But VS code extension is still failing.

Command line -

D:\project>slither contract/Small_TestContract.sol

Pragma version>=0.8.0<0.9.0 (contract/Small_TestContract.sol#3) is too complex
Reference: https://github.com/crytic/slither/wiki/Detector-Documentation#incorrect-versions-of-solidity

Contract smallTestContract (contract/Small_TestContract.sol#5-2

[2022-10-15 00:11] elopez commented on #1426
Note that you are testing different things, the first one (command line) is running slither against a single file, while the latter (extension) is analyzing a folder. Going by the error message in the second case, it looks like the folder does not contain a project using a supported framework (eg hardhat), nor solidity (.sol) files in it. Slither will not look for files recursively in other direct

[2022-10-15 00:24] majorisgit commented on #1426
Thank you. That was correct, I placed one .sol file in the root folder for test and the extension worked.
How do I make it search for .sol files in a specific folder?

[2022-10-15 01:26] emretepedev commented on #778
Still same.
slither version: 0.9.0
solc version: 0.8.16

[2022-10-15 02:34] elopez commented on #1426
I'm not too familiar with the vscode extension, but I see there's an issue open for it requesting the feature, so it might not be possible right now: https://github.com/crytic/slither-vscode/issues/23

If you can use a compilation framework for your project (eg hardhat, foundry, etc) so that building with the framework from the root folder works, that could be a way to get it working in the meanti

[2022-10-15 20:12] mattjaf opened #1431 "[Bug-Candidate]: For some reason I haven't been able to get slither to start on windows 7."
### Describe the issue:

I installed it with `py -m pip slither-analyzer`

tried running it and it threw an error.

Thank you in advance and God Bless

### Code example to reproduce the issue:

`slither . --solc-remaps '@openzeppelin=node_modules/@openzeppelin'`

### Version:

slither 0.9.0
solc 0.8.7

### Relevant log output:

[code]

[2022-10-15 20:30] elopez commented on #1431
Hi @mattjaf, can you confirm if this still happens after running `npx hardhat clean` and removing the `crytic-export` folder if present?

[2022-10-15 22:54] mattjaf commented on #1431
Thank you for your response.
I initially installed it with pip
then uninstalled it and reinstalled it with pip3
ran `npx hardhat clean`

and it threw this:

[code]

[2022-10-15 23:09] elopez commented on #1431
Looks good 👍  in the future, if you modify your codebase significantly, run a hardhat clean before analyzing, as stale artifacts in the hardhat directory can cause these sorts of issues.

[2022-10-15 23:16] mattjaf commented on #1431
thanks again!!,

whats up with this:
[code]

[2022-10-15 23:23] elopez commented on #1431
By default slither will exit with an error code if any detections are found in the codebase. With slither 0.9 you can now override the behavior to always exit with code 0 (success) by passing `--no-fail-pedantic`, or to fail only if e.g. medium severity issues are found (`--fail-medium`).

From the release notes:

[2022-10-15 23:31] mattjaf commented on #1431
oh, thank you so much!!

[2022-10-16 00:49] mattjaf commented on #1431
sorry to bother you, is there a reason why the messages aren't in color in my terminal?

[2022-10-16 01:41] elopez commented on #1431
I believe terminal color output (ANSI color escapes) in Windows requires a recent Windows 10 or 11, and a terminal emulator with support for it, like the new [Windows Terminal](https://apps.microsoft.com/store/detail/windows-terminal/9N0DX20HK701). You mentioned you were using Windows 7, so that's probably why you get the uncolored output.

[2022-10-16 02:53] #1174 closed

[2022-10-17 15:55] plotchy commented on #1326
Adding to this discussion, a detector I made for "unreachable code" does flag on this difference with `continue` not being succeeded by the `increment` expression.
[code]

While detecting on Notional deployed contract https://etherscan.io/address/0x5f11e94e0a69ac8490f45eb27a6478dcddb0227e#code

[code]
The `i++` is unreachable, although there is a `continue` statement

[2022-10-18 09:13] jordaniza commented on #1354
Am also having this issue with 0.9.0

[2022-10-18 13:08] #1287 closed

[2022-10-18 13:10] #1031 closed

[2022-10-18 14:54] elopez opened #1433 "Document optional dependencies in `extras_require`"
### Describe the desired feature

Some of slither's tools require extra dependencies, e.g. `slither-read-storage` needs `web3` installed. It would be great to have these dependencies documented in `extras_require`, so it is easier to install a fully-featured slither.

[2022-10-19 09:48] pemmenegger opened #1436 "[Bug-Candidate]: False positive uses timestamp for array length comparison"
### Describe the issue:

A Check: ```timestamp``` gets triggered when comparing to struct array length.

### Code example to reproduce the issue:

Inside my contract:

    struct Post {
        uint256 id;
        uint256 timeCreated; // block.timestamp will be assigned here on creation
        address contributor;
        uint256 distributedSocialTokens;
    }

    Post[] public posts;

    funct

[2022-10-19 10:10] KyrylR opened #1437 "When I run `slither . --print call-graph` I get: AttributeError: 'FunctionTopLevel' object has no attribute 'contract_declarer'"
Compiled with hardhat.

I faced an issue(log):

    Traceback (most recent call last):
      File "/home/internos/.local/lib/python3.10/site-packages/slither/__main__.py", line 826, in main_impl
        ) = process_all(filename, args, detector_classes, printer_classes)
      File "/home/internos/.local/lib/python3.10/site-packages/slither/__main__.py", line 97, in process_all
        ) = process_s

[2022-10-19 13:08] 0xalpharush commented on #1436
I believe it's related to this [limitation](https://github.com/crytic/slither/issues/365) in how structures are represented. I will see what it takes to resolve this cc @montyly

[2022-10-21 03:59] charlesxsh opened #1438 "[Bug-Candidate]: In SSA, EventCall is missing arguments."
### Describe the issue:

when print slithir-ssa, the arguments of emit event call is missing.

### Code example to reproduce the issue:

`
contract BasicToken {
    mapping(address => uint256) balances;

    function transfer(address _to, uint256 _value) external  {
        balances[msg.sender] = balances[msg.sender] - _value;
        balances[_to] = balances[_to] + _value;
        emit Transfer(m

[2022-10-21 13:40] 0xalpharush commented on #1438
Maybe this https://github.com/crytic/slither/issues/1345

[2022-10-21 21:27] plotchy opened #1439 "Add property support for `is_abstract` for contracts"
### Describe the desired feature

Adding a contract property of `is_abstract` can lead to more robust detection + less false positives.
Usually `abstract` contracts are detected through checking whether there are functions that are not implemented:
[code]
However, a contract can still be `abstract` (and undeployable) [even if all functions are implemented.](https://docs.soliditylang.org/en/latest/

[2022-10-22 11:44] Aminechakr commented on #1319
Hello, are there any updates on this issue, this bug also blocks us, we can't run CI solidity slighter audit jobs any more.

[2022-10-22 18:25] sunny0714 commented on #1380
Helpful repo goes here
https://github.com/ubiquity/ubiquity-dollar
Check feat/foundry-conversion branch

[2022-10-22 18:26] #1380 closed

[2022-10-25 08:14] noyyyy opened #1440 "[Bug-Candidate]: shadow private variable"
### Describe the issue:

I made a small change to the [state-variable-shadow](https://github.com/crytic/slither/wiki/Detector-Documentation#state-variable-shadowing) example. If the variable `_owner` in BaseContract is decorated by private and it cannot be inherited by DerivedContract. The `isOwner` is BaseContract will work properly.

## Suggestion
I suggest that the `shadowing-state` detector ex

[2022-10-26 08:24] #1252 closed

[2022-10-26 08:29] montyly commented on #1424
Hi @CodeSandwich , that's a good point. We have to update the detector

[2022-10-26 08:39] montyly commented on #1436
Yes unfortunately this is due to our current IR, and to solve it correctly we need to improve it.

[2022-10-26 08:41] montyly commented on #1439
that's a great point @plotchy, we should do that

[2022-11-01 17:09] krypston104 commented on #1142
I am not sure if this issue is still being considered, but having the option to get a csv (or txt) output directly from the CLI would be a very good idea

[2022-11-01 23:55] daltyboy11 opened #1446 "[Bug-Candidate]: crytic compiler error when running slither on project with hardhat and foundry"
### Describe the issue:

I have a project that uses both hardhat and foundry and I am trying to run slither with foundry. From the root dir (where hardhat.config.ts and foundry.toml are located) I run this

[code]

--compile-force-framework is necessary because without it slither defaults to 'npx hardhat compile --force'

And the output is is

[code]

This looks like an error in the crytic compile

[2022-11-02 15:13] bmarcot opened #1447 "[Bug-Candidate]: False positive for unprotected-upgrade detector when initializers are disabled"
### Describe the issue:

It seems `unprotected-upgrade` can be detected on contracts that have disabled initializers in their constructor. See the following example:

[code]

And detection by `slither`:

[code]

It looks like OpenZeppelin introduced `_disableInitializers` specifically for EIP-1167 proxied contracts:

Ref. https://github.com/OpenZeppelin/openzeppelin-contracts/blob/master/contracts

[2022-11-02 15:18] 0xalpharush commented on #1447
This should be fixed if you install slither-analyzer==0.9.0 which includes https://github.com/crytic/slither/pull/1344.

[2022-11-02 15:25] bmarcot commented on #1447
Fixed in 0.9.0

[2022-11-02 15:25] #1447 closed

[2022-11-02 20:08] krypston104 opened #1448 "[Bug-Candidate]: Slither VSCode extension not working"
### Describe the issue:

I have Slither installed and I am able to run it in my projects from the terminal  by using `python -m slither .` without any problem. However, being installed the VSCode extension, I am not able to run it from there and get the analysis results tidily displayed in it. This is the error I get when I request the analysis:

[code]

This is most surprising, since I can actual

[2022-11-03 13:24] 0xalpharush commented on #1446
We chatted on Telegram. I believe this is blocked by https://github.com/foundry-rs/foundry/issues/3450

[2022-11-03 13:30] 0xalpharush commented on #1448
It looks like you many have conflicting python configurations since you can run `python -m slither .`. I would make sure the python where slither is installed matches your PATH (configuring this will depend on your OS). If that doesn't help, let me know please.

[2022-11-03 19:46] #1407 closed

[2022-11-03 19:46] #1322 closed

[2022-11-03 20:29] 0xalpharush commented on #922
closed by [fix triage prompt not displaying #1435](https://github.com/crytic/slither/pull/1435)

[2022-11-03 20:29] #922 closed

[2022-11-03 20:30] 0xalpharush commented on #885
closed by [fix triage prompt not displaying #1435](https://github.com/crytic/slither/pull/1435)

[2022-11-03 20:30] #885 closed

[2022-11-03 21:57] 0xalpharush opened #1450 "implicit, named return does not have RETURN node"
[code]
The AST does not contain a `ReturnStatement` so we never create a `RETURN` node. We can enhance slithIR with this implicit return and change the node's type.

[2022-11-04 14:56] SheldonHolmgren opened #1452 "Tracking: support for imports with alias (either symbol alias or unit alias)"
### Describe the issue:

See the linked repo with a minimal reproducible example. Running `slither . --compile-force-framework foundry` leads to the crash with a backtrace pasted as the log output below. This is because Slither cannot find a contract named `c.Counter` (as referenced from `src/Importer.sol`).

If I edit Importer.sol in the following way:
[code]
slither runs without problem.

### Co

[2022-11-05 16:00] mds1 opened #1453 "feat: support `// slither-disable-start <detectors>` and `// slither-disable-end <detectors>`"
### Describe the desired feature

Right now you can only disable detectors for the next line, but it would very helpful to be able to disable them for larger blocks of code. A sample use case is writing solidity scripts with foundry: reentrancy is not a concern at all so I can disable reentrancy for the file, but I still want to run uninitialized variable checks to avoid passing the zero address a

[2022-11-07 14:18] 0xalpharush commented on #1453
Right now, the results get filtered out here:
https://github.com/crytic/slither/blob/4a6ba78aca5eebff237509274b48c26e011853d6/slither/core/slither_core.py#L244
It currently looks at the previous line of the result:
https://github.com/crytic/slither/blob/4a6ba78aca5eebff237509274b48c26e011853d6/slither/core/slither_core.py#L185-L196
I think it'd make sense to create and memoize a dict for each file

[2022-11-07 14:18] #1354 closed

[2022-11-07 15:10] 0xalpharush commented on #1452
Thanks for creating a repo for reproducing this. We also need to address https://github.com/crytic/slither/issues/1364

[2022-11-07 18:22] plotchy commented on #1439
@0xalpharush sure, can do

[2022-11-07 21:29] 0xalpharush opened #1458 "making exclude/ fail-on behavior more intuitive"
There's some confusion about the default behavior and prioritization of `--exclude-*` and `--fail-on-*` flags. For example, since `--fail-on-pedantic` is enabled by default, one must pass `--exclude-informational  --exclude-optimization --no-fail-pedantic` to disable informational and optimization level detectors.

Current thinking:
- Decouple fail and exclude
- Create --fail-on Enum[optimization,

[2022-11-08 01:31] #1250 closed

[2022-11-08 13:59] rpajunen opened #1459 "Inconsistent results with slither and documentation"
### Describe the issue:

Slither output recommends not using solc version 0.8.16 for deployment.

![image](https://user-images.githubusercontent.com/22210719/200582185-733ba7ff-dd42-4245-a92c-cc1a67b498de.png)

But the [reference link](https://github.com/crytic/slither/wiki/Detector-Documentation#incorrect-versions-of-solidity) takes to documentation that states it is a recommended version.

![ima

[2022-11-08 14:04] elopez commented on #1459
Hi @rpajunen, thanks for the report. You seem to be using an older version of Slither, could you please upgrade to the latest version (0.9.1) and confirm if this is still an issue?

I believe the recommendations were updated around the time for the 0.9 release, so upgrading your local installation should make things consistent with what's on the reference link.

[2022-11-08 18:56] rpajunen commented on #1459
Hi @elopez, I just realized I should've posted this issue to [eth-security-toolbox repo](https://github.com/trailofbits/eth-security-toolbox) as that's what I'm using to run slither. So that repo's docker image has slither v.0.8.3, that's why I don't have the latest version.

I'm going to install the latest version when I have time and post the results here. Let me know if you find out something i

[2022-11-08 21:19] mds1 commented on #1453
Thanks! That was super helpful, just opened https://github.com/crytic/slither/pull/1461

[2022-11-08 23:13] mds1 commented on #1213
I believe I'm having the same issue. Running `crytic-compile .` succeeds, but `slither .` fails. Using a foundry repo, tried `forge clean` + reinstalling deps but still seeing the problem.

Versions:
[code]

To reproduce:
1. Clone https://github.com/ScopeLift/flexible-voting
2. Switch to `scopelint` branch
3. Install deps with `forge install`
4. Run `slither .` to get the below stack trace:

From

[2022-11-09 03:33] alexisdavidson opened #1463 "[Bug-Candidate]: ERROR: Failed building wheel for pysha3"
### Describe the issue:

Hi, when I try to install with pip install slither-analyzer, I get the error "ERROR: Failed building wheel for pysha3". I did already install the Windows build tools. I can't find much help on Google unfortunately. I am on Windows 11.

### Code example to reproduce the issue:

pip install slither-analyzer

### Version:

not installed

### Relevant log output:

[code]

[2022-11-09 11:53] elopez commented on #1463
Hi @alexisdavidson, thanks for the report! This is the same issue discussed here: https://github.com/crytic/solc-select/issues/125

Unfortunately the pysha3 dependency has been unmaintained for a while and cannot be built with Python 3.11. There is an open pull request to replace it with something maintained, https://github.com/crytic/slither/pull/1454, so it should be resolved soon. In the meanti

[2022-11-09 16:37] 0xalpharush commented on #1213
At first glance, it looks like maybe there's some sort of conflict in the compilation artifacts between the IERC165's defined in aave-v3 and forge-std as the function that's being parsed here is `executeMintUnbacked` in Aave. Or something about the import aliases in Aave aren't handled properly in slither... Will dig into this more later

[2022-11-09 18:13] Fletch153 opened #1464 "hardhat compilation throwing KeyError"
### Describe the issue:

Trying to compile my hardhat project and run slither is throwing an error. I've also tried pre-compiling it and using the skip compile option and still no luck. This happens on both on my machine and in the docker eth toolbox container provided by TOB.

### Code example to reproduce the issue:

slither . --hardhat-artifacts-directory ./build/artifacts

### Version:

slithe

[2022-11-09 18:15] elopez commented on #1464
Hi @Fletch153, can you confirm if this also happens after running `hardhat clean`?

[2022-11-09 18:17] plotchy opened #1465 "[Bug-Candidate]: Using `super.some_fn()` causes function.entry_point property to be `NoneType`, runtime-error"
### Describe the issue:

In the below code example there is inheritance and overriding of some basic ERC20 view fns. Looking at the `totalSupply()` fn below is a case where I have encountered this bug.

[code]

 This leads to the slither `function` object having a `NoneType` for the `function.entry_point` object. This causes a runtime error for detectors like `uninitialized_storage_variables` that

[2022-11-09 18:23] Fletch153 commented on #1464
@elopez it does, i've tried a fresh install and still no luck

[2022-11-09 18:30] elopez commented on #1464
Is the project public? If you can share a link to it, it'll help to find the root cause.

[2022-11-09 18:35] Fletch153 commented on #1464
Unfortunately, it's not open source, which makes it tricky. Is there anything I can do or provide?

[2022-11-09 19:39] plotchy commented on #1464
Likely related to https://github.com/crytic/crytic-compile/issues/285

[2022-11-09 19:44] 0xalpharush commented on #1213
Maybe related to https://github.com/crytic/crytic-compile/issues/285
h/t @plotchy

[2022-11-09 22:22] plotchy commented on #1465
With the help of @smonicas we determined this is not an issue with slither. I had faulty detector logic.  `function.all_internal_calls()`

[2022-11-09 22:23] #1465 closed

[2022-11-10 20:32] alephao opened #1466 "[Bug-Candidate]: Can't install slither on python 3.11"
### Describe the issue:

One of my CI jobs started failing to install slither and it seems to happen because of the [pysha3](https://github.com/tiran/pysha3) dependency when using python > 3.11 : https://github.com/alephao/solidity-template/actions/runs/3440054726/jobs/5738065786

After freezing python to 3.10 it started working again: https://github.com/alephao/solidity-template/actions/runs/3440

[2022-11-10 20:47] elopez commented on #1466
Thanks for the report @alephao! A PR with a fix is open here: https://github.com/crytic/slither/pull/1454. Many of the crytic tools have this dependency though, so it'll require updating several packages to achieve Python 3.11 compatibility.

Related: #1463, https://github.com/crytic/solc-select/issues/125

[2022-11-10 20:55] johnnyonline commented on #806
facing the same issue, Foundry project, running on Docker with ubuntu:22.04 windows host, slither version 0.9.1.

[code]

project compiles and finishes test suite fine when running `forge build`/`forge test`

[2022-11-10 22:32] alephao commented on #1466
Oh, that's great, thanks for the quick reply!

I searched for issues, but did not look into PRs, sorry if it's a duplicate!

[2022-11-12 17:46] 0xalpharush commented on #1213
@mds1 The top level key "id" of `~/flexible-voting/out/BridgeLogic.sol/BridgeLogic.json` and `~/flexible-voting/out/IERC165.sol/IERC165.json` are the same so it causes issues when slither resolves the [source mapping ](https://docs.soliditylang.org/en/v0.8.17/internals/source_mappings.html) here:
https://github.com/crytic/slither/blob/a41f86739d9d2aad7596b9a0ac0ab2ce644fc2f3/slither/core/source_ma

[2022-11-12 19:58] mds1 commented on #1213
Ah yes, I see they have the same `id`. I think this is related to what @montyly and @mattsse were discussing here: https://github.com/foundry-rs/foundry/issues/3450

Similarly I'm not too familiar with compilation artifacts, so ultimately I'll defer to what @montyly and @mattsse agree on, but it does seem worthy of restructuring the forge build outputs to improve compatibility with tools like slit

[2022-11-13 19:46] thedavidmeister opened #1467 "[Bug-Candidate]: version 0.9.1 crashes "AttributeError: 'NoneType' object has no attribute 'context'""
### Describe the issue:

slither can't compile my code errors with "AttributeError: 'NoneType' object has no attribute 'context'"

this is with version 0.9.1

the stacktrace from slither is too cryptic to me to figure out which contract or why it is caused

### Code example to reproduce the issue:

issue is visible on this CI run https://github.com/beehive-innovation/rain-protocol/actions/runs/345

[2022-11-14 08:51] Akagi201 commented on #1466
pysha3 is outdated, please use https://docs.python.org/3/library/hashlib.html

[2022-11-14 12:06] itinance opened #1468 "[Bug]: `calls-loop` does not report the context of the loop"
### Describe the issue:

Slither reports "_has external calls inside a loop_" although the corresponding function only contains an `if` -statement.

### Code example to reproduce the issue:

Example 1:
[code]

Example 2:
[code]

### Version:

0.8.3

### Relevant log output:

[code]
[code]

[2022-11-14 13:49] 0xalpharush commented on #1468
Are `_hasRole` or `_doSafeTransferAcceptanceCheck` called within loops anywhere in the codebase?

[2022-11-14 14:34] 0xalpharush commented on #1467
Thanks for opening a bug report! This likely has to do with "using for" imports e.g. `using LibStackTop for uint256[]`, `using LibUint256Array for uint256[]`. We are working on improving support for this feature https://github.com/crytic/slither/pull/1378.
[code]

[2022-11-14 14:38] #1428 closed

[2022-11-14 18:16] itinance commented on #1468
No, definitely no loops. But calls like that:

`            if (!_hasRole(TOKEN_ROLE_ISSUER, from) && !_hasRole(TOKEN_ROLE_ADMIN, from)) {
`

Could it be that this counts as "loop" because `_hasRole` was called twice?

The second example with `_doSafeTransferAcceptanceCheck` is from OpenZeppelin (ERC1155-contract).  I couldn't find a loop also in their repository.

[2022-11-14 21:49] eMarchenko opened #1469 "[Bug-Candidate]:"
### Describe the issue:

`write-after-write` detector falsely reacts on assembly work with calldata:

### Code example to reproduce the issue:

[code]

### Version:

^0.9 - tool was run on other machine

### Relevant log output:

_No response_

[2022-11-14 22:52] #1466 closed

[2022-11-15 16:07] montyly opened #1471 "Create slither-latexify"
Similar to https://github.com/google/latexify_py, but for Solidity

[2022-11-15 21:22] kantorkid opened #1472 "[Bug-Candidate]: Wrong Detection of a Reentrancy Attack"
### Describe the issue:

Slither reports "Reentrancy" although this is not a security bug report because a user can't get control over xcKSM.transfer() function.

### Code example to reproduce the issue:

Moonscan link:
https://moonscan.io/address/0x11ACa58F37c55923C73fe53196E1DD9f6fE72230#code

Code example:

    function claim(address _holder) external onlyLido returns (uint256) {
        // go

[2022-11-15 21:34] kantorkid opened #1473 "[Bug-Candidate]: Wrong Detection of a Reentrancy Attack #1472"
### Describe the issue:

Slither reports "Reentrancy" although this is not a security bug report because the upgrade functions can be called only from DAO.

### Code example to reproduce the issue:

Link to moonscan: https://moonriver.moonscan.io/address/0xA3965dCeE17DceDA55244ff85E979D4D5b8A0D86#code

Code example:

function _upgradeToAndCallSecure(address newImplementation, bytes memory data, bo

[2022-11-15 21:41] 0xalpharush commented on #1472
Slither does not guarantee that all results are exploitable, so this result and https://github.com/crytic/slither/issues/1473 are the tool working as anticipated. The analysis is an over-approximation i.e. more results are shown than can actually happen because the runtime behavior of a token or whether an address has authorization is not available to the tool. If you see a spurious result and kno

[2022-11-16 00:21] 0xalpharush commented on #1469
It looks like the IR doesn't currently create a reference to each member of `signature`, offset and length. This would need to be added to eliminate this false positive.
[code]

[2022-11-16 15:37] outdoteth commented on #1466
Should this be fixed now? I am still getting the same error.

[2022-11-16 15:44] 0xalpharush commented on #1466
We haven't made a release so you will need to install the fix from pip using:
 `pip install git+https://github.com/crytic/slither@dev`
Alternatively, you can downgrade to python 3.10 temporarily.

[2022-11-17 19:23] Marvinmw opened #1474 "[Bug-Candidate]:"
### Describe the issue:

SlitherError: Invalid compilation:
Solidity version not found:

I have installed all Solidity versions. In my MAC OS, solc has no --version option.
### Code example to reproduce the issue:

contract C {
    int8 constant a = -7;
    function f() public pure {
        uint[-a] memory x;
        x[0] = 2;
    }
}

### Version:

0.9.1

### Relevant log output:

[code]

[2022-11-17 19:30] 0xalpharush commented on #1474
It looks like you don't have solidity compiler installed. You can install it with `pip install solc-select && solc-select install [version]` where version is something like 0.8.17 or whatever version of solc you'd like to use

[2022-11-18 08:04] Marvinmw commented on #1474
hi, it does not work... I am using MAC OS.

[2022-11-18 12:10] Marvinmw commented on #1474
On Mac, solc does not have --version option.

[2022-11-18 12:17] elopez commented on #1474
Hi! solc for mac does have `--version`, are you sure you're running solc and not something else like solcjs?

Can run the following commands to check?

[code]

If you installed `solc-select` to manage the different solc installations, you can get a certain solc installed and selected like this:

[code]

[2022-11-21 11:10] #1474 closed

[2022-11-21 15:18] 0xalpharush commented on #1440
@plotchy Can you elaborate on your point about constant and immutable perhaps with an example? I think the constants in the parent contract could be marked private in that scenario, right?

[2022-11-21 17:12] devtooligan commented on #1440
Yeah, thinking about this more now.  The conflict comes from the getter created by the compiler when you set a var's visibility to public, regardless of whether its state, immutable, or constant.

[2022-11-21 22:07] devtooligan opened #1476 "Refactor `_uses_vulnerable_solc_version()` onto the base AbstractDetector class"
### Describe the desired feature

I was looking at ticket https://github.com/crytic/slither/issues/1424 and trying to figure out how we would limit the solc versions that the detector would run on.

I noticed one place we already do this is with `_uses_vulnerable_solc_version()` in [enum_conversion.py](https://github.com/crytic/slither/blob/master/slither/detectors/compiler_bugs/enum_conversion.py

[2022-11-22 03:26] billtlee opened #1478 "[Bug-Candidate]: slither not found error from vscode"
### Describe the issue:

I am on OSX and am using pyenv.  I have installed slither and the vscode extension.  However, every time I start code, I am getting error saying slither not found.

### Code example to reproduce the issue:

NA

### Version:

➜  nft-marketplace git:(nightly) slither --version
0.9.0
➜  nft-marketplace git:(nightly)

### Relevant log output:

_No response_

[2022-11-22 03:27] billtlee commented on #1478
⸻ Slither: Solidity static analysis framework by Trail of Bits ⸻
Error: /bin/sh: slither: command not found

Error: Slither not found:
Please verify slither is installed with the following command: "pip install slither-analyzer"
For more information, please visit: https://github.com/crytic/slither

[2022-11-24 23:45] QEDK commented on #1316
Bumping this.

[2022-11-26 06:11] WarrenPanDDDD commented on #1197
My project contains solidity files with version 0.5.16 and 0.8.3. If I `solc-select use 0.5.16`or `solc-select use 0.8.3`, it can't compile the other version. What should I do?

[2022-11-26 06:27] WarrenPanDDDD opened #1479 "Error: Source file requires different compiler version"
### Describe the issue:

My project contains solidity files with version 0.5.16 and 0.8.3, i install solc like this:
`pip install solc-select
  solc-select install all
  solc-select use 0.5.16`

But if I `solc-select use 0.5.16`, it can't compile files with version 0.8.3

What should I do?

### Code example to reproduce the issue:

[code]

Run slither:
`slither ./contracts --json slither_output_${

[2022-11-27 02:46] elopez commented on #1479
Hi @WarrenPanDDDD, are you using a compilation framework like hardhat? If so, consider using the project folder as the target instead; this will let the compilation framework handle things like mixed solc versions and remaps:

[code]

[2022-11-28 04:04] WarrenPanDDDD commented on #1479
@elopez Great! Thank you so much, it save my day.

[2022-11-28 04:04] #1479 closed

[2022-11-28 11:21] arijoon opened #1481 "Support for Hardhat projects with Yarn PnP"
### Describe the desired feature

Yarn version 2 and above are quickly becoming industry standard due to the optimal way of package management. Especially with PnP mode of dependencies, there are no more `node_modules` folders. This is specifically a problem for hardhat projects as `slither` is attempting to read dependency source code from `node_modules` which no longer exists.

Hardhat already s

[2022-11-28 13:38] montyly opened #1482 "Improve reentrancy-event to better support cross function risks"
With https://github.com/crytic/slither/pull/1351, we removed a lot of FPs due to `nonReentrant`. However at the same time we removed TP for cross function reentrancy that can lead to have events in the incorrect order. See https://github.com/crytic/slither/pull/1351#issue-1341663766.

We should improve the detector to catch these edge cases

[2022-11-28 13:38] #1019 closed

[2022-11-29 18:04] 0xalpharush commented on #1473
Duplicate of https://github.com/crytic/slither/issues/1472

[2022-11-30 15:44] 0xalpharush commented on #1440
Need to establish how we want to approach this with @montyly... we don't want to completely drop the warning but perhaps it belongs in separate, informational detector.

[2022-11-30 15:46] 0xalpharush commented on #1464
@Fletch153 Can you install the latest slither and post the output of `slither-doctor .`?

[2022-11-30 15:55] 0xalpharush commented on #1371
I wasn't able to replicate an error on `bytes20(x == y ? z : x)`. Do you have a full snippet I can use? (The call value ternary is not working for sure).

[2022-11-30 17:13] mds1 commented on #1371
The repo is now public, so can link to the full codebase: [here](https://github.com/endaoment/endaoment-contracts-v2/blob/0a948b25182a2c777b3531c301d0dfbb77385aae/src/test/UniV3Wrapper.fork.t.sol#L82) is the specific line.

That repo has changed a bit since I originally tried running slither against it in september, but `slither .` out of the box didn't work and led me to open a few issues here, s