[2018-09-06 09:23] lorenzb opened #1 "unrecognized arguments: --low"
The readme says that there is a `--low` flag, but when I try it I get an error:
[code]

Also, it might be nice to change the usage line of the help to
[code]
I initially assumed that flags go before the file to be analyzed.

[2018-09-06 10:19] montyly commented on #1
Thank you for the issue!

It should be fixed in https://github.com/trailofbits/slither/commit/f47c4385db33c09d26e3dc67b20d58ec80995f91

Note that the current public version of slither has only one detector available on it. Tutorials and more detectors are coming

[2018-09-07 10:54] dguido opened #4 "Get Slither working in Python 3"

[2018-09-07 10:58] dguido opened #5 "Add detector modules equivalent to Manticore"
https://github.com/trailofbits/manticore/wiki/Ethereum-Detectors

- [ ] integer overflows
- [ ] invalid instructions
- [x] uninitialized memory
- [x] uninitialized storage
- [x] re-entrancy
- [x] re-entrancy (advanced)
- [x] unused return values
- [x] problematic delegatecalls
- [x] reachable selfdestruct
- [x] reachable externalcall
- [ ] potentially unsafe or manipulable instructions
- [ ] trans

[2018-09-07 11:02] dguido opened #6 "Value and taint tracking"
We're writing an Intermediate Representation (IR) for Solidity that enables capturing a greater level of detail about the code. Slither will translate the AST to the IR, and then perform analysis on the IR.

[2018-09-07 11:04] dguido opened #7 "Add tests"

[2018-09-07 18:18] ggrieco-tob opened #9 "Show the user how many contracts slither found and analyzed"
It could be useful to show the user how many contracts analyzed in a directory, just to make sure it found the expected files. Right now, slither outputs:

`INFO:Slither:somepath/contracts/ analyzed, 0 result(s) found`

We could show how many contracts we analyzed:

`INFO:Slither:somepath/contracts/ analyzed, 0 result(s) found in XX contracts`

[2018-09-08 08:03] dguido opened #10 "Add functionality to exclude specific tests"
I don't think the --high, --medium, --low flags make a ton of sense right now. As a user, it's more common that one or more noisy checks are false positives and I want to disable them specifically. We should add some notion of IDs to each check, then have a single flag like `--exclude reentrancy` or similar to turn it off for that run.

[2018-09-08 14:30] dguido opened #11 "Add non-security style/linting checks"
https://github.com/duaraghav8/Solium
https://github.com/protofire/solhint

[2018-09-10 09:47] disconnect3d commented on #4
https://github.com/trailofbits/slither/pull/8

[2018-09-10 09:58] #4 closed

[2018-09-10 16:43] #1 closed

[2018-09-10 16:46] montyly commented on #10
Fixed in https://github.com/trailofbits/slither/commit/d7e15590dfdb07839ed1d2b012206394ad434faf
Any detector can now be excluded with `--exclude-name`
It is also possible to exclude a category of detectors, e.g. `--exclude-informational`

[2018-09-10 16:46] #10 closed

[2018-09-10 16:58] #9 closed

[2018-09-14 10:29] #7 closed

[2018-09-14 22:46] dguido opened #18 "Integrate with Truffle"
Truffle is the most popular development framework for smart contracts, and building this feature would enable the largest possible audience to have instant access to Slither.

At Trail of Bits, we are not experts in the internals of Truffle, and we try to avoid writing anything in JavaScript whenever possible. Our expertise here is limited and we're looking for help to implement this feature the "

[2018-09-17 05:08] dguido opened #19 "Add a dockerfile"

[2018-09-24 16:37] montyly commented on #6
WIP in https://github.com/trailofbits/slither/tree/slithir

The current PoC of the taint is here: https://github.com/trailofbits/slither/blob/a15af9699328ea3135f88ee02fe91498631dd272/examples/scripts/taint_mapping.py

The script can detect a call to a tainted address

[2018-10-03 22:44] dguido commented on #18
I received some in-person feedback today that this was an important feature.

[2018-10-08 04:10] montyly commented on #19
done (https://github.com/trailofbits/slither/pull/21)

[2018-10-08 04:10] #19 closed

[2018-10-08 08:32] samparsky commented on #11
@dguido can you shed more light on this issue?

[2018-10-09 13:17] dguido commented on #11
@montyly Can you file individual issues for non-security checks you'd like to see contributed?

[2018-10-10 12:54] montyly opened #22 "Support compact solc AST"
`--ast-compact-json` gives a different AST, which is supposed to be more precise.

Additionaly it seems that the solc support for the `--ast-json` format will be remove in the future.

Finally, it should also help supporting truffle (https://github.com/trailofbits/slither/issues/18)

[2018-10-10 16:03] disconnect3d opened #23 "Printer: Inheritance printing on stdout"
Hey,

It would be cool to be able to print inheritance to stdout (to quickly analyze things), examples:
* see what inherits from BaseContract: `BaseContract childrens: A, B, C, D, E, ...` (it should also list the contracts that derives from A, B, C, D, E)
* see all base classes for given contract: `Children inherits from: BaseContract1, BaseContract2, BaseBaseContract, SuperBaseBaseBaseContract`

[2018-10-17 09:57] montyly opened #24 "Detector: Check that variables follow the Solidity naming convention"
Add a detector checking that the variables follow the [Solidity naming convention](https://solidity.readthedocs.io/en/v0.4.25/style-guide.html?highlight=naming%20convention#naming-conventions)

- Severity Informational

[2018-10-17 10:07] montyly opened #25 "Detector: Detect state variables that could be declared as constant"
If a state variable cannot be changed at runtime, it should be marked as `constant`, so that it can be optimized by solc

- Severity: Informational

Hints: variables have the attribute `is_constant`. To be precise the detector should use [slithIR](https://github.com/trailofbits/slither/tree/a06ef44038e430f3b8b1383481ff241bd03e68a2) and check that:
-  the variable is never the `lvalue` of a [Operat

[2018-10-17 10:09] montyly opened #26 "Detector: Detect use of inline assembly"
Functions using inline assembly are more prone to errors

- Severity: Informational

hint: Explore the CFG, and check if a node has the [ASSEMBLY](https://github.com/trailofbits/slither/blob/105b594e47988a6bf5ecf426f6854337f3a5e63f/slither/core/cfg/node.py) type

[2018-10-17 10:11] montyly opened #27 "Detector: Detect the use of low level calls"
Low-level calls are more prone to errors
- Severity: Informational

Hint: Use [slithIR](https://github.com/trailofbits/slither/tree/a06ef44038e430f3b8b1383481ff241bd03e68a2) to detect if an operation is a [LowLevelCall](https://github.com/trailofbits/slither/blob/a06ef44038e430f3b8b1383481ff241bd03e68a2/slither/slithir/operations/low_level_call.py)

[2018-10-17 10:16] montyly commented on #23
This can be implemented as a new printer (and maybe rename the original `--printer-inheritance` to `--printer-inheritance-graph`)

[2018-10-17 10:38] montyly commented on #11
hey @samparsky , thanks for your interest in slither.

I created several issues with the label `help wanted`.

I also updated the [detector documentation](https://github.com/trailofbits/slither/wiki/Adding-a-new-detector).

Dont hesitate to join [our slack](https://empireslacking.herokuapp.com) (#ethereum) if you have any questions.

[2018-10-17 11:00] montyly opened #29 "Detector: Detect public functions that could be declared as external"
If a public function is never called, it should be marked as external, so that it can be optimized by solc
- Severity: Informational

Hints:Use [slithIR](https://github.com/trailofbits/slither/tree/56079226efc78a83438c55b91ce8dabbb0b7813c) and check:
- the function is never the destination of an [InternalCall](https://github.com/trailofbits/slither/blob/56079226efc78a83438c55b91ce8dabbb0b7813c/sli

[2018-10-17 12:07] mkosowsk commented on #25
Note from ToB team:

[2018-10-17 12:47] montyly opened #30 "Detector: rewrite uninitialized_state_variables with SlithIR"
The [uninitialized state variable detector](https://github.com/trailofbits/slither/blob/master/slither/detectors/variables/uninitialized_state_variables.py) could be simplified with SlithIR

A state variable is not initialized if its never the `lvalue` of an [OperationWithLValue](https://github.com/trailofbits/slither/blob/56079226efc78a83438c55b91ce8dabbb0b7813c/slither/slithir/operations/lvalue.

[2018-10-17 15:59] samparsky commented on #29
@montyly I am interested in this issue, would like to work on it

[2018-10-18 10:52] montyly commented on #29
Great!
For information, I pushed `slithir` into master, and started its documentation here: https://github.com/trailofbits/slither/wiki/SlithIR

Some detectors are already using SlithIR and can help, such as [arbitrary_send.py](https://github.com/trailofbits/slither/blob/1c5f48affe8d6967358c123e6753d84cc69209a4/slither/detectors/functions/arbitrary_send.py)

[2018-10-18 11:00] cryptomental commented on #26
Hi @montyly  great! I will rebase asap and update the travis script.

[2018-10-18 12:28] montyly opened #33 "Document and standardize the json output"
We have private documentation for the json output. We need to standardize its format and bring it to the open source repo.

Some of the fields use a different naming convention, such as `mixedCase` / `non_mixed`. We need to settle on one naming convention.

[2018-10-18 12:55] cryptomental commented on #27
In progress.

[2018-10-18 13:12] disconnect3d commented on #26
Added in #31

[2018-10-18 13:12] #26 closed

[2018-10-18 13:12] montyly commented on #26
Good job @cryptomental! https://github.com/trailofbits/slither/pull/31 is merged.

@mkosowsk can you validate the bounty?

Thanks!

[2018-10-18 14:19] cryptomental commented on #27
PR opened: https://github.com/trailofbits/slither/pull/36

[2018-10-18 15:23] cryptomental commented on #25
This detector is a bit more complex than my previous ones but I hope to open a pull request today, tomorrow at the latest.

[2018-10-18 16:41] montyly commented on #27
Thanks for your contribution!
The PR looks good, the detector just needs a separate testcase

[2018-10-18 18:31] montyly opened #37 "Update travis test to run only a set of detectors"
Right now, most of the travis tests run all the detectors, which can be confusing when a new detector is written.

It would be better to run one detector at the time per testcase

See https://github.com/trailofbits/slither/pull/34#issue-223942736

[2018-10-18 18:44] montyly commented on #25
Cool, thanks for the effort!

If you have any question about the API, I am available on slack (https://empireslacking.herokuapp.com/, #ethereum)

[2018-10-18 18:49] redshark1802 commented on #37
I will update the tests after #34 got merged.

[2018-10-18 20:56] cryptomental commented on #25
Thanks @montyly . It was a bit tricky but I got it right ;) PR opened: https://github.com/trailofbits/slither/pull/38

[2018-10-18 21:32] dguido commented on #11
I am going to close this issue in favor of the individual ones that we filed

[2018-10-18 21:32] #11 closed

[2018-10-18 21:33] dguido commented on #6
SlithIR has been merged into master.

[2018-10-18 21:33] #6 closed

[2018-10-18 21:33] dguido opened #39 "Add support for Vyper"
SlithIR is flexible enough that we should be able to support Vyper with few modifications. This will require investigating how Vyper produces their AST and providing for some translation into SlithIR. SlithIR may need modification in the process to support the unique features of Vyper's AST.

[2018-10-18 21:33] dguido opened #40 "Add support for LLL"
SlithIR is flexible enough that we should be able to support LLL with few modifications. This will require investigating how LLL produces their AST and providing for some translation into SlithIR. SlithIR may need modification in the process to support the unique features of LLL's AST.

[2018-10-19 02:38] dguido opened #41 "Push package to pip"

[2018-10-19 07:31] #24 closed

[2018-10-19 07:33] montyly commented on #24
#34 is merged, thanks @redshark1802 for your contribution!

@mkosowsk, could you validate the bounty? Thank you!

[2018-10-19 07:53] #37 closed

[2018-10-19 07:58] montyly commented on #27
PR #36 merged, thanks again @cryptomental !

@mkosowsk can you also validate the bounty? thx!

[2018-10-19 10:09] montyly opened #43 "Detector: Detect complex functions"
In the `printer_human_readable` branch we compute the cyclomatic complexity of a function: https://github.com/trailofbits/slither/blob/printer-human-readable/slither/utils/code_complexity.py

We can extend this idea and create a detector that detects complex functions. A complex function could be defined as:
- high cyclomatic complexity (this needs some tests to define what is a high value for a s

[2018-10-19 10:17] montyly opened #44 "Printer: Callgraph printer"
A callgraph printer would show for each function, what are the contracts/functions called.

For example, on
[code]
It should show that `ContractB.my_func_b()` calls `ContractA.my_func_a` and `ContractB.my_second_func_b()`

The printer will output a dot, similar to the inheritance printer.

It's probably more readable to group the functions of a contract into a dot `subgraph`

[2018-10-19 11:34] mkosowsk commented on #27
@cryptomental please submit your work via the [the Gitcoin Issue Details page](https://gitcoin.co/issue/trailofbits/slither/27/1516) and I will send over bounty ASAP. Thanks! 👍

[2018-10-19 11:35] mkosowsk commented on #24
@redshark1802 please apply for work on the [Gitcoin Issue Details page](https://gitcoin.co/issue/trailofbits/slither/24/1513) and I will approve you. Thanks!

[2018-10-19 11:41] cryptomental commented on #30
I could pick this up on Monday.

[2018-10-19 11:42] cryptomental commented on #27
Thanks @mkosowsk ! the issue can be closed now.

[2018-10-19 11:48] mkosowsk commented on #27
Thanks @cryptomental! But don't thank me, thank the Ethereum Community Fund 👍

See you on the next bounty!

[2018-10-19 11:54] cryptomental commented on #27
ECF rocks! See you!

[2018-10-19 12:03] #27 closed

[2018-10-19 12:59] #41 closed

[2018-10-19 16:36] montyly opened #45 "Detector: Unused return value of a call"
If the return value of a function is never used, it's likely to be bug.

- severity low/medium

SlithIR can be used to track if the value returned by a call is used:
- If the function does not return a value, the  `lvalue` of the operation is `None`, otherwise its a variable.
- We can check if the `lvalue` is in the `read` list of another operation

Example:

[code]

[2018-10-19 17:38] #23 closed

[2018-10-19 17:39] montyly commented on #23
#PR42 merged, thanks @pvgupta24!

@mkosowsk could you send the reward? Thank you!

[2018-10-19 18:00] fubuloubu opened #47 "Handle multiple files"
Would be nice to run batch analyses

[code]

[2018-10-19 18:13] fubuloubu commented on #47
Ah, noted it can take a single directory `slither contracts/`

This however doesn't work if the directories are heirarchical. Slither does not recurse down to see if there are any files below it.

I prefer globbing in bash (`slither **/*.sol`) over handling it inside Python, but that's a personal preference

[2018-10-19 19:32] redshark1802 commented on #24
@mkosowsk fyi: I have applied but gitcoinbot hasn't updated this issue

[2018-10-19 22:03] dguido opened #48 "Document how to add Slither to a git pre-commit hook"
... or via something like (but not exactly) [guard](https://github.com/guard/guard).

[2018-10-20 10:18] redshark1802 commented on #47
I created small patch that supports globbing here https://github.com/redshark1802/slither/commit/8448de32144f2961f7c867d4a76bc5d8b740463e
Let me know if this ok and I will also create a pr with updated documentation.
Be sure to quote the glob, e.q. `slither 'tests/**/*.sol'`

[2018-10-20 15:57] fubuloubu commented on #47
Yup, looks good!

[2018-10-20 16:23] dguido opened #50 "Modify command line arguments"
The command line arguments are setup differently than I would expect for Slither. I wonder what people think about changing them? I would have expected some of these changes:

* `--detect` which takes a comma-separated list indicating the checks to run (default: all)
* `--print` which takes a comma-separated list of printers to output (default: ???)
* `--output` which accepts a single parameter of

[2018-10-20 18:28] 6ug commented on #29
@montyly I also like to work on this, but not finding option of `start work` on gitcoin.
Have gone through `solidity` and how to add detector in `slithir`, starting with test driven development.

[2018-10-20 18:46] 6ug commented on #45
@montyly  any plan to add bounty option for this issue?

[2018-10-20 18:51] dguido commented on #45
All issues are covered by bounties. Check the wiki :-D

[2018-10-20 18:57] 6ug commented on #45
Voila! I have started to work on this issue, I am beginner, make this reserve for me thanks for confirming @dguido

[2018-10-21 14:41] redshark1802 commented on #50
Personally I'd say this is more consistent with other tools.
I'm going to take a look at this tomorrow.

[2018-10-21 18:45] montyly commented on #25
Thanks @cryptomental , PR 38 merged. This detector was more complex, good job!

@mkosowsk could you validate the bounty? thx!

[2018-10-21 19:14] mkosowsk commented on #25
@cryptomental please submit your work [here](https://gitcoin.co/issue/trailofbits/slither/25/1515) and I will pay out ASAP. Nice one! :)

[2018-10-21 19:16] #25 closed

[2018-10-21 19:46] cryptomental commented on #25
Great! Thank you.

[2018-10-21 22:16] benstew commented on #48
Hi @dguido - This issue caught my attention after checking out the recent Slither [blog post](https://blog.trailofbits.com/2018/10/19/slither-a-solidity-static-analysis-framework/). Really starting to see the power of detectors as I dig more through the codebase.

Agreed that adding a pre-commit hook seems like a logical/common implementation. I would suggest adding the documentation to the mentio

[2018-10-21 22:16] benstew commented on #50
In agreement here. I would be in favor of changing following @dguido's suggestion.

It seems like one of the only open items would be around the default `--print` option. I don't think we need to overthink this, just utilizing the contract summary as the default should add utility. If another printer is sought, it's easy to update the parameters. Plus it will support the existing [printer document

[2018-10-22 11:07] mkosowsk commented on #29
@6ug please do not start work on this bounty as @samparsky has already been approved to start work. Thanks!

[2018-10-22 15:08] mkosowsk commented on #24
@redshark1802 just approved, sorry about the hold-up! 👍

[2018-10-22 15:09] mkosowsk commented on #24
@redshark1802 please submit your work on the[ Gitcoin issues detail page](https://gitcoin.co/issue/trailofbits/slither/24/1513) and I will pay out the bounty :)

[2018-10-22 15:11] samparsky commented on #43
@montyly I would like to work on this too

[2018-10-22 17:08] montyly commented on #29
@samparsky
Here an example of `InternalDynamicCall`:

[code]
which gives with `slither example.sol --printer-slithir`:
[code]

[2018-10-22 19:49] redshark1802 commented on #50
I've created WIP pr in #55
@benstew thanks, any input/help is appreciated

[2018-10-22 20:07] redshark1802 commented on #50
Currently json ouput prints to a file, how should the the argument for output look like?
We would have to require one additional argument for the json output filename it json was chosen.

[2018-10-22 22:56] benstew commented on #50
@redshark1802 do you think that specifying the output filename warrants an additional required argument? Seems like we could just default to something intuitive for the time being. We can always add this functionality later based on feedback.

[2018-10-22 22:57] benstew commented on #50
nitpick - @dguido, maybe we should also add a `--version` command? Keeping things consistent with a common interface.

[2018-10-22 23:01] disconnect3d commented on #50
Yes, we should add a `--version` :).

On Tue, Oct 23, 2018, 12:57 AM Ben Stewart <notifications@github.com> wrote:

[2018-10-23 03:38] g-r-a-n-t commented on #44
Looks like work is already started here, so I will withdraw my application for the bounty.

[2018-10-23 05:01] redshark1802 commented on #50
added `--version` command
@benstew some tools require an additional argument in cases where the output should be written to file instead of stdout. This would also give the user more control and no 'unexpected' files would be created.

[2018-10-23 06:01] samparsky commented on #43
@montyly Can I start work on this?

[2018-10-23 09:07] montyly commented on #50
I think we should keep the exclusion rules related to the severity, such as `--exclude-informational`.
When reviewing for a first time a codebase, you probably want to focus only on security issues

[2018-10-23 20:12] mkosowsk commented on #18
@montyly you and @dguido have disagreements on what is an appropriate bounty size for this issue :)

I'll let you two hash it out on what makes sense for the best approach and then come back in later when scoping is figured out 👍

[2018-10-23 20:35] mkosowsk commented on #43
@samparsky you are approved 👍

[2018-10-23 20:38] redshark1802 commented on #50
I'm also in favor of leaving the `--exclude-[LEVEL]` switches in but what about `--exclude-backdoor` etc?
We still need to decide how to handle the output switch between stdout and json: should we just put the results in `results.json` when json output is used or additionally ask the user for an output filename?

[2018-10-23 20:49] redshark1802 commented on #48
There can be a lot done, from a simple manual hook registration to husky.
Also there are also a lot of possibilities for build systems: travis, jenkins, gitlab devops to name the most popular ones.
imho it should be easy to setup and use and therefore I would be against 3rd party dependencies for a "simple" git pre-commit hook.

@benstew would you like to work on this? I'd be happy to work on this

[2018-10-23 21:05] benstew commented on #48
@redshark1802 - Beat you to it my friend! Yes, a lot of different directions. Agreed that there's no reason for the Husky dependency. Using guard for inspiration, I'm planning on highlighting just two straightforward and simple ways to easily integrate into common development processes. I'm planning on documenting the below two use cases:

1) Client side pre-commit hook using the Git hooks subdire

[2018-10-24 05:56] un1t opened #57 "FileNotFoundError: [Errno 2] No such file or directory: 'solc'"
I launch  program like this:

    slither Contract.sol

and receive an error:
"FileNotFoundError: [Errno 2] No such file or directory: 'solc'"

I have solc installed.

    $ solcjs --version
    0.4.25+commit.59dbf8f1.Emscripten.clang

But executable is called **solcjs**, not **solc**. Or it is something different?

[2018-10-24 06:34] samparsky commented on #43
@montyly I have the following questions

* numerous state vars* - Is it okay to say anything greater than 20 should be considered numerous?
- Do events & modifiers count as a state var?
- Do inherited vars count too?

* numerous external calls* - Is it okay to say anything greater than 7 should be considered numerous?
- And this consists of Highlevel & Solidity calls?

[2018-10-24 06:46] redshark1802 commented on #57
Yes, these are two different commands. Please follow the install instructions for solc https://solidity.readthedocs.io/en/v0.4.21/installing-solidity.html

[2018-10-24 07:41] montyly commented on #43
Thanks for your contribution!

[code]
Note that the idea is to count the number of state variables that are written by the function, not the number of state variables of the contract.
I think we can reduce the number of state variables written to something like 10? The exact number would need a kind of benchmark, but once we have the detector, we can do the experience and adjust the value.
A funct

[2018-10-24 07:49] un1t commented on #57
Thank you!
I installed solc through apt-get, and now it works!

https://solidity.readthedocs.io/en/v0.4.21/installing-solidity.html#binary-packages

[2018-10-24 07:49] #57 closed

[2018-10-24 08:05] montyly commented on #50
I am in favor to ask the user for an output filename, and maye have `results.json` as default value?

I dont have a strong opinion about the exclude-detector, but I am ok if we use the same system than for detect (`--exlude detector1, detector2...`), as it allows a better control for the user.

Maybe we could also have `--list-detectors` and `--list-printer` to print the text description of each d

[2018-10-24 10:18] disconnect3d commented on #50
We could also put json on the stdout and all the other logs to stderr. This way the user could just do `slither ... > output.json`.

[2018-10-24 12:39] dguido commented on #57
I added a troubleshooting section to capture questions and answers like this: https://github.com/trailofbits/slither/wiki#troubleshooting

[2018-10-24 17:42] benstew opened #59 "Add Contributor Guidelines"
## Overview
To support an influx of external contributions (incentivized from Gitcoin and more organic OSS approaches), I propose adding contributor guidelines to this repo to communicate how people should contribute. This will save time for repo owners as well as contributors and help verify that PRs are well-formed and opened issues are useful.

I see two straightforward approaches that could su

[2018-10-24 17:48] dguido commented on #59
We were discussing this ourselves a day or so ago. We want to make a best practices guide for what a good detector looks like and all the parts it should have. I think that's an obvious first step.

[2018-10-24 18:43] benstew commented on #59
Thanks @dguido. Figured it was on the radar. There's definitely a lot of value in a best practices guide for detectors. I see that as one of the quickest/easiest ways to contribute. That could easily be part of the guidelines and live in the [wiki](https://github.com/trailofbits/slither/wiki). Pretty new to the codebase but let me know if you need any help with that.

Also, I still think documenti

[2018-10-24 19:21] redshark1802 commented on #50
@disconnect3d I agree, imho this a very consistent way.
@montyly going to update the --exclude behaviour but I'm not quite sure that we need --list-{printers,detectors} commands as the values are already displayed in the help.

[2018-10-24 19:54] montyly commented on #50
With each detector/printer you have an help information, which describes what the detector/printer does.

It could be useful to be able to print that description directly from the command line, so the users don't need to go back to the README page

[2018-10-25 09:54] montyly commented on #22
Compact AST is supported in `dev` (https://github.com/trailofbits/slither/pull/54)

[2018-10-25 09:54] #22 closed

[2018-10-25 10:06] montyly commented on #18
With https://github.com/trailofbits/slither/pull/54, slither supports Truffle directory (`dev` branch):
[code]

I agree with Dan, we should have an integration within truffle directly, like `truffle slither-analyze`, where the command runs the two commands above and prints the result to the user

It seems feasible through the truffle package system: https://github.com/trufflesuite/truffle/blob/nex

[2018-10-25 12:38] montyly commented on #44
Good work @evgeniuz, #56 is merged!

@mkosowsk could you validate the bounty? thanks!

[2018-10-25 12:43] mkosowsk commented on #44
@evgeniuz please submit this bounty and I will pay out ASAP :)

[2018-10-25 16:52] 6ug commented on #45
what does meaning of `Escalated for Abandonment of Bounty`, should I work for this issue?

[2018-10-25 17:02] cryptomental commented on #59
Hi, I think that adding CONTRIBUTING file would not do any harm.
I also like an idea of adding GitHub templates, as an example see e.g. here https://github.com/gitcoinco/web/tree/master/.github

[2018-10-25 17:03] dguido commented on #45
@6ug: Gitcoin's assume that developers are working in serial to resolve issues. If you are not working on this issue, then you can give it up to let someone else try it. If you are still working on it, then please say so. Thanks!

[2018-10-25 17:05] dguido commented on #48
Sounds good. Go for it.

[2018-10-25 17:06] 6ug commented on #45
@dguido  I come up with some solution and I am working with @montyly  on slack, so I asked him for review yesterday, may be I can commit that changes here and ask him hear instead. Yes, I will do it with this way.

[2018-10-25 17:07] dguido commented on #45
Great, keep working on it then. This was an automated message from Gitcoin and we have no control over it. Post a status update here whenever you make progress. Thanks!

[2018-10-25 17:17] cryptomental commented on #45
Hi @6ug Gitcoin's bot algorithm is simple - if you do not comment anything for 3 days you get a first warning, then after 6 days one of the Gitcoin power users will be notified. This is an automated message, as long as you are working on this it is all fine.

[2018-10-25 17:38] cryptomental commented on #45
Yes you can try to ping me there or ask here. Slither's github is very active. In case I am not responding @montyly is very helpful.

[2018-10-25 19:48] redshark1802 commented on #50
I've added `--list-{printers,detectors}` and utilised the already available `output_to_markdown` method  and adapted it for printers, let me know if this ok.

Also I played a bit around with json output and I think the current behaviour is just fine, i.e `--json results.json` instead of adding a new `--output` flag. This is because printers print to stdout by default and this would require a bit m

[2018-10-25 20:53] mkosowsk commented on #30
@montyly does @cryptomental's PR warrant the bounty? Thanks!

[2018-10-26 09:32] #50 closed

[2018-10-26 09:35] montyly commented on #50
Hey, I merged the PR, and added some modifications on the command line (like I removed --output, to only keep --json, we will see in the future how people are using the option)

Thanks for your help and your feedback!

@mkosowsk can you validate the bounty? thx!

[2018-10-26 10:18] montyly commented on #30
PR merged!
Thanks @cryptomental for the work and the feedback!

Could you validate the bounty @mkosowsk? thx!

[2018-10-26 10:18] #30 closed

[2018-10-26 10:50] redshark1802 commented on #50
You're welcome, thanks.

[2018-10-26 15:30] montyly commented on #29
PR merged, thanks @samparsky !

@mkosowsk could you validate this bounty? Thx!

[2018-10-26 15:30] #29 closed

[2018-10-26 15:38] montyly commented on #43
PR merged in `dev`! Thx @samparsky

@mkosowsk could you also validate this bounty? thank you!

[2018-10-26 15:38] #43 closed

[2018-10-26 15:59] ThatsNotVeryCashMoneyOfYou commented on #59
Hi, I was wondering if there was a slack channel or other form of communication besides github issues that y'all use to communicate/talk? I'm interested in this project and have never worked on anything open source before so I'm not sure where the appropriate place to ask questions is.

[2018-10-26 16:01] dguido commented on #59
Yep, https://github.com/trailofbits/slither#getting-help

[2018-10-26 17:38] benstew commented on #48
# Overview
This task left room for creativity. My approach focuses on using tools consistent with the internal development stack (python over javascript) and outlines implementations for client and server side pre-commit hooks that prevent solidity code from being merged if it contains any vulnerabilities identified by the Slither `default` analysis. This could serve as the foundation for a more r

[2018-10-30 01:14] dguido commented on #48
Hmmm, we're debating how to handle this case. Slither can emit false positive results, which may be problematic if we fail the build on any detected issues. As of today, there is no way to whitelist certain code as ok despite the detected failure.

[2018-10-30 09:53] montyly opened #63 "Use json output for travis test"
Right now the travis tests only check for the number of results returned:

https://github.com/trailofbits/slither/blob/39f560bf973acbc31c908991f94d4cb57a7e4828/scripts/travis_test.sh#L5-L16

It would make more sense to test the json output.

- [ ] Generate pre-defined json for each testcase (used as ground true)
- [ ] Update scripts/travis_test.sh to export the result in a json file (`--json`)
- [

[2018-10-30 22:22] rmi7 opened #65 "vars-and-auth printer output bug"
When using the `vars-and-auth` printer there is a bug in the output.

## Problem Description
The entire table is written out on each iteration of going through the functions of a contract, instead of printing out once after the for each function loop is done.

## Example output currently

[code]

## Expected Output

just the last one..

[code]

[2018-10-30 22:25] rmi7 commented on #65
fixed in PR #66

[2018-10-31 01:06] benstew commented on #48
Ah, didn't realize those limitations. False positives would be problematic in the build process using the above approach. If the Slither analysis returns any number of identified vulnerabilities from the detectors, the build will fail.

The whitelisting approach of detected failures makes sense but I would need to think about it more. It's probable, in future iterations, pre-commit hooks will leve

[2018-10-31 01:46] rmi7 commented on #63
fixed in PR #67

[2018-10-31 05:54] anukul commented on #18
Does slither automatically have to be installed alongwith truffle?
That would be a little complicated.

Is it okay if `truffle slither-analyze` errors out if it can't find the slither binary in the `PATH`?

[2018-10-31 06:07] anukul commented on #18
[In progress]

Does slither automatically have to be installed alongwith truffle?
I don't think that would be feasible since truffle is an npm package, and we have no reason to assume that those users would have python installed.

Is it okay if `truffle slither-analyze` errors out with an appropriate message (and perhaps a suggestion to install slither) if it can't find the slither binary in the `

[2018-10-31 09:04] #65 closed

[2018-10-31 09:06] montyly commented on #18
If slither is not found, printing a message with the slither installation commands works for me.

[2018-11-03 11:36] schemar opened #70 "Slither should identify storage variables accessed under a different name"
Hey, we came across this during the Trail of Bits workshop with @japesinator. When we are looking for a storage variable to be written to, slither does not find it if we access it under a different name in the solidity code.

We didn't figure out how to catch it with the currently available API. We were thinking about recursively tracking also variables where the storage variable would be read.

I

[2018-11-03 14:14] montyly commented on #70
Hi,

Thank you for the detailed issue! Indeed `state_variables_written` does not return variables written through a storage access (though it could).

I will look if that makes sense to integrate directly. In the meantime, using slithIR, you can track the assignment of storage local variables to a state variable and detect if a function writes to it:

[code]

You can integrate it into your script:

[2018-11-03 14:19] schemar commented on #70
Thanks @montyly ❤️

Please note that it also works when using `Balance storage other = balances;` (and thus initializing the variable).

[2018-11-03 15:11] dguido opened #71 "Rename --printers to --print"
I think it makes more sense to ask, "Hey Slither, can you print vars and auth?" rather than "Hey Slither, can you printer vars and auth?"

[2018-11-03 15:30] dguido commented on #5
https://github.com/trailofbits/manticore/wiki/Ethereum-Detectors

[2018-11-07 03:39] allenyang0812 opened #73 "No module named detectors.abstract_detector"
it will be error when I use the command, I have try  to solve the problem, but it is failure, Can you help me solve the problem? thanks in advance!
my os is ubuntu 16.04
root@biaoy3:~/MetaCoin/contracts# lsb_release -a
No LSB modules are available.
Distributor ID: Ubuntu
Description:    Ubuntu 16.04.5 LTS
Release:        16.04
Codename:       xenial

this is the error message.
root@biaoy3:~/MetaCo

[2018-11-07 08:17] montyly commented on #73
Hi,
Slither requires python 3.6 (your logs show the use of python 2.7).

If I am not mistaken, Ubuntu 16.04 doesn't have python 3.6 by default, but you can install it following [these instructions](https://askubuntu.com/a/865569).

I am curious, how did you install slither with python 2.7?

[2018-11-07 09:19] allenyang0812 commented on #73
@montyly ok, thanks, I will try it again

[2018-11-07 09:52] allenyang0812 commented on #73
@montyly sorry, it is my fault, I use the unmatched python version lead to the problem.

[2018-11-08 04:15] ryan-shea commented on #18
Hey @anukul, Ryan from Gitcoin checking in here. How's the progress coming on this bounty? Is there anything I can do to help move it along? Thanks 😸 🎉

[2018-11-08 04:19] ryan-shea commented on #45
Hey @montyly, Ryan from Gitcoin here checking in. Looks like @6ug has a solution in #68 -- do you think you could take a look at it and close up the issue? Let me know if you have any questions 😄 🌮

[2018-11-08 08:51] montyly commented on #5
Update of the issue:
-  `integer overflows`: slither needs precise numerical analysis for it; we are not yet here.
- `invalid instructions`: it does not make a lot of sense at the Solidity level.
- `unused return values`: https://github.com/trailofbits/slither/pull/68.
- `potentially unsafe or manipulable instructions`: a generic warning for 'unsafe' instructions won't give useful information to t

[2018-11-09 09:33] anukul commented on #18
@ryan-shea Just made a PR, waiting for review.
I'm not sure what part I could write a test for, since `truffle slither-analyze` is only forwarding everything to the slither CLI.

[2018-11-09 14:42] montyly commented on #45
@6ug what is the state of #68? The detector does seem to detect unused return values.

The last commit was 7 days ago, are you still working on it? Or should we open the issue to other contributors?

If we don't have update in the following days, I will assume that you stoped working on it and that we can open it to other contributors.

[2018-11-09 21:52] dguido opened #76 "Shorten --exclude-detectors to just --exclude"

[2018-11-10 20:17] dguido opened #77 "Add support for yarn"
I'm not sure if we have to do anything special for it, but I've noticed a few projects are using yarn now. Here's a sample: https://github.com/SetProtocol/set-protocol-contracts

[2018-11-12 21:35] anukul commented on #18
@ryan-shea @montyly Given the response on the PR, do we keep this on hold?

[2018-11-14 14:46] montyly commented on #39
https://github.com/trailofbits/slither/tree/dev-vyper

(not usable for now)

[2018-11-14 16:05] montyly commented on #18
Yes, unfortunately, we won't have a `truffle slither-analyze`.

We will see how the `truffle run <command-plugin>` works, maybe we can still have a npm package to integrate slither within truffle, though I may not sure that it will provide any advantage over just running `slither .`

I will integrate the execution of `truffle compile` with slither, and we will see what makes more sense for the use

[2018-11-14 16:06] montyly commented on #76
Done in https://github.com/trailofbits/slither/commit/82d4730f125c1101c923e4121c1f0f0c74027f67

[2018-11-14 16:06] #76 closed

[2018-11-15 08:35] nemozqqz opened #79 "Exception: Ternary operation not handled"
- slither version: 0.2.0
- solc version: 0.4.25

In some case slither raises an exception of ternary operation, here is a test file:
[code]

and the trace
[code]

[2018-11-17 15:34] anukul commented on #18
Cool, is there anything I can do to complete the bounty?

[2018-11-17 15:35] anukul commented on #18
Cool, is there anything else I can do to complete the bounty?

[2018-11-19 03:32] zxhubo opened #80 "can't use xdot for slither"
Yes, I have been use xdot for slither to analyze contract with the for example in the wiki,but the result is
[code]

,and the for example is

[code]
the result is `-bash: dot: command not found`
why? can U help me?

[2018-11-19 08:20] zxhubo commented on #80
first the problem of "(xdot:70219): Gtk-WARNING **: 11:24:00.117: Error" ，reference `https://trac.macports.org/ticket/45229`，use command “brew install gnome-icon-theme” can resolve this problem。but I run  with command “xdot wallet.sol.dot ” ，the result is "dot: Not a directory" ? why ?

[2018-11-19 08:42] zxhubo commented on #80
the second problem of “dot: Not a directory” ,I have been resolved, must install with this command "brew install graphviz" In MacBook . If use other system,use  other install command ,for example apt-get,yum .

[2018-11-19 10:29] montyly commented on #79
Hi,
Thanks for the issue!

It is fixed in https://github.com/trailofbits/slither/commit/4d9062a6e320080cd54aa79dd3a53295f764cb66

[2018-11-19 19:21] montyly commented on #45
Thanks @benstew for your contribution, I merged the #78

@ryan-shea: Could you validate the bounty? Thank you!

[2018-11-19 19:21] #45 closed

[2018-11-19 20:29] montyly commented on #48
The PR looks good!

Some comments:
- The output for a vulnerability uses multiple lines, so we should keep everything which is in between two `INFO:Detectors:` (or between the last `INFO:Detectors:` and the end of the output)
- running slither only on modified files will make slither missing vulnerabilities. For example, you can do a modification in `Base.sol` that does not add a bug in `Base.sol`

[2018-11-19 20:40] benstew commented on #48
Thanks for the feedback @montyly.
- Yes, that makes sense. I wasn't sure what was the best output but it's highly customizable. Could even look to include timestamps, commit hashes, etc if multiple contributors and you want to treat it more as a log.
- It's somewhat of a double edged sword. It's definitely possible to run slither on the whole project but then you will face a longer wait and potent

[2018-11-20 10:16] montyly commented on #80
Yes, you need to have both dot and xdot installed.
I have updated the guidelines for their installation here: https://github.com/trailofbits/slither/wiki#dot-command-not-found

Does that solve the issue?

[2018-11-21 10:30] ceresstation commented on #45
@montyly so we'll pay out to @benstew then?

[2018-11-22 06:07] zxhubo commented on #80
@montyly Yep, thanks.

[2018-11-22 13:45] cryptomental commented on #77
Hi @dguido this does not seem to apply to slither project. Yarn / npm is used for Node.js based packages and both tools consume package.json file.

[2018-11-26 06:11] ceresstation commented on #48
Hey @montyly is this one good to pay out or do you still need a few more changes from @benstew?

[2018-11-26 08:17] #80 closed

[2018-11-27 19:36] montyly opened #82 "Improve track of storage reference"
In the following example, both contracts have the same outcome, but slither detects an initialized variable in `Reference`:
[code]

The issue is that slither does not track the storage reference created through `mapping(uint256 => uint256) tmp = map[0];`, while it should.

It is close to the issue #70

[2018-11-27 23:44] zedt3ster opened #83 "Slither Bug: AttributeError: 'MappingType' object has no attribute 'type'"
### Description

First of all, thanks to Trail of Bits for creating and maintaining this great solidity static analyser!
Slither produces the following error messages when executed against specific solidity contracts:

[code]

### Steps to reproduce

* Install slither 0.3 using a new python virtual environment (bug was reproduced using python 3.7.0 and 3.7.1)
* Run slither against the following co

[2018-11-28 08:16] ceresstation commented on #18
Hey @montyly any thoughts on @anukul's comment?

[2018-11-28 08:30] montyly commented on #48
Hey @ceresstation, the issue is close to being finalized.
We are discussing with @benstew over slack about some improvements for it

[2018-11-28 10:01] #83 closed

[2018-11-28 10:02] montyly commented on #83
Hi @zedt3ster, thanks for the issue!

It's fixed in `master`. Slither works on `Nomin.sol` now

[2018-11-28 11:57] montyly opened #85 "Improve or create better remix plugin"
Remix integrates now by default a plugin to run slither: https://medium.com/remix-ide/remix-ide-v0-7-5-released-a386ed6faf38

The current plugin is https://github.com/mul1sh/remix-analysis-plugin (it was built from this issue: https://github.com/ethereum/remix-ide/issues/1500)

The plugin does not give a good user experience:
![image](https://user-images.githubusercontent.com/13798342/49150057-a56

[2018-12-03 15:21] dguido commented on #77
So is this issue invalid? There's nothing we can or should do to help support build systems like the one in the set-protocol-contracts repo?

[2018-12-04 21:01] mkosowsk commented on #18
@anukul please submit work on the Gitcoin [issues detail page](https://gitcoin.co/issue/trailofbits/slither/18/1617) and we will pay out ASAP. Thanks and my apologies about the delay! :)

[2018-12-04 21:14] anukul commented on #18
@mkosowsk I can't seem to log in to Gitcoin.
I had reported the issue and it is being tracked on their repo - https://github.com/gitcoinco/web/issues/2743

Can you proceed with the payment from your end?
Or I'll have to find some time this weekend and try to fix that bug myself. :P

[2018-12-04 21:47] dguido commented on #39
Hey @mestorlx, thanks for applying to work on this bounty! Can you provide a little bit more detail before you start? Thanks!

[2018-12-05 14:34] dguido commented on #85
@mul1sh: I think that would be great! We're not short on bounties, we're happy to reward you for any improvements too. samparsky has likely already started working on whatever they will build, but I don't think it's a problem if there are multiple solutions.

[2018-12-05 14:38] mul1sh commented on #85
@dguido awesome thanks 👍  i've actually also done everything else required in the plugin apart from `Use colors` because I wanted to know what colors you prefer?

Otherwise I expect to finish in not more than 3 hours and the plugin will be live in remix to test 🙂

[2018-12-06 10:11] mul1sh commented on #85
@dguido @montyly I've updated the plugin as requireds here https://github.com/mul1sh/remix-analysis-plugin. The only thing remaining is, which colors do i use for the output and then the plugin will be good to go :)

[2018-12-06 18:36] montyly commented on #85
After internal discussions, here a list of additional requirements for the bounty:
- The plugin should be for slither only (and not integrate other tools)
- The list of finding should be sorted by severity (green/yellow/red). It would be nice to be able to show/hide the finding according to the severity
- If solidity >=0.5 is used, a warning should show that slither does not support yet Solidity>=

[2018-12-06 18:56] #77 closed

[2018-12-06 18:58] montyly commented on #33
This was fixed with 0.3.1

[2018-12-06 18:58] #33 closed

[2018-12-06 19:20] montyly opened #89 "SlithIR: Incorrect conversion of return tuple"
Slither does not convert correctly return with tuple expression:
[code]
Only `test3` is correctly translated to slithir:
[code]

[2018-12-06 19:45] mestorlx commented on #39
Hi @dguido As I understand vyper is intended to be "simpler" than solidity and since its made by the same team I guess both AST should be really similar. Comparing the structures of both AST it will be possible to analyze the required changes in the code that generates the SlithIR to deal with the differences. But the idea would be to use vyper tools to get the AST and pass it to slither current t

[2018-12-07 18:39] montyly opened #90 "Visual Studio Plugin"
We should have a visual studio plugin

Features:
- Run slither
- Save the results
- List the bugs found (with a checkbox 'Won't fix/False alarm")
- Once you click on a bug, it highlights the code (using the JSON information)

[2018-12-07 18:44] montyly commented on #48
Hey @benstew, any luck with the recommendations I sent you on slack?

If there is a blocking point, let me know how I could help

[2018-12-07 20:00] montyly commented on #39
Some comments/recommendations:

On the branch `dev-vyper`  I created https://github.com/trailofbits/slither/blob/dev-vyper/slither/vyper_parsing/slither_vyper.py

So you can directly give a vyper contract from the command line:
[code]

I think we can directly import the python `ast` module to parse the file, I would recommend to not mix the ast from Solidity and the one from Vyper.

`SlitherVyper`

[2018-12-08 08:19] samparsky opened #91 "Add more details to JSON output"
#### 1. If I have two contract definitions in a file e.g.
[code]
The json output doesn't tell me which of the contracts the function in the output belong to
The JSON output looks something like this
[code]
it doesn't indicate which contract it belongs to.

#### 2. Add Error Message
It would be great to have the error log messages displayed in the terminal as part of the JSON output.
The current im

[2018-12-08 13:05] mihairaulea opened #92 "Docker image issues"
1. Clone Slither git repo
2. docker build -t slither
3. docker run slither

[code]

MacOS Mojave
Docker version 18.09.0, build 4d60db4

[2018-12-08 13:21] samparsky commented on #92
@mihairaulea Slither doesn't support Solidity 0.5.0 as of now

[2018-12-08 13:29] mihairaulea commented on #92
Just found out the same thing :) it seems the docker image works with an older version of solc. to add to the confusion, the example files(those i tried) do not compile with solc 0.5.1

[2018-12-09 11:57] montyly commented on #91
@samparsky Let me know if #94 fixes both issues

[2018-12-09 12:01] montyly opened #95 "Add support for Solidity 0.5.0 and 0.5.1"
See https://solidity.readthedocs.io/en/v0.5.1/050-breaking-changes.html

[2018-12-09 15:41] samparsky commented on #85
@montyly @dguido This is the design so far, still a work in progress
<img width="499" alt="screen shot 2018-12-09 at 4 40 33 pm" src="https://user-images.githubusercontent.com/8148384/49699424-4fc75400-fbd1-11e8-810b-4de59cd63eb3.png">

[2018-12-09 20:54] ktb88 opened #96 "detector (old solc) only checks 0.4.23, 0.4.24"
slither version: 0.3.1

in /slither/attributes/old_solc.py
[code]

It detects only "0.4.23", "0.4.24" as safe version. (even test solidity uses 0.4.25, it detected as old version)

should it be changed like under 0.4.25 is unsafe version? and also it will be great to support 0.5.X versions :)

[2018-12-10 02:53] CPSTL commented on #48
@dguido @montyly @benstew - Hey all, Gitcoin Ambassador here to ask how the submitted improvements have been going?

[2018-12-10 07:35] #92 closed

[2018-12-10 10:53] ktb88 commented on #96
I thought this issue more carefully, this is not that easy to resolve because the versioning issues are not depend on pragma syntax but solc binary (--solc option or default solc).

One straightforward way to handle this issue is that every detectors have their own affected version list (solc binary version). But I think this way is hard to maintain to refresh all the detectors on every version up

[2018-12-10 15:19] ktb88 commented on #96
I wrote simple check code that validates pragma syntax and find possible old version (target_version) can be compiled.

But as I mentioned this approach is quite ambiguous because the pragma syntax is very very flexible. (even official document is not well-documented, https://solidity.readthedocs.io/en/v0.5.1/miscellaneous.html#language-grammar)

I think finding use of old solc is important becaus

[2018-12-10 21:12] montyly commented on #96
Thanks for the contribution @ktb88!

Indeed the grammar is not well defined.

More I think about it, more I think that complex pragma declarations should be flag as bad. If someone declares
`pragma solidity >=0.4.23<=0.6.0>=0.4.22>=0.4.24 <=0.5.2>0.4.1`, something is wrong.

We could parse the pragma through a simple regular expression, and classify as an issue if it does not match. So instead of

[2018-12-10 23:40] krx opened #97 "Incorrect do-while CFG"
The following loop outputs the wrong CFG
[code]

![out](https://user-images.githubusercontent.com/4693247/49768519-9dfc5600-fcaa-11e8-98fa-688042185473.png)

Correct output would look like this:
![out2](https://user-images.githubusercontent.com/4693247/49768651-077c6480-fcab-11e8-8f07-4168d23558d4.png)

[2018-12-11 01:33] ktb88 commented on #96
@montyly yes, you're right. I've just focused on the crazy syntax but that should be flagged as bad in practice. I think that your categorization is enough to resolve the issue. (its clear not complex, reduce false alarm, easy to maintain) great!!!

[2018-12-11 02:29] ggrieco-tob opened #98 "Exception: Ternary operation not handled"
Slither crashes when analyzing [this contract](https://etherscan.io/address/0xc6C09Ae980b3d029DEB7419fA1B7859DCe7186D0#code):

[code]

[2018-12-11 11:18] ggrieco-tob opened #99 "AttributeError: 'ArrayType' object has no attribute 'type_to'"
Slither crashes when analyzing [this contract](https://etherscan.io/address/0xb07ec2c28834b889b1ce527ca0f19364cd38935c#code):

[code]

[2018-12-11 11:21] ggrieco-tob opened #100 "slither.solc_parsing.expressions.expression_parsing.VariableNotFound: Variable not found: _options"
Slither crashes when analyzing [this contract](https://etherscan.io/address/0xdb6d68e1d8c3f69d32e2d83065492e502b4c67ba#code):

[code]

[2018-12-11 11:33] #91 closed

[2018-12-11 15:57] montyly opened #101 "Printer/external tool: Finding code similarity"
Given two codebases, slither should be able to detect the similar functions/contracts

A naive approach could be to only compare the AST of the functions.

We can also have a more sophisticated approach, where we abstract the name of the variables/functions and compare an high-level signature of the functions.  The academic literature is rich on this domain, so this work could lead to even more ex

[2018-12-11 16:33] samparsky commented on #91
@montyly There is no `description` field for `naming-convention` errors

[2018-12-11 17:22] alicevhenshaw opened #103 "KeyError: 2157"
INFO:Slither:truffle compile running...
INFO:Slither:
ERROR:root:Error in .
ERROR:root:Traceback (most recent call last):
  File "/usr/local/lib/python3.7/site-packages/slither/__main__.py", line 229, in main_impl
    (results, number_contracts) = process_truffle(filename, args, detector_classes, printer_classes)
  File "/usr/local/lib/python3.7/site-packages/slither/__main__.py", line 90, in proc

[2018-12-11 17:48] montyly commented on #103
Hi,
Thanks for the report.

This issue is usually related to an internal bug in truffle (see https://github.com/trailofbits/slither/wiki#keyerror-or-nonetype-error), that occurs if two contracts share the same name, or if two file shares the same filename.

Could you share the source code, or check if it is the case?

[2018-12-11 17:55] alicevhenshaw commented on #103
It wasn't the case but I know the truffle build folder stores things from previous builds that are no longer relevant. I've deleted the old build folder and rebuilt from scratch and now slither works.

Thanks!

[2018-12-11 17:58] #103 closed

[2018-12-11 18:02] fubuloubu opened #104 "Issue with Function Summary printer"
Balance.sol:
[code]
[code]

[2018-12-11 19:16] montyly commented on #104
Hi @fubuloubu , thanks for the report!

I fixed it in [master](https://github.com/trailofbits/slither/tree/a860e0f96c95bebfd1c591a0bd5a238d4677547c)

[2018-12-11 19:59] fubuloubu commented on #104
Works!

[2018-12-11 19:59] #104 closed

[2018-12-11 21:05] mattaereal opened #105 "Add local truffle compile alternative"
Currently slither does runs `truffle compile` before running.
If there is no system or global truffle installed, it fails:
[code]
Add the option to run `npx truffle compile` instead of just `truffle compile`.

[2018-12-12 06:13] benstew commented on #48
@montyly - So I had some time to review. Setting up a commenting system is straightforward with Travis. I saw the Test-Slither repo but I haven't had time to update the actual PoC. But for this piece of work, we will have to use the Github Rest API. The steps should be:
1. Create a Github personal access token w/ repo/public repo scope
2. Save the token as an encrypted variable in the .travis.yml

[2018-12-12 11:39] samparsky commented on #85
@monthly Sure!
Here is the repository

https://github.com/samparsky/remix-plugin-slither
You should run it via dev mode because the `slither-analzyer` installed via `pip` doesn't have the suggested JSON output modifications present.

The idea is that it would support slither versions from "0.3.2" because of the json output modifications.

[2018-12-12 13:04] #98 closed

[2018-12-12 13:04] #89 closed

[2018-12-12 13:05] montyly commented on #100
Fixed in [master](https://github.com/trailofbits/slither/commit/a4032dc000101668ac16a666283a99229468b087)

[2018-12-12 13:05] #100 closed

[2018-12-12 13:06] montyly commented on #97
Fixed in [master](https://github.com/trailofbits/slither/commit/39d88e119ac43416aa971b5aa80008ef6101e440)

[2018-12-12 13:06] #97 closed

[2018-12-12 13:08] montyly commented on #99
Fixed in master [master](https://github.com/trailofbits/slither/commit/f70fe60b1d81313c764f063c0ed1f6f160364aa7)

[2018-12-12 13:08] #99 closed

[2018-12-12 13:12] #95 closed

[2018-12-13 16:12] evgeniuz commented on #39
I've started implementation using plan from https://github.com/trailofbits/slither/issues/39#issuecomment-445348817, i. e. start by filling structure (contract/functions) and then proceed with transforming vyper expressions to slithIR expressions. Will submit PR when some basic contract/function parsing is in place.

[2018-12-13 23:05] #105 closed

[2018-12-13 23:09] montyly commented on #105
Thanks for you contribution @mattaereal

I slightly changed the format of your PR, the flag is named `--truffle-version` and takes an argument.

The goal is to also allow any version of truffle to be run.

For example you can run
`slither  --truffle-version truffle@beta .`
To run with Truffle v5 (which uses Solidity 0.5)

Or
`slither  --truffle-version truffle@4.1.14 .`
If you want to use truffle

[2018-12-14 01:21] mattaereal commented on #105
Excellent. The main idea behind the "local" run, was to use current project's truffle version, but there may be projects that aren't configured correctly or you may opt to use one in top of another.

Thanks for merging :)

[2018-12-14 08:23] ktb88 opened #109 "__main__.py: import same class three times"
in slither/slither/\_\_main\_\_.py, line 129-131

same class imported three times

[code]

[2018-12-14 12:54] #109 closed

[2018-12-14 12:54] montyly commented on #109
Good catch @ktb88

It is fixed in https://github.com/trailofbits/slither/commit/97d4b32bd1899d1b1d2044faee74bea34818c145, thx !

[2018-12-15 20:07] ktb88 commented on #96
@montyly I've updated above check code from python2 to python3 and fix some errors, but still remain some ambiguous cases

[code]

result
[code]

Is this result right direction as you mentioned? and i'm sry this thread may bothers you. If you okay then I'll make a PR for this.

[2018-12-17 04:41] CPSTL commented on #85
Hello @montyly @dguido ! Gitcoin here - checking in to see if @samparsky 's PR has been reviewed yet?

[2018-12-17 15:55] mattaereal opened #110 "Crash on run on particular repo"
Will debug later to see what's happening. This is the error I'm getting on a project.
[code]

I'll try to address the issue later. Keep up the good work.

[2018-12-17 16:00] disconnect3d commented on #110
@mattaereal Hey, can you provide any testcase for that (ideally a minimal crashing example but a repo or anything should be enough)?

[2018-12-17 16:02] mattaereal commented on #110
I'm editing the issue because I found out it had nothing to do to the latest updates.

[2018-12-17 16:03] mattaereal commented on #110
I'm closing it because it's not useful as it is, will come back with a better understanding of the issue.

Thanks!

[2018-12-17 16:03] #110 closed

[2018-12-17 16:44] montyly commented on #110
Hey @mattaereal ,

For info, it might be related to a truffle bug, see: https://github.com/trailofbits/slither/wiki#keyerror-or-nonetype-error

[2018-12-17 19:39] samparsky commented on #101
@montyly For comparing the AST, would this possibly apply to let's say comparing a codebase in Vyper to one written in Solidity?

[2018-12-18 10:04] mattaereal commented on #110
Thanks! It may have been that, I had two contracts with the same name. Weird was that the stack trace did not show anything related to truffle. In fact, the compilation went just fine, because I did `truffle compile` by hand.

[2018-12-20 20:30] agroce opened #111 "AttributeError: 'NodeSolc' object has no attribute 'nodeId' (with weird continue structure)"
running slither on this file:

[code]

crashes with this error:

[code]

The code structure is odd, but the compiler seems to accept it.

[2018-12-21 20:37] montyly commented on #101
That's a great idea @samparsky !

If we have an abstraction of the function which is language-agnostic (using slithIR for example), we will be able to find similar code across different languages.
Though I am not excepting this to be possible in the short term

[2018-12-21 21:21] mrice32 opened #112 "False positive for unused-state-variables"
Not sure if this is technically something that should be raised as an issue, but we ran into this with some of our contracts. I simplified the false positive to this example:

[code]

This causes slither to complain that we are not using `a` or `b` when the contract clearly makes use of both.

[2018-12-21 21:48] dguido commented on #112
It is! Thanks for noting it. We'll see what we can do to refine the unused state variable check.

[2018-12-21 22:23] mrice32 opened #114 "False positive on contracts-that-lock-ether"
Forwarding ether to another contract in a payable method seems to incorrectly trigger the locking warning despite the fact that all ether is forwarded rather than stored. As with #112, feel free to close if this is not the right forum or this error is working as intended. See the following example that triggers the error:
[code]

[2018-12-21 23:48] agroce commented on #101
Is this mostly looking for code-clones where the similarity is hinted by similar structure and code, or is deep semantic similarity a major concern?  I have a research thrust that's developing right now on an approach to code fragment similarity that uses tests to look for similar, even if structurally different, code, plus is interested in things like:

- function/fragment A and B behave identica

[2018-12-22 23:32] mrice32 opened #115 "False positive for unused-return"
Sorry for posting so many false positives, but this was the last one we found in our codebase that seemed to be erroneous. The `unused-return` detector seems to be tricked when using a ternary that calls a function inside a return statement. Since it seems that all three of those conditions must be true to trigger the erroneous detection, this seems like an edge case that can easily be avoided by

[2018-12-22 23:42] dguido commented on #115
This is great, thank you! Drop by our Slack and say hello: https://empireslacking.herokuapp.com/

[2018-12-23 00:17] benstew commented on #48
@CPSTL - Hoping that @montyly's 👍 is a sign that work is completed?

[2018-12-23 11:17] montyly commented on #112
Hi @mrice32 , thanks for reporting these issues!

The issue is that slither does not handle currently storage reference pointers (see #70 , #82)

We are working to integrate their support (see #87).

[2018-12-23 11:27] #114 closed, assigned to nobody

[2018-12-23 16:35] ggrieco-tob opened #116 "Duplicate printing of detected issues"
Sometimes, when an issue is detected, it is printed twice:

[code]

[2018-12-28 08:49] aquiladev commented on #90
what version of VS?

[2018-12-29 22:16] evgeniuz commented on #39
I'm going to take myself off this bounty, as I have quite a bit of work at the end of the year. I probably won't be able to spend time on this for about two weeks or so. If no one else handles this till then I can continue. Sorry for not doing it earlier :(

[2019-01-02 09:21] samparsky commented on #90
@montyly Progress so far. Still working on proper coloring for the error messages.
Adding color to the vscode output channel isn't quite straightforward

<img width="1069" alt="screen shot 2019-01-02 at 10 17 37 am" src="https://user-images.githubusercontent.com/8148384/50586044-1902f780-0e78-11e9-875c-33569c2f6fe3.png">

[2019-01-02 09:46] samparsky commented on #101
@montyly I'd like to work on this if possible.

[2019-01-03 16:43] mihairaulea commented on #39
Hey @montyly , i am going to write some unit tests for the final implementation. If we agree on them, i can start working on this. Happy New Year!

[2019-01-03 19:18] mrice32 opened #118 "False positive on external-function"
When a function is declared by and called within the base class and overridden by the derived class, slither generates an error on the derived class saying that the function could be made external because the derived class doesn't call the function internally. However, the internal linkage is being used by the base class, and Solidity doesn't allow a derived class to change the visibility of a fun

[2019-01-03 20:17] mrice32 opened #119 "Feature request: ignore third party libraries."
It would be nice to be able to ask slither to ignore third party libraries (or just certain paths) when running in a truffle directory. For instance, open zeppelin's libraries are triggering some warnings (the external function and naming convention detectors) in our codebase. Rather than completely disable these detectors in our CI, we would like to be able to ignore warnings that point to open z

[2019-01-04 13:51] montyly commented on #118
Thanks @mrice32 for the report! It's a valid issue.

We are going to update the detector to avoid this FP

[2019-01-04 19:20] mihairaulea commented on #39
@dguido @montyly do you still want this? should i start work on it? i would like to start by building a scaffold for this, using abstract classes and interfaces, and write the unit tests that the final implementation should pass. i have worked with ASTs in both Java and Javascript, and i have a contribution to Slither, so i understand what the project does.

[2019-01-04 19:45] mihairaulea commented on #39
Cool, @montyly, thanks for the update! If you would approve me, i will start right away. Won't bother you until i have the scaffolding in place :D

[2019-01-04 19:45] montyly commented on #119
Hi @mrice32 , that's a really good idea!

I am not entirely sure how to implement it correctly though.

It's easy to filter the json results according to a blacklist of source mapping directories, but it would be a bit more complex to filter the results printed to the standard output based on a list of directories (because of how the detectors work).

An alternative solution is to allow Slither to

[2019-01-04 22:37] mrice32 opened #120 "'NoneType' object has no attribute 'type'"
We're seeing an undefined property-related crash in our testing. We began using chained calls to Open Zeppelin's `SafeMath` library more heavily, and we started seeing this crash. I wasn't able to figure out exactly what caused the crash other than a chain of calls along with certain overloaded functions being declared. The following is Slither's output:
[code]

This is the minified example contra

[2019-01-06 17:58] ggrieco-tob opened #121 "AssertionError when analyzing a return with arrays"
Latest revision of Slither fails to analyze the following contract:

[code]
with this error:

[code]

[2019-01-06 18:20] benstew commented on #48
@CPSTL, @mkosowsk - Any update here?

[2019-01-07 08:55] montyly commented on #48
Hey @benstew, I am still trying to make a solution working and a documentation from your proposal and this tutorial https://damien.pobel.fr/post/github-api-from-travisci/ on slither-test.

I simplified the solution here: https://github.com/trailofbits/slither-tests/blob/master/githubComment.sh

I have some concerns about the use of the GITHUB_TOKEN, and I did not have time to investigate them. For

[2019-01-07 09:16] #118 closed

[2019-01-07 09:20] montyly commented on #96
Hey @ktb88, are you still working on this? Otherwise, I will fix the detector based on our discussion.

Your fix as a PR is definitely welcome!

[2019-01-07 09:21] montyly commented on #85
I am closing the issue, the plugin is great! we are going to host it somewhere soon so that http://remix.ethereum.org/ will have access to it.

[2019-01-07 09:21] #85 closed

[2019-01-07 09:41] montyly commented on #101
That sounds great @agroce!

One of the idea of this work is to push Slither towards more research/academic areas. The question of finding code similarity at different levels (same structure, same semantic, semantic close but not with minor differences, ..) using static analysis is not novel, but I think it could be well applied to smart contracts (as we have access to tons of source code) using Sl

[2019-01-07 10:49] montyly commented on #120
Hi @mrice32 , thank you for this report!

The issue is that Solidity allows implicit conversion from uint256 to int256 on signature lookup (in this case it does `mul(int(1 ether))`). I fixed it in the `dev` branch. I am going to perform more thorough tests and merge it to master soon

[2019-01-07 11:01] montyly commented on #121
It is already fixed in `dev` (I am not sure when I fixed it). `dev` will be soon merged into master

[2019-01-07 11:01] #121 closed

[2019-01-07 15:07] mrice32 commented on #120
Thank you!

[2019-01-07 16:44] #120 closed

[2019-01-07 22:12] WyseNynja commented on #18
I think this should be closed.

[2019-01-07 22:13] dguido commented on #18
Yes, I think this is sufficiently addressed for now.

[2019-01-07 22:13] #18 closed

[2019-01-07 22:13] WyseNynja opened #123 "AttributeError: 'NoneType' object has no attribute 'is_analyzed'"
[code]

I created the [contract json](https://gist.github.com/WyseNynja/393dcb483e45797f88960a62271689a9) in a [very non-standard way](https://github.com/ethereum/solidity/issues/5758), so I'm sure that is at the heart of the issue. It is probably missing a section since I only include the abi, ast, and bytecode. What else does slither need?

[2019-01-08 08:47] montyly commented on #123
The issue is that the json you manually created is missing a part of the code.

If you look at the inheritance of `GasToken2`:
[code]
- `536` is the id of `GasToken2`
- `722` is the id of `Rlp`, but the its definition is not present in the json

Slither needs access to all the source code to work, so you need to add the definition of `Rlp`.
If you compile both contracts separately, the id generate

[2019-01-08 09:35] montyly commented on #39
Hi @mihairaulea, thanks for your interest!

I just had a discussion with the Vyper devs team; they are going to create a specific AST output, containing enhanced information than the classic python ast module will not provide (ex: with the vyper type information). See https://github.com/ethereum/vyper/issues/1179#issuecomment-451977184

I am putting this work on hold until we have a first poc of t

[2019-01-08 14:13] mihairaulea commented on #39
@montyly i have offered to help the Vyper team, as well. I think we should start outlining the structure of how this would work in Slither, regardless. How long do you think it will take for the Vyper team to finish this?

[2019-01-08 17:36] WyseNynja commented on #123
I used truffle to build the JSON as an external compile step. I need an older compiler for this contract than the one my own contracts are using.

Can you recommend a better way to build this JSON?

[2019-01-08 19:36] montyly commented on #123
Could you share the code that your are trying to analyze?

I am not sure to understand why you need a manual json editing.

If your project is a truffle project, running `slither .` on top of the truffle directory will be enough. I would recommend deleting the `build` directory before running slither, in case you have manually edited files in it.

[2019-01-08 19:55] WyseNynja commented on #123
My project is a truffle project. The problem is that I'm also including other projects that aren't truffle projects and I need to build them, too.

I'm not manually editing JSON. Truffle is doing that part. I'm just passing output from solc to truffle like I thought I was supposed to.

More detail here: https://github.com/trufflesuite/truffle/issues/1607

[2019-01-08 20:20] montyly commented on #123
I see!

I am not entirely sure about the error:
[code]

Is it possible that the generated json mixes the solc compact ast format with the legacy one? If it folows only the compact ast format, each node should have a `nodeType` item (and so `data_loaded` should have it too)

If you have a minimal codebase that produces the same error, I can try to reproduce it

[2019-01-08 20:24] WyseNynja commented on #123
Oh, so we do want `--ast-compact-json` and not `--ast-json`. I'll put it back to that and see what happens. If that doesn't work, I'll push my repo to GitHub so you can take a look.

Thanks for the help!

[2019-01-08 20:30] montyly commented on #123
Could you check that all the ids in the `linearizedBaseContracts` items of the json refer to a `ContractDefinition` node id?

[2019-01-08 20:35] WyseNynja commented on #123
I'm pretty new to this, but I think the definition for rlp is missing. I guess adding rlp.sol to the end of my solc command isn't enough.

https://gist.github.com/WyseNynja/e76a61f1564650ba34a037648d5fcc60

[2019-01-08 21:02] montyly commented on #123
I am able to have slither working, but its a bit tricky:
- In an empty directory, run `touch truffle.js` and create a subdirectory `build/contracts`
- Copy `GasToken2.json` file to `build/contracts`
- Extract the json from rlp.sol: `solc-0.4.25 rlp.sol  --ast-compact-json > rlp.json`
- Edit `rlp.json`:
    - Change the id of the contract to 722, (it should be at lines 11, 36, and 39)
    - Add an

[2019-01-08 21:30] WyseNynja commented on #123
That is certainly trickier than I was hoping for.  Your directions pointed me to a typo that got it working though! A bad copy/paste had me using the same ast file for both GST2 and rlp.

./scripts/build-external.sh
[code]

truffle-config.js
[code]

[code]

I have a feeling that my truffle-config.js is going to get pretty long if I have to do this for all the upstream projects. Luckily 0x has a ve

[2019-01-08 21:30] #123 closed

[2019-01-09 10:07] montyly commented on #82
The alias analysis is merged in master, this FP is not anymore reported

[2019-01-09 10:07] #82 closed

[2019-01-09 10:11] montyly commented on #70
The alias analysis is merged in master, slither is able to detect that
[code]
is a write to `balances`

It does not consider that an uninitialized storage variable points to the first slot in memory, but I think that's ok as it does report uninitialized storage reference as a bug.

[2019-01-09 10:11] #70 closed

[2019-01-09 10:59] montyly commented on #112
For information, `master` now tracks alias for storage references but is not yet interprocedural.

It means that it will detect that
[code]
Is a write to `a` or `b`, but is not yet able to do the same if the storage reference is a result of a function call (here `getChosenStruct`)

We are going to add the support for interprocedural alias analysis

[2019-01-10 00:53] Xenomega opened #124 "Unimplemented function.is_empty is None when it should be True"
When a function is unimplemented, it will have the `is_empty` property as `None` (as `_parse_cfg` was never hit to set the underlying value).

This is undesirable as a check such as `if function.is_empty:` will yield false, as if it has a body. One of the existing detectors currently has a check like this, and has some false-negatives as a result.

By default we should set `_is_empty` to True inst

[2019-01-10 07:13] montyly commented on #124
I am not sure about this change, for empty functions there are three cases:
- The function is implemented and has a body: return `True`
- The function is implemented and has no body: return `False`
- The function is not implemented (it's just an interface): return `None`

The current documentation of `is_empty` states that `is_empty` is None for interfaces:

https://github.com/trailofbits/slither/

[2019-01-10 08:15] montyly commented on #39
Great @mihairaulea!

I am trying to see how we could best help the vyper team to export their code in a standard format, that would be usable by Slither (see [the discussion](https://github.com/ethereum/vyper/issues/1179#issuecomment-453006206))

In term of Slither integration, we could follow the steps outlined in https://github.com/trailofbits/slither/issues/39#issuecomment-445348817, but using

[2019-01-10 14:31] Xenomega commented on #124
Ah. I missed that. If this has purposefully been done, then we should probably leave it and just fix the affected detector. I just figured initially such behavior could make naive usage more error prone.

[2019-01-10 14:31] #124 closed

[2019-01-10 15:33] benstew commented on #48
@montyly - Thanks for the update. Will take a look. There are secure ways of passing the github token as an environment variable. I will try to take a look this weekend.

[2019-01-10 15:43] montyly commented on #90
@ceresstation could you approve @samparsky for this work?

Thanks!

[2019-01-10 18:53] ptare opened #126 "False positive on reentrancy detector when calling a `view` function"
When a method calls a `view` function on an external contract and then modifies state, one of Slither's reentrancy detectors trigger. See this minimal example [1] and the error Slither produces [2].

A call to a view function should be safe against reentrancy bugs (as long as the Solidity version is ^0.5.0) because any calls back into the calling code will also be prevented from changing state, so

[2019-01-10 19:03] montyly commented on #126
Hi @ptare,

Thank you for your feedback, that's an interesting corner case!
We are going to update the reentrancy heuristic to take it into account

[2019-01-10 19:23] mrice32 commented on #112
That sounds great! Thanks for taking the time to work on this!

[2019-01-10 21:10] ptare opened #127 "Potential false positive for reentrancy when calling the same contract"
When a method calls back into the same contract by using `this`, Slither picks that up as a potential reentrancy bug. See this example [1] and the error produced [2].

Calling into the same contract isn't giving control to some external, untrusted contract, so this pattern could be considered safe. On the other hand, I do understand what the detector is flagging, so please feel free to close this

[2019-01-11 07:50] samparsky commented on #119
@montyly Since slither contains the source path of a file, we can check the source path for the root dir of third-party libraries and ignore it from being printed.

For example if we have flag to ignore like
`slither --ignorefile openzeppelin-solidity,demo`

We can pass the list of root dirs during the initialisation of the `AbstractDetector` and in the `log` function we can check the source path

[2019-01-11 17:43] montyly commented on #101
Yes, feel free to join our [slack](https://empireslacking.herokuapp.com/) #ethereum :)

[2019-01-11 17:49] Rodwan-Bakkar commented on #101
Thank you @montyly :) I will

[2019-01-13 17:17] montyly commented on #101
I spoke with @Rodwan-Bakkar on slack, he is working on a solution

[2019-01-13 17:33] agroce commented on #101
@montyly

Sounds good.  Echidna might be a more natural fit for the dynamic similarity approach, though right now having a way for it to "think" about other contracts (which is where you'd care about similarity, more than within-contract) would take some work.

[2019-01-13 17:37] montyly commented on #119
A bug can be related to something in `openzeppelin-solidity`, but not a bug of the library itself.
For example, if you shadow a variable of the library, the path will point `openzeppelin-solidity`. So we can't just filter the log information based on a list of paths.

I am considering to add a function `is_valid_result` to `AbstractDetector`, that would take a json result and check if it be should

[2019-01-13 23:11] benstew commented on #48
@montyly - You can encrypt private environment variables in the Travis config file. https://docs.travis-ci.com/user/environment-variables/

Wouldn't this solve your issue?

[2019-01-14 08:46] sriharikapu opened #128 "virtualenvwrapper.sh: There was a problem running the initialization hooks."
[code]

[2019-01-14 14:05] montyly commented on #96
Fixed in https://github.com/trailofbits/slither/pull/129

[2019-01-14 14:05] #96 closed

[2019-01-14 20:27] montyly opened #130 "Tuesday 22nd January: Slither discussion during Trail of Bits Office hours (12pm EST)"
We will have a presentation about Slither during our next office hours session.

We will see how Slither works, what are its capacities, and what are our plans for its evolution.
If there is something you want to learn in particular about the framework, feel free to post a comment here, we will try to answer it during the call.

Our call will be [on google meet](https://meet.google.com/yjx-xhsa-ah

[2019-01-14 20:54] Xenomega opened #131 "Expose immediate base contracts for each contract"
Currently slither API provides `contract.inheritance` which refers to linearized base contracts (a flattened list of the inheritance hierarchy). This requests support for the immediate base contracts inherited from for any given contract.

For example:
[code]

I would like to be able to determine that the base contracts for `D` are `B, C` (in order, even if reversed), where as linearized base cont

[2019-01-15 16:14] Xenomega opened #133 "Slither crashes when analyzing an empty do-while loop"
The following contract will crash slither:
[code]

Stack trace:
[code]

[2019-01-15 16:15] Xenomega opened #134 "Slither crashes when parsing hexadecimal unit denominations"
The following contract will crash slither:
[code]

Stack trace:
[code]

[2019-01-15 16:16] Xenomega opened #135 "Slither crashes when calling an anonymous payable function"
The following contract will crash slither:
[code]

Stack trace:
[code]

[2019-01-15 19:23] Xenomega opened #136 "Error when parsing expression initializing an array of anonymous functions"
The following contract will cause slither to error:
[code]

Error:
[code]

[2019-01-15 19:36] Xenomega opened #137 "Error when parsing type which refers to an aliased import"
The following contracts will cause slither to error:

Main.sol:
[code]

Dependency.sol:
[code]

Error:
[code]

[2019-01-15 23:52] Xenomega opened #138 "Slither crashes when decoding certain characters"
The following contract will crash slither:
[code]

This happens when using the standard python open() and read() functions, so I imagine it is an issue of the encoding being not being set, or being set incorrectly.

Stack trace:
[code]

[2019-01-15 23:52] Xenomega opened #139 "Slither crashes when parsing access to anonymous array"
The following contract will crash slither:
[code]

Stack trace:
[code]

[2019-01-16 00:08] Xenomega opened #140 "Slither errors when parsing ternary operator in a modifier"
The following contract will cause slither to error:
[code]

Changing the modifier to a function and removing the placeholder statement will not cause an error.

Stack trace:
[code]

[2019-01-16 01:10] Xenomega commented on #135
This may be a separate issue, but the stack trace leads to the same place, so I will share it here:

Slither errors when parsing a function call that is provided through a library, for a struct (if that struct has the same name as the contract/shadows it):
[code]

Stack trace:
[code]

[2019-01-16 04:21] Xenomega opened #141 "Slither errors when you have a for loop within a for loop and break in the outer scope"
The following contract will crash slither:
[code]

Note: The break statement does not need to be in the if-statement in order to cause this error. Moving the break into the inner loop will remove the error. Removing the inner for-loop will also remove the error.

Error:
[code]

[2019-01-16 05:59] Xenomega opened #142 "Slither errors when parsing ternary expression used as an array indexer"
The following contract will cause slither to error:
[code]
Putting the result of the ternary expression into a variable and then using that to index into the array does not cause an error.

Error:
[code]

This was not added under the existing issue #140 , as the error occurred in a different code path. (`slithir` vs `solc_parsing`)

[2019-01-16 07:31] Xenomega opened #143 "Slither crashes generating SSA with array of size 1 specified by literal"
The following contract will cause slither to throw an error:
[code]

It seems creating an array with size 1, with the single element specified by a literal causes slither to fail to generate SSA. If the element is specified as a variable in the array, it will not throw an error. This was also tested with a `bool[1] memory x = [ false ];` and threw an error as well.

Stack trace:
[code]

[2019-01-17 03:21] Xenomega opened #144 "Slither crashes when specifying array size as constant expression"
The following contract will cause slither to throw an error:
[code]

The issue is that array sizes can be specified by a literal or constant expression, and slither seems to fail to initialize arrays via constant expressions (tested with `+`, `*`, `/` )

Stack trace:
[code]

[2019-01-17 04:29] Xenomega opened #145 "Slither errors when parsing for loop without initialization and condition"
The following contract will cause slither to throw an error:
[code]
Adding either initialization or condition will not cause slither to error.

Note: The variable `x` and the iteration operation `x++` is not required to recreate this issue.

Error:
[code]

[2019-01-17 22:30] montyly commented on #134
PR merged in dev

[2019-01-17 22:30] #134 closed

[2019-01-17 22:32] montyly commented on #138
PR merged in dev

[2019-01-17 22:32] #138 closed

[2019-01-18 11:30] montyly commented on #144
Note: solving this issue requires building an expression visitor that evaluates simple expressions.

That should be easy using the visitor expression module https://github.com/trailofbits/slither/tree/master/slither/visitors/expression

[2019-01-18 11:31] montyly commented on #133
fixed in dev

[2019-01-18 11:31] #133 closed

[2019-01-18 11:32] montyly commented on #135
Notes:
- The first example is fixed in dev
- The second example only crashes with the legacy AST

[2019-01-18 11:33] montyly commented on #136
Fixed in dev

[2019-01-18 11:33] #136 closed

[2019-01-18 11:36] montyly commented on #140
Fixed in dev

[2019-01-18 11:36] #140 closed

[2019-01-18 13:16] montyly commented on #139
Fixed in dev

[2019-01-18 13:16] #139 closed

[2019-01-21 15:03] montyly commented on #90
Hi @ceresstation, would it be possible to approve @samparsky? Thank you!

He already has a solution to the issue, he is waiting to be able to submit it

[2019-01-22 14:55] montyly commented on #48
So I think that the configuration I had in mind is not really possible yet. I am closing this issue and will think about alternative solutions.

@mkosowsk can you validate the bounty for @benstew? He proposed a solution that what closed to what I am looking for and helped me to determine better what I need.

[2019-01-22 14:55] #48 closed

[2019-01-23 10:37] montyly opened #150 "slither-format: automatic code improvements"
We can create a tool similar to `clang-format`, that takes a Solidity file and uses slither detectors to improve the code, in terms of readability and optimization.

We can automatically fix:
- `unused-state`
- `solc-version`
- `pragma`
- `naming-convention`
- `external-function`
- `constable-states`
- `constant-function`

`slither-format` could produce a Solidity file, or a git patch.

[2019-01-24 00:34] mrice32 opened #151 "Slither crashes when two for-loops use the same variable name"
This is the crash we're seeing:
[code]

This is our sample case:
[code]
If one changes `i` in the second loop to `j`, slither no longer crashes.

cc @ptare

[2019-01-24 04:17] #130 closed

[2019-01-24 07:54] montyly commented on #151
Good catch thanks!

This is due to the variable scope change in 0.5.0, which allows re-definition of variables, and breaks the SSA

Another example:
[code]
We are going to investigate how to fix it

[2019-01-24 09:52] aabdulwahed commented on #130
@montyly Are you going to publish this meeting on Youtube ?

[2019-01-25 10:58] montyly opened #152 "Add support for low-level staticall"
Add support for `<address>.staticcall(bytes memory) returns (bool, bytes memory):`, which was introduced in Solidity 0.5.0

https://solidity.readthedocs.io/en/v0.5.3/units-and-global-variables.html#members-of-address-types

[2019-01-25 11:00] #131 closed

[2019-01-25 11:00] #135 closed

[2019-01-25 16:02] dguido commented on #130
@aabdulwahed https://www.youtube.com/watch?v=bakRWW05Uoc

[2019-01-25 16:43] montyly opened #153 "Add support for embark"
Slither should support projects created using [embark](https://github.com/embark-framework/embark)

For more info: https://embark.status.im/docs/structure.html

[2019-01-25 17:31] montyly commented on #153
One way to solve this issue is to create an `embark-slither` plugin, that would ask the AST to the embark API and run slither on it.

- Plugin documentation: https://embark.status.im/docs/creating_plugins.html
- Example of plugin: https://github.com/embark-framework/embark-fortune
- `embark.events.on('contracts:compiled:solc', callback);` contains the AST information

In the future, it would be po

[2019-01-27 01:42] lazaridiscom commented on #39
It seems that @mihairaulea is on this. @montyly , can you please approve, thus this issue disappears from the "open" list?

[2019-01-27 12:19] montyly opened #154 "Detect if Truffle 4.1.14 or >= 0.5 is required"
Slither should detect if truffle 4.1.14 or >= 0.5 is needed, and according to the version installed locally, use the flag `--truffle-version` automatically

[2019-01-29 19:03] montyly opened #155 "Incorrect super c3 linearalization"
[code]
In this example, slither will fail to understand that in the context of `E`, `return super.getValue() ;` is `        return B.getValue() ;` (and in the context of C only, it is `return A.getValue() ;`

One solution is to create an instance of `getValue` in `E`, but that might break some existing code assumptions.
Another solution is to not translate `super` during the parsing, and to comput

[2019-01-30 10:36] samparsky commented on #150
@montly I am interested in this

[2019-01-30 15:53] ceresstation commented on #90
Hey @montyly sorry for the delay, paying out samparsky now!

[2019-01-31 14:32] montyly commented on #128
Thanks for the report @sriharikapu .

I can't reproduce the bug, but I am assuming it's because you are on a macos?
Did you manage to find a workaround?

[2019-01-31 20:40] cty12 opened #156 "Question about taint analysis in Slither"
Consider the following example:

[code]

Now we would like to check if the state variable `svar` can be controlled by user input. It is not directly written by `func_A`, however `svar` can be modified in `func_B`, where its value to depends on an argument passed by `func_A`, which depends on user input.

In the current Slither taint analysis implementation, if we set the taint source to be the loc

[2019-02-01 15:32] montyly commented on #156
We have more examples of the dependency here: [data_dependency.sol](https://github.com/trailofbits/slither/blob/641703b84100ffad60510ef683178703d082843e/examples/scripts/data_dependency.sol), [data_dependency.py](https://github.com/trailofbits/slither/blob/641703b84100ffad60510ef683178703d082843e/examples/scripts/data_dependency.py).

[2019-02-01 17:52] ceresstation commented on #101
@montyly is @Rodwan-Bakkar still coordinating with you?

[2019-02-01 18:00] tinchoabbate opened #157 "Redundant inheritance lines in inheritance-graph printer"
Hey guys! I've been using Slither for some time now and found it quite useful, so thanks for all the effort you put into developing this tool.

While using the `inheritance-graph` printer, I found that the resulting graph contains several redundant inheritance lines that should be better left off the graph. For instance:
[code]

Slither's printer output is:
![inheritance](https://user-images.githu

[2019-02-01 18:47] cty12 commented on #156
@montyly

Thank you for the kind reply!

In the code snippet that you posted, running `is_dependent(svar, user_input, sampleContract, slither)` will get `False`, isn't it? However the value of `svar` can indeed depend on `user_input`.

Please point it out if I missed anything.

[2019-02-01 18:51] cty12 commented on #156
Actually we can use `pprint_dependency` to check what data dependency Slither has figured out. In the above example, running `pprint_dependency(sampleContract)`, which means that we are inspecting the dependency in the whole contract's context, gets the following results (we just care about the non-SSA part):

[code]

[2019-02-02 07:57] montyly commented on #156
Ah yes, you're right,  I was printing `taint` rather than `dependent` in the last line of my example.

The dependency is not yet propagated through the arguments of functions, while it should. That's a good catch, thanks!

I will see if I can integrate this feature for the 0.6.0 release.

[2019-02-02 10:59] montyly commented on #101
@ceresstation I have no new since January 12th, I think we can re-open the work to other contributors.

[2019-02-04 10:46] montyly commented on #156
Yes indeed!

It's what I meant when mentioning that the taint does not consider the visibility of the functions, so the parameters of private/internal will be considered as input-controlled. It creates an over-approximation where many parameters are considered tainted why they are not.

Propagating the dependency across parameters should allow refining this!

[2019-02-04 15:48] Xenomega opened #158 "Missing WIKI_TITLE in ShadowingFunctionsDetection crashes Slither"
When using the `inheritance-graph` detector in Slither it initializes a `ShadowingFunctionsDetection` detector which lacks a WIKI_TITLE field, as it is more of a helper than a true vulnerability detector.

Possible remediation includes:
-Change this helper to not be a detector at all.
-Allowing the lack of wiki attributes, causing the detector not to be listed (might make detector writing more err

[2019-02-04 16:00] #158 closed

[2019-02-04 18:42] cty12 commented on #156
@montyly

Thanks for recognizing this issue. By the way, is there a plan for a simple alias analysis? It can be pretty handy when writing a slightly more complex detector.

[2019-02-04 19:56] montyly commented on #156
Sure!

By alias analysis, do you mean:
- pointer analysis: what variables point to the same location in storage; for example tracking storage reference
- or tracking the value of the variables, for example to find that `x == y`  in:
[code]

Feel free to open issues in github if you have specific needs from Slither; we will do our best to add these features

[2019-02-04 20:09] cty12 commented on #156
@montyly

Yes you are right. I think pointer analysis is the broader term. By the way, in addition to simple assignments, it is also possible to store a pointer into a vector and retrieve it later (creating an alias, for example).

[2019-02-04 23:03] montyly commented on #156
For info, Slither does a light alias analysis on storage references.
For example:
[code]
[code]
Will result in
[code]

Some notes:
- It's needed to work on the SSA version of the variables, as one local variable can change where it points in storage
- `refers_to` returns a list because a variable can point to different storage variables, according to the path conditions
- This code example only ru

[2019-02-04 23:14] Xenomega opened #160 "Misintrepretation of types on collision of UserDefinedTypeName"
The following contract will be misinterpreted by Slither when using legacy AST:
[code]

The mapping will assume it is from `uint` to `contract CollidingName` when it should really be from `uint` to `struct CollidingName`.

The issue is that type is being parsed from the `name` attribute instead of the `type` attribute, which provides less information about the type. In the above case, `name` = `Co

[2019-02-04 23:43] mrice32 opened #163 "False positive on contracts-that-lock-ether"
The ether locking detector doesn't seem to be able to follow library calls, so if the withdraw is implemented via a delegatecall to a library, the detector fires despite the contract implementing a perfectly valid withdraw function. Here's a sample contract that illustrates the problem:
[code]

The following error message is generated by slither:
[code]

cc @ptare

[2019-02-04 23:45] montyly opened #164 "Printer documentation is out of date"
The [printers documentation](https://github.com/trailofbits/slither/wiki/Printer-documentation) is out of date and lacks severals of our recent printers

We need to update the page prior the 0.6.0 release

[2019-02-05 10:56] montyly commented on #163
Hi @mrice32 , that's a good catch, thanks!

[2019-02-05 11:11] alaibe commented on #153
Hello,

I have started to create the `embark-slither` plugin.
I am running into an issue when using the `--solc-ast`
Could you please provide an example on how to use it as well as an ast file example?

Here is my error:
[code]

I am using the ast generated and create a file from it that I pass to the command.
Thanks

[2019-02-05 11:32] montyly commented on #153
Great, @alaibe , thanks for your contribution!

Could you share how you generate the json file?

Here an example of use:
[code]

Notes:
- `--solc-ast` flag is optional (if the filename ends with `.json`)
- both the legacy and the compact AST are supported, though I would recommend to use the compact AST format, as it generates a cleaner tree

Are you doing any modifications on the json file genera

[2019-02-05 11:40] alaibe commented on #153
You can see here how I generate the AST:
https://github.com/embark-framework/embark/compare/feat/slither?expand=1
(The commented code in `index.ts`)

I feel my ast has the wrong format, here it is:
[code]

[2019-02-05 11:50] alaibe commented on #153
Good news, after adding the non-json part, it works!!
Thanks for the hint

[2019-02-05 11:54] montyly commented on #153
Oh great!
Otherwise, I added the support for json files where the non-json text was removed in https://github.com/trailofbits/slither/commit/64343da44a4b80cc014de7014bcf226fd5e235b9

Sidenote: the [json documentation](https://github.com/trailofbits/slither/wiki/JSON-output) is out of date (and don't use the latest format https://github.com/trailofbits/slither/pull/108).
I will update it today

[2019-02-05 16:14] #152 closed

[2019-02-05 19:00] #143 closed

[2019-02-06 00:30] Xenomega opened #165 "shadowing-function detector does not work as expected"
The `shadowing-function` detector (used internally for the `inheritance-graph` printer) does not return correct results. It relies on checking that an inheriting contract has a function definition with the same `full_name`, but does this by using the `functions` property of a contract. The `functions` property returns functions from contracts inherited from as well. This causes this detector to re

[2019-02-06 11:29] #151 closed

[2019-02-06 11:29] #157 closed

[2019-02-06 11:29] #126 closed

[2019-02-06 11:29] #163 closed

[2019-02-06 11:33] montyly commented on #151
We fixed the bug in master.
In the case of variable redefinition, Slither will change the name of the second definition (and adds a suffix). It's  a short term fix; for a long term fix we need to find how to handle at the same time the scope variable definition of solidity 0.4 and 0.5

[2019-02-06 12:37] montyly commented on #153
I am closing this issue, @alaibe started a plugin here: https://github.com/embark-framework/embark-slither

[2019-02-06 12:37] #153 closed

[2019-02-06 15:07] montyly opened #167 "Unused variable: FPs due to expressions not considered"
If a variable is used as the length of an array, it will not be considered as used
[code]

We need to document all the places that can have an expression:
- `node.expression`
- `variable.expression`
- `length` of an `ArrayType`
- ?

[2019-02-07 00:08] gakonst opened #168 "Does not work with npm install'ed libraries"
When running slither against repositories that use openzeppelin-solidity, e.g. a truffle repository, the usual command would be `slither contracts/`.

For example, to compile contracts with solc that use `openzeppelin-solidity`, one must use the `--allow-paths` option as follows:

[code]

Slither in slither.py is parsing the commands, but [before passing the command to subprocess.Popen](https://gi

[2019-02-07 00:11] montyly commented on #168
If the repository uses truffle, you simply need to run `slither .` on the directory (and `npm install` or `yarn install` prior running slither, if the dependencies are not installed)

Could you try if that solves the issue?

[2019-02-07 00:21] gakonst commented on #168
Oh that works, did not realize you had added truffle support.

It does not work however if I want to compile just a single contract without going into truffle mode (e.g I want the call-graph of just 1 contract without getting for all). Probably low priority issue though, thanks for the quick response.

[2019-02-07 00:21] #168 closed

[2019-02-07 00:24] montyly commented on #168
Another solution is to export the json using solc directly: `solc --compact-ast-json __my_long_command_with_path_ > file.json` and to run Slither on `file.json`

Though I would not recommend to use solc directly on a Truffle project, as fighthing with `allow-paths` can take more time than just compiling everything with truffle, and exporting all the info.

[2019-02-07 15:36] montyly commented on #156
I am working on an improvement of the SSA and the taint in the `dev` branch. It needs more testing, but it works so far:

https://github.com/trailofbits/slither/blob/b7f50f852a7953e9169ecd0a6b319165b998170c/examples/scripts/data_dependency.sol#L90-L104

https://github.com/trailofbits/slither/blob/b7f50f852a7953e9169ecd0a6b319165b998170c/examples/scripts/data_dependency.py#L80-L95

[2019-02-07 22:02] #165 closed

[2019-02-08 12:57] #145 closed

[2019-02-08 13:15] #144 closed

[2019-02-08 13:15] #156 closed

[2019-02-08 13:19] montyly commented on #156
Hi,

I merged the track of the taint and data dependency through arguments to master.
Additionally, only the arguments of public and external functions are considered as tainted now.

Please let me know if you have any other questions related to Slither's internals, or if something is not working as expected. We know that there is room for improvement for the data dependency computation.

[2019-02-08 13:22] montyly commented on #141
Fixed in https://github.com/trailofbits/slither/commit/29862ea54129800066d23c6585ac567ff93d94e6

[2019-02-08 13:22] #141 closed

[2019-02-08 13:45] montyly opened #170 "Create documentation on how to run Slither"
Slither can now be run from:
- solc
- An ast generated by solc
- Truffle
- Embark https://github.com/embark-framework/embark-slither
- Remix https://github.com/samparsky/remix-plugin-slither (it needs a http://remix.ethereum.org/ integration)
- Visual studio https://github.com/samparsky/slither-vscode (the plugin needs review)

[2019-02-08 23:22] montyly commented on #164
The printer documentation in the wiki is now up to date

[2019-02-08 23:22] #164 closed

[2019-02-08 23:45] montyly commented on #167
Fixed in https://github.com/trailofbits/slither/commit/0ad077755ec6e19603b166d2a707bf597f3af499

[2019-02-08 23:45] #167 closed

[2019-02-09 12:02] montyly commented on #127
Fixed in https://github.com/trailofbits/slither/commit/02661eb0ffff56f4fff60f3e00fd065ef9d8332e

Slither will now make the distinction between a call to `this` which is reentrancy-safe from one which is not:
[code]
`bad` is detected, but not `good`.

Thank you @ptare for reporting this edge-case!

[2019-02-09 12:02] #127 closed

[2019-02-09 12:05] montyly commented on #116
I am closing the issue; this behavior does not seem to occur anymore.

[2019-02-09 12:05] #116 closed

[2019-02-10 01:27] cty12 commented on #156
@montyly

I've checked out the latest commit on the master branch. Is the non-SSA dependency still broken? Consider the following example:

[code]

Printing the dependencies information related to function `func_A` gives the following output:

[code]

In other words, Slither does not consider `svar` depends on `user_input` in the context of `func_A`, where it should. However, `svar` indeed depends

[2019-02-10 03:00] montyly commented on #156
I don't have the same result on your example (tested on 3dbe807aadab88967424cdf9d86c27c84e22f29a):
[code]
[code]
Gives
[code]

Could you share your python script?
Are you using Slither through virtualenv (see the [Developer instllation](https://github.com/trailofbits/slither/wiki/Developer-installation))? If you installed `slither-analyzer` through pip, and then re-installed through git, you might

[2019-02-10 03:55] cty12 commented on #156
@montyly

I built Slither from source and is on the latest commit on `master`. By the way, I understand `pprint_dependency` is for debugging :-).

Would you please replace

[code]

with something like

[code]

and try again? This is because the latter one outputs the dependency information of that specific function.

[2019-02-10 13:31] montyly commented on #156
Oh you're right, the dependency is not computed through a fix-point on the function's context (but only on the contract's context).

That's another good catch! I am opening a separate issue for it.

Thank you @cty12 for finding these issues, that's really valuable.

[2019-02-10 13:33] montyly opened #171 "Data dependency: use fix-point on function's context"
The data dependency uses a fix-point only at the contract's context, as a result, the function's context will miss some of the dependencies/taints

See: https://github.com/trailofbits/slither/issues/156#issuecomment-462095241

[2019-02-10 23:52] montyly commented on #101
@ceresstation could you re-open the work? @Rodwan-Bakkar is not working on the issue. Thank you!

[2019-02-12 12:20] #160 closed

[2019-02-12 12:21] #137 closed

[2019-02-13 03:30] Xenomega opened #173 "Truffle compile interop fails on Windows"
Slither fails to run `truffle compile` on Windows:

Command:
[code]
Output:
[code]

If `truffle compile` is run manually, and the `truffle compile` code is disabled in slither, analysis will succeed, so it can probably be assumed that the `subprocess.Popen` command is only blocking issue.

NOTE: `truffle` is in the Windows path.

[2019-02-13 11:37] #171 closed

[2019-02-13 11:41] montyly commented on #171
The issue is fixed in `master`.
We also added a new printer that should help to detect that kind of bug: [`data-dependency`](https://github.com/trailofbits/slither/wiki/Printer-documentation#data-dependencies).

There is still room for improvements to the data dependency (ex: better support for self-dependency, or better support of structure and mapping), and we are going to continue to improve it

[2019-02-13 12:57] montyly commented on #170
Wiki updated: https://github.com/trailofbits/slither/wiki/Usage

[2019-02-13 12:57] #170 closed

[2019-02-13 14:52] montyly commented on #5
I think we can now close this issue. Most of the missing detectors are either included in Slither, or they don't make a lot of sense at the Solidity level

[2019-02-13 14:52] #5 closed

[2019-02-13 14:55] montyly commented on #128
As we don't have news, I am assuming @sriharikapu found a way to have virtualenvwrapper working with its setup.

[2019-02-13 14:55] #128 closed

[2019-02-13 20:33] cty12 commented on #171
Seems to work now. Thanks!

[2019-02-14 18:30] montyly commented on #119
Slither can now:
- filter paths using [`--filter-paths path1,path2`](https://github.com/trailofbits/slither/wiki/Usage#path-filtering)
- Save results to not show them during next runs using [`--triage-mode`](https://github.com/trailofbits/slither/wiki/Usage#triage-mode)

These features are merged in `dev`, and will be available in the upcoming 0.6.0 release.

[2019-02-14 20:52] mrice32 commented on #119
That's awesome!! Thanks @montyly!

[2019-02-19 09:21] montyly opened #175 "Data dependency: add "must depend on""
Right now, the data dependency is an over-approximation that merges all the dependencies coming from all the node's fathers.

As a result, in a code like:

[code]
`destination` in `f` is both dependent of `msg.sender` and `owner`. We should have a *must depend on* mode, to detect if a variable is **always** dependent of another one.

We can implement it by adding a new mode in [analyses/data_depen

[2019-02-19 09:55] #119 closed

[2019-02-20 08:32] montyly opened #176 "Create a new detector category: optimization"
We have public/private detectors that are classified as 'Informational', but they could be classifed through a new category: "Optimization"

For public detectors:
- constable-states
- external-function

[2019-02-22 12:27] maxsam4 opened #177 "Slither throwing error"
Using the eth-security-toolbox docker image, below is the output when I try to run slither on polymath-core repo. branch dev-3.0.0.

[code]

The below dockerfile replicates the whole process and the error
[code]

[2019-02-22 13:18] montyly commented on #177
Hi,

Thank you for the detailed report.

I pushed a temporary fix in the `dev-fix-polymath-core` branch: https://github.com/trailofbits/slither/tree/dev-fix-polymath-core

I will investigate if this fix can be permanent.

[2019-02-22 13:20] maxsam4 commented on #177
That was fast!

@montyly Thanks for the quick fix, I'll try it over the weekend.

[2019-02-22 13:21] montyly opened #178 "Improve reporting on delegatecall proxy pattern"
A recurrent source of false positives is the use of `delegatecall` proxy pattern, which leads to reporting issues like the uninitialized variables, that are inevitable with the proxy-based architecture of the pattern.

We should investigate if, once the delegatecall proxy pattern is detected, we could filter some of the results.

[2019-02-24 22:17] leonprou commented on #39
Any updates with that bounty? Would like to take a part.

[2019-02-25 14:16] montyly commented on #39
Unfortunately, I haven't heard from @mihairaulea for several weeks and he does not seem to have started on it.

The bounty is still open.

@leonprou can you apply and detail your plan? Do you have any experience with similar work? Thanks!

Feel free to join [our slack](https://empireslacking.herokuapp.com/) (#ethereum) if you have any question.

[2019-02-25 15:31] #173 closed

[2019-02-25 17:51] defunctio opened #180 "Source mapping for lines are not always correct"
The line numbers for issues reported by slither often don't line up to the source lines indicated. I don't have any public examples but it should be relatively easy to reproduce. I noticed when reviewing a contract with a lot of `Conformance to Solidity naming conventions` issues.

[2019-02-25 17:54] Xenomega commented on #180
More information that likely addresses the cause of this issue:
- If you're relying on line numbers solidity gives you, Solidity strips certain types of whitespacing before it processes a file, so its line numbers are off (or something to that effect, I encountered this when working on unrelated tooling before).
- The offset + length numbers it gives you to address the data in the file are correct

[2019-02-26 09:07] leonprou commented on #39
@montyly Hey. I'm a Dapp/Solidity Developer that mostly I'm doing web3 work and smart contracts sometimes. Interested in security, fluent with python. I Want to take this bounty to learn more about Vyper and language processing techniques :smirk:.

I'm reading the code of slither to understand the job better. For now I see two objectives:
- Separate slither from Solidity to work with other languag

[2019-02-27 10:46] montyly commented on #39
Sounds good @leonprou! Can you apply to gitcoin, so we can approve you?

I would recommend following the steps highlighted in https://github.com/trailofbits/slither/issues/39#issuecomment-453007157 and joining our slack for any questions.

Please also update your progress here, even if it's partially working, so we can help you as best as possible.

[2019-02-27 12:50] montyly opened #182 "slither-check-upgradability: helpers to check the correct initialization"
If the delegatecall proxy pattern is used, it is not possible to rely on constructors. Initializer functions must be called. We should report if a init function is not called or called multiple times (the c3 lineralization guarantees are not applied)

We should build a checker for these two cases in `slither-check-upgradability`.

[2019-02-27 15:33] najienka opened #183 "Error: Source file requires different compiler version"
Hi,

I'm getting the following error.
Do I need to use a particular solc version?

Many Thanks!

slither Events/ScalarEvent.sol --solc /usr/local/bin/solc
INFO:Slither:Compilation warnings/errors on Events/ScalarEvent.sol:
Events/ScalarEvent.sol:2:1: Error: Source file requires different compiler version (current compiler is 0.5.4+commit.9549d8ff.Darwin.appleclang - note that nightly builds are co

[2019-02-27 15:40] montyly commented on #183
Hi,

Thank you for reporting the issue.
It looks like an error with `solc`. Can you compile the contract with `solc` directly ?
[code]
Maybe `../Events/Event.sol` requires a previous version of the compiler?

Can you share the codebase?

Note that you can use [`solc-select`](https://github.com/trailofbits/solc-select) to quickly switch between solc versions.

[2019-02-27 20:55] najienka commented on #183
Hi,
Thanks for your swift response.
Here is the codebase - I'm trying to use the tool on the gnosis smart contract project: https://github.com/gnosis/pm-contracts

but it still returns the same error.

Thanks

[2019-02-28 10:39] montyly commented on #183
I see!
It is a Truffle project, and Slither supports Truffle natively. Run:
[code]
Slither will run `truffle compile` and all the detectors on the codebase.

For more advanced options, you can read the [Usage Documentation](https://github.com/trailofbits/slither/wiki/Usage).

[2019-03-01 09:02] najienka commented on #183
Hi, Thanks for your help.
I've just tried this and got the following:

pm-contracts najienka$ slither .
INFO:Slither:'npx truffle@4.1.14 compile' running (use --truffle-version truffle@x.x.x to use specific version)
INFO:Slither:No local truffle config found. Using all defaults...

ERROR:Slither:npx: installed 82 in 3.295s

ERROR:SlitherSolcParsing:A contract was not found, it is likely that your

[2019-03-01 09:29] montyly commented on #183
Mhh strange, I just tried on a fresh directory and it does work.
What version of Slither are you using? `slither --version`

Could you try to delete the truffle build directory (`build` in `pm-contracts`)? Sometimes truffle does not clean properly previously compiled files and you might have conflicts because of that.

[2019-03-02 17:00] najienka commented on #183
Thanks, deleting the build directory made it work!

Quick question, how did you get your .png version of the dot file at https://github.com/trailofbits/slither/blob/master/examples/printers/call_graph.sol.dot.png

Is there any specific command to extract diagrams?
Thanks again

[2019-03-02 17:30] dguido commented on #183
The ‘call-graph’ printer will create that for you.

[2019-03-02 17:30] #183 closed

[2019-03-03 17:07] najienka commented on #183
Okay.
At the moment this command `slither . --print call-graph` only creates the `.dot` file without a png.

[2019-03-03 18:52] montyly commented on #183
You can use [`dot`](https://www.graphviz.org/) to generate the png file, as mentioned in the [printer documentation](https://github.com/trailofbits/slither/wiki/Printer-documentation#call-graph):
[code]

[2019-03-04 09:22] najienka commented on #183
okay, thanks for your help.

[2019-03-04 15:38] #182 closed

[2019-03-04 15:44] montyly opened #185 "slither-check-upgradability: improve support for complex datatype"
We need to improve the memory layout checks in case of complex data, including nested structures, enum, ...

[2019-03-05 05:50] maxsam4 commented on #177
@montyly I just tried it again but I got the same error
[code]
I used the `dev-fix-polymath-core` branch to build slither.

[2019-03-05 09:52] montyly commented on #177
Hi,

I just tested on a fresh installation, it does work on my side. Maybe it is an issue with your local Slither installation. Did you use virtualenv (see [the developer installation](https://github.com/trailofbits/slither/wiki/Developer-installation))? If you installed both Slither through `pip install slither-analyzer`  and through a git clone/install, that might have generated conflicts.

Anyw

[2019-03-05 09:53] montyly commented on #142
I think we should fix all the remaining errors on ternary operations for 0.7.0

[2019-03-05 10:59] montyly opened #186 "erc20-interface: remove FP in case of other ERC implementations"
The `erc20-interface` detector will return FP if an ERC closes to ERC20 is implemented.

We should identify what ERCs are affected and add their support.

[2019-03-05 12:33] maxsam4 commented on #177
hey @montyly , I was using a virtualenv. I had slither installed through pip as well so there might have been conflicts. Anyway, I updated the pip version as you suggested but it's still not working. A different error this time, though
[code]

[2019-03-05 12:48] maxsam4 commented on #177
upon further inspection, turns out that it's working fine on the `dev-3.0.0` branch but breaking on the branch I am currently working on i.e. `gtm-signed-transfer`. I am almost certain that the culprit is
[code]

More specifically, I think `abi.decode(foo, (bar[]));` breaks your parser. No other parser that I tried was able to parse arrays inside tupples. I had to fix this in solidity-coverage and

[2019-03-05 12:49] montyly commented on #177
That's weird, I can't reproduce your issue.

I pulled the latest `eth-security-toolbox` (which includes Slither 0.6.1), and try your dockerfile, it does work.

Could you try to delete the Truffle `build` directory and run `slither .` again?

[2019-03-05 12:49] maxsam4 commented on #177
@montyly Please refer my above comment. Sorry for the initial confusion.

[2019-03-05 12:51] montyly commented on #177
That's a good catch, thanks!. I will take a look at how to handle this structure.

[2019-03-10 15:22] leonprou commented on #39
I'm on that. For now I did a basic AST output to JSON for vyper contracts. My fork is [here](https://github.com/leonprou/vyper/tree/add_output_ast_support).

Now figuring out how to feed it to slither.

[2019-03-12 22:56] Pneumaticat opened #187 "Slither does not handle non-default Truffle build folders"
As seen in https://github.com/crytic/slither/blob/0891f9a8a5e5e096084476e4b2bd292c3685f251/slither/slither.py#L61-L64, it hardcodes the default directory for Truffle: `build/contracts`.

However, this location can actually be customized; see https://truffleframework.com/docs/truffle/reference/configuration#contracts_build_directory.

I may try to submit a PR if I can find time this week.

[2019-03-14 10:03] montyly commented on #187
That's a good idea, thank you for reporting the limitation!

[2019-03-14 11:13] montyly opened #188 "slither-check-upgradability: warning if constant are used"
In the case of delegatecall proxy pattern, constant should be avoided, as they can create issues during upgrade.

slither-check-upgradability should warn if constant variables are present.

We should also add a note about it in the `constable-states` detector description

[2019-03-15 14:48] montyly opened #189 "Improvements on solc-version detectors"
The allowed version is out of date:
https://github.com/crytic/slither/blob/0891f9a8a5e5e096084476e4b2bd292c3685f251/slither/detectors/attributes/incorrect_solc.py#L39

Due to the frequent solc release, we might want to change the logic to allow future releases.

Additionally:
- 0.5.5 should not be used: https://twitter.com/ethchris/status/1105903546602528768
- the wiki link is incorrect

[2019-03-15 14:50] montyly opened #190 "Update wiki link to crytic repo"
The wiki links should point now to https://github.com/crytic/slither/

[2019-03-20 10:06] leonprou commented on #39
@gitcoinbot @montyly  As gitcoin bot asking I created a WIP https://github.com/crytic/slither/pull/191.

I did a basic parsing of functions, variables and events and even getting some warnings from the detectors, it's still a WIP so many stuff is ad-hoc. I'm using my local Vyper version so if I want to test this please coordinate with me.

During the work I've found that many needed functionality

[2019-03-22 08:27] rajeevgopalakrishna opened #192 "Return values from functions are not propagated to call sites for data dependency"
Return values of functions are not propagated to call sites for data dependency. For example, in the below contract:
[code]
`bar` returns `var_state` and therefore should make `var_dependent` depend on `var_state` because of the call site `var_dependant = bar();` in `foo`. But the `data_dependency` printer output shows that it is not:

[code]

[2019-03-26 19:47] Xenomega commented on #190
To add to this, a portion of the wiki URL was also updated. Currently the detectors output strings such as:
`https://github.com/trailofbits/slither/wiki/Detectors-Documentation#block-timestamp`
Where `Detectors-Documentation` should actually be `Detector-Documentation`.

[2019-04-01 09:08] montyly commented on #39
For gitcoin moderators: @leonprou is working on the issue (#191).

[2019-04-01 10:15] #192 closed

[2019-04-01 10:19] montyly commented on #180
Fixed with #194

[2019-04-01 10:19] #180 closed

[2019-04-01 11:25] montyly commented on #155
Another instance:
[code]
`f1()` will incorrecty fix its internal call to `A.f2`, while it will be `B.f2`  in the B context. More I think about it, more I think we should delay the destination resolution of internal functions, and have a context dependent resolver for it.

This can lead to incorrect result and must be fixed prior 0.7.0

[2019-04-01 14:24] montyly commented on #177
Hi @maxsam4.
I added the correct support in the `dev` branch (https://github.com/crytic/slither/commit/4640861a1c1d3bf83d5db9d2170389c4f1177886)

`gtm-signed-transfer` was not available anymore, but the current `dev-3.0.0` was triggering the error, and works now.

Sorry for the delay in the fix. If we don't find related parsing issues, the fix will be merged to `master` in the following days.

[2019-04-02 08:47] #190 closed

[2019-04-02 13:47] #187 closed

[2019-04-02 13:50] montyly commented on #187
Hi @Pneumaticat , I added the option `--truffle-build-directory` to specify a custom build path.

You can also set the option directly in slither [config file](https://github.com/crytic/slither/wiki/Usage#configuration-file), if you don't want to specify the flag at every run. Example of config:
[code]

Note that Slither could parse the information directly from `truffle.js`, but I used a solution

[2019-04-02 19:34] Pneumaticat commented on #187
Awesome! Thanks ;)

[2019-04-03 07:32] jazefe opened #195 "Can I debug the Slither by PyCharm?"
I want to learn the analytical steps of Slither. And how do I run Slither with PyCharm?
Thanks.

[2019-04-03 11:10] montyly opened #197 "Add travis tests for truffle and embark"
We need to test truffle and embark integration from travis

[2019-04-04 00:57] disconnect3d commented on #195
The same way as any other Python script.

1. Clone slither repo `git clone https://github.com/crytic/slither.git`
2. In PyCharm `File -> Open...` - open slither repo/project
3. Highly recommended but not needed: [create a Python virtual environment](https://www.jetbrains.com/help/pycharm/creating-virtual-environment.html)
4. Run setup task `develop` to install the package in development mode along

[2019-04-04 01:44] jazefe commented on #195
Thank you for your help, but I can't run the results on Mac OS. I can do it on Ubuntu 18.04. Is it not supported by Mac OS?
![image](https://user-images.githubusercontent.com/12013893/55524022-3c7b4f80-56be-11e9-85eb-316e1b6b0ea6.png)

[2019-04-04 08:28] rajeevgopalakrishna commented on #189
(There appears to be roughly one release per month https://github.com/ethereum/solidity/releases)

The options I see are:
1. Dynamically check released versions from Solidity github. While future proof, we might want to disallow any released versions that are later found to have bugs (e.g. 0.5.5) or deprecated.
2. Specify allowed versions in a config file which gets updated periodically instead of

[2019-04-04 09:16] montyly commented on #195
Hi @jazefe ,
What version of solc are you using (`solc --version`) ? Can you share `reentrancy.sol`?

[2019-04-04 09:19] jazefe commented on #195
@montyly
The version is 0.6.1.

`pragma solidity ^0.4.24;

contract EtherBankStore {

    uint256 public withdrawalLimit = 1 ether;
    mapping(address => uint256) public lastWithdrawTime;
    mapping(address => uint256) public balances;

    function depositFunds() public payable {
        balances[msg.sender] += msg.value;
    }
    function withdrawFunds (uint256 _weiToWithdraw) public {

[2019-04-05 11:12] #177 closed

[2019-04-05 12:05] montyly commented on #195
@jazefe: I am not aware of a 0.6.1 solc release, but your issue might come from `pragma solidity ^0.4.24;`. Could you remove the pragma and try again?

[2019-04-05 18:20] #197 closed

[2019-04-08 01:18] jazefe commented on #195
I believe this problem is caused by solc. The 0.4.24 version of solc was not installed successfully on my Mac. When I chose to install the 0.4.24 solc by source, I could not install it successfully, but I successfully installed it above 0.5 by Homebrew.
So I gave up building on the Mac.

Ubuntu is better.
Thanks.

[2019-04-08 01:18] #195 closed

[2019-04-18 13:18] ggrieco-tob opened #203 "Multiprocessing support for a large scale analysis of contracts"
In some scenarios, we want to analyze a large amount of contracts using several cpus. In that case, the user must manually create all the instances of the `Slither` object one by one.

[2019-04-18 18:25] Xenomega opened #205 "Slither should attempt to standardize source mapping filenames"
Currently, source mapping filenames are derived in one of two ways:
-Set by slither when running on a non-truffle directory.
-Derived by truffle output when running on a truffle directory.

The latter causes problems of returning non-standardized paths. This is more evident on Windows machines, where file paths will simply be in an incorrect format. For instance: The file at path `C:\Test\Folder\F

[2019-04-23 09:47] aabdulwahed opened #206 "Adding a wiki example "slither-upgradability-check for ZeppelinOS""
The existing documentation of `slither-check-upgradability` [here](https://github.com/crytic/slither/wiki/Upgradeability-Checks) works well in terms of having the `proxy` contract, and the `implementation/logic` contract(s). On the other hand, I see that there are a lot of projects that rely on `ZeppelinOS` as framework for upgradability, however the documentation does not provide any working exam

[2019-04-24 21:24] Xenomega opened #207 "Slither crashes due to removed --solc-ast argument"
The release of `0.6.3` moved compilation from the `slither` codebase into `crytic-compile`. With this, some compilation related arguments were removed/changed (`--disable-solc-warning`, `--solc-ast`, etc).

As a result of `--solc-ast` being removed, compilation on a standard directory (non-truffle, etc) will result in the following error:
[code]

The relevant code which depended upon the `--solc-a

[2019-04-24 21:26] Xenomega commented on #205
This issue has been resolved with the release of `0.6.2`, which makes use of `crytic-compile` to standardize compilation.

[2019-04-24 21:26] #205 closed

[2019-04-25 06:09] montyly commented on #101
We have a WIP in https://github.com/crytic/slither/issues/101

[2019-04-25 09:58] montyly opened #209 "slither-evm-annotation"
We can combine the CFGs from Slither and from [`evm_cfg_builder`](https://github.com/crytic/evm_cfg_builder) and their source mapping to create a tool that will:
- export an EVM code CFG with source code annotation
- export a source code CFG with EVM code annotation

We can do the match at a different level (per function, per basic block, ...), and export a json for third-party tools. solc provide

[2019-04-25 11:19] #207 closed

[2019-04-25 13:19] sobolev-igor opened #210 "Bug in function-id printer"
Hi there! There is an issue connected to `function-id` printer that I faced:

when you create a dynamic array with `public` visibility modifier compiler automatically generates a getter-function with `uint256` input parameter. However, Slither thinks that the getter has no input parameters. Thus, the wrong function signature is printed in the output.

Here is a small example.

[code]

Slither outp

[2019-04-25 14:40] montyly commented on #210
Thank you @sobolev-igor for reporting the issue. We are going to fix the printer

[2019-04-25 19:37] Xenomega opened #212 "Slither fails to analyze contract where filename is prefixed with an address"
In the event that slither is run on a contract whose filename is prefixed with an address, it seems slither assumes the input is an address, and tries to resolve the contract on etherscan using the filename.

Input:
[code]
Output:
[code]

The path provided clearly references a filename, and it should read the local file as intended. This  case can likely be quickly fixed with tighter constraints o

[2019-04-25 20:32] Xenomega commented on #212
Moved issue to crytic-compile.

[2019-04-25 20:32] #212 closed

[2019-04-26 18:53] #210 closed

[2019-04-26 18:59] montyly commented on #210
Hi @sobolev-igor, the issue is fixed in `master`, it will be included in the next pypi release

[2019-04-26 20:16] mrice32 opened #214 "Error in reentrancy-eth"
I didn't get a chance to dig into exactly what portion of our Solidity was causing this error, but this error started popping up in our CI without any changes in the Solidity, so I'm thinking this is due to some recent update in slither:

[code]

[2019-04-26 20:21] Xenomega commented on #186
For reference: Each of the contracts referenced at https://github.com/trailofbits/smart-contracts-detectors-testing/issues/2 do not properly implement ERC721, or functions typically provided via ERC20 for backward compatibility. ERC721 is supposed to imply ERC165, but often does not as well.

- `DungeonCoreBeta`:
  - ERC721 implementations: `ownerOf`
  - ERC20 implementations: `totalSupply`, `bala

[2019-04-29 17:23] Xenomega commented on #214
Hello @mrice32 . I can look into fixing this for you.

Would you be able to share the version of your codebase which is causing this issue, along with the Solidity version used? I've just tested the latest slither on `master` of https://github.com/UMAprotocol/protocol without encountering this error. I also tested the 0.6.3 release of slither without issue.

[2019-04-29 22:05] Xenomega opened #218 "Line/column number calculation regression"
Recent adoption of `crytic-compile` in slither have required some code paths to be changed. A regression can be observed in source mapping line/column calculations due to CR, LF, and CRLF line endings, as described in #194 .

The problematic code can be found here:
https://github.com/crytic/slither/blob/04c147f7e50223c6af458ca430befae747ccd259/slither/slither.py#L68

The same solution described in

[2019-04-30 13:28] montyly commented on #206
Thank you @aabdulwahed for pointing this issue.
We are going to improve the relative paths support in crytic-compile (https://github.com/crytic/crytic-compile/issues/12), once it is done it will be easier to run `slither-check-upgradability` on a `ZeppelinOS` project.

We will update the documentation once `crytic-compile` is improved

[2019-04-30 15:39] #218 closed

[2019-04-30 22:34] Xenomega opened #220 "Enhance human-summary printer"
The `human-summary` printer can be enhanced to include additional useful information:
- Build configuration type (standard, truffle, embark, etc).
- Source line count
- Adherence to standards (ie: ERC20, ERC721, etc).
- Dependencies (ie: nodejs modules such as `open-zeppelin`, libraries such as `SafeMath`).

Providing such properties could help external contributors understand the general architec

[2019-05-01 23:34] Xenomega opened #221 "Create argument to output json via stdout"
Currently, slither's `--json` argument takes a file path to output the JSON results to. It would be nice if there was an additional command which would output the JSON over standard output (stdout), such that JSON results can be passed between programs without the need for file I/O.

This command should wrap the typical JSON output in another JSON object which specifies if the operation succeeded

[2019-05-02 01:21] Xenomega commented on #221
As per @ggrieco-tob 's suggestion, it will be cleaner not to add a new argument for these features, but instead allow a keyword/expression which typically denotes output over stdout. In this case "-" is commonly used.

[2019-05-03 16:48] montyly opened #223 "SlithIR: improve conversion of Literals"
For example, `true`/`false` are converted into `string` rather than booleans

[2019-05-03 19:20] agroce commented on #223
Looks like all integers become an operation to convert the integer to a uint256, which disrupts some tautology detections and is not (I think) the right semantics

[2019-05-04 15:40] yxliang01 opened #224 "[Question] Why unused return only applicable to HighLevelCall?"
In my opinion, the rule `unused-return` should also be applicable to low level calls, I am wondering why it's now only limited to detect for high level calls? Since there's an explicit `if` to skip low level calls, there might be some undocumented intention?

Thanks

CC related : @montyly @benstew

[2019-05-06 14:27] montyly commented on #224
Hi @yxliang01, it's a good question, thank you for bringing this up!

After some thinking, I think we should:
1 - Add `InternalCall` and `InternalDynamicCall` to the unused return detector
2 - Create a separate detector for unused returns of low-level calls
3 - Create a separate detector for the lack of check in case of `send` usage

The reason for splitting this into multiple detectors is that it

[2019-05-06 16:07] yxliang01 commented on #224
@montyly Hmm your reasoning makes sense. :) Happy to see that in near future! As such, maybe you can also process https://github.com/crytic/slither/pull/225 ?

[2019-05-07 09:04] #186 closed

[2019-05-08 15:27] montyly commented on #224
Thank you for your suggestions @yxliang01!
I merged the changes in `dev`. The new detectors will be available in the upcoming 0.6.4 release (in a few days)

[2019-05-08 15:27] #224 closed

[2019-05-09 21:08] yxliang01 opened #232 "feat: printer to expose low level gathered information"
This feature request is to propose exposing low level information generated by Slither via printers. Slither is a very useful static analysis framework for Solidity. Currently, it can be used by other Python scripts as a library that the Python scripts can freely access low level information generated by Slither. One example would be https://raw.githubusercontent.com/crytic/slither/master/utils/up

[2019-05-10 16:49] montyly commented on #232
Hi @yxliang01, this is a great idea!

We are actually looking at exposing some of Slither internal information through a printer, so external tooling can take advantage of Slither, without having to interface to Python.

The main issue is that it's unclear what information we will output. It's likely going to match our internal needs first, but we would love to hear your suggestions or to know wha

[2019-05-10 18:27] yxliang01 commented on #232
@montyly Actually, a new input argument specifying what information the user is looking for would be cool. Maybe something like solc standard-json input or lightweight input specification would be good. Outputting all raw analyzed information might be too much. I would join the slack channel when I have more time :) Also, happy to see this happen!

[2019-05-13 08:43] #221 closed

[2019-05-14 13:32] montyly opened #243 "Drop raw json input format"
As far as I know, the raw json input format is now only used for unit-tests. I think we should drop its support, and have Slither only working with `crytic-compile` input.

It would allow cleaning some part of the solidity parsing (ex: the [source unit parsing](https://github.com/crytic/slither/blob/7c7061a86cc544bf8ad22d65f2b696c18a86d088/slither/solc_parsing/slitherSolc.py#L133-L167))

[2019-05-14 21:08] yxliang01 opened #245 "Vulnerability caused by condition of an If Statement having node source mapping the whole If Statement"
Slither supports printing the located problematic statement along with its line number.

Actual Behaviour
---
When the problematic statement is a condition statement for an If Statement, the line number reported by Slither is the line numbers for the whole If statement.

Expected Behaviour
---
Line number is only covering the condition statement.

Thanks

[2019-05-14 21:11] yxliang01 commented on #245
I think this might be because that the condition statement is not an individual object in internal representation, so, when locating the problematic line, the whole If statement was added as the problematic node.

[2019-05-15 07:20] montyly commented on #189
Done with #240
It's a temporary solution, we will adjust the heuristic according to the frequency of the Solidity releases in the future

[2019-05-15 07:20] #189 closed

[2019-05-15 11:07] montyly opened #246 "Improve handling of dependencies"
- Add `is_dependency` in the [source mapping](https://github.com/crytic/slither/blob/master/slither/core/source_mapping/source_mapping.py) to indicate if the file is related to a dependency, using `crytic-compile.is_dependency`
- Add `--exclude-dependencies` flag to exclude results that are only related to dependencies

[2019-05-15 17:13] yxliang01 opened #247 "Typical logging output should be included in JSON"
It's great that now Slither natively supports outputting JSON format output to STDOUT. However, all the logs are disabled in this mode. I think that it's better to all logs go to STDERR in this mode, so that the STDOUT still only has a clean JSON output and logs are still being printed to terminal without interfering with the STDOUT JSON output.

Thanks

[2019-05-15 18:37] Xenomega commented on #247
Hello @yxliang01. This is an interesting suggestion. To help evaluate all possible solutions, what is your use case?

My thoughts are that there shouldn't be a need to mix JSON and log output:
- I'd prefer not to mix/switch output descriptors if we can, as that may create ambiguity between stdout and the `error` field of the JSON output. Beyond that, the output wouldn't appear to be uniform, mixin

[2019-05-15 18:54] yxliang01 commented on #247
It's mainly the third use case that is relevant to me that the Slither logs are collected and stored as logs of other systems. In my case, the invoking system doesn't really need to parse the logs from Slither, it's just simple forwarding. While for most of the time, the logs from Slither can be reconstructed from the JSON output, having such conversion mechanism is not as good as reusing the exis

[2019-05-15 19:04] Xenomega commented on #247
Ah, okay, great to hear. I agree, it's important the original log output be included in the JSON output for external tooling. I'll update the title of your issue, and we'll be tracking it accordingly. Thank you for your contribution!

[2019-05-15 19:30] yxliang01 commented on #247
Thanks for that @Xenomega . But, actually my point was two-fold,
1. Include all logging output information in the JSON output
2. Retain the human-readable version of the logging output (didn't address by your comment)

[2019-05-15 20:39] Xenomega commented on #247
@yxliang01 Just to clarify: the logging output information I would aim to include in JSON would be a single string field of the same human-readable output you would see in a traditional slither run. We would simply capture typical output and put it into a JSON field. External tools would then access the field and could print it themselves, in the same human-readable format slither would typically

[2019-05-16 13:16] montyly opened #248 "Add tutorial on how to write utils"
We need a tutorial on how to write slither utils, including:
- standardization of the output (logging)
- standardization of the file architecture
- how to import `crytic-compile` options
- how to test

[2019-05-16 17:03] yxliang01 commented on #247
@Xenomega I think your first proposal (all human-readable log go into a JSON field) looks promising. It's a good solution for my use case. But, broadly speaking, current JSON output is quite big since it includes all the background information regarding the vulnerabilities found, so unsure whether you want to further make it bigger.

[2019-05-16 17:38] Xenomega commented on #247
@yxliang01 Recent updates to JSON output allow multiple types of results to be included under a `results` field in JSON. Detector JSON output is under `results`->`detectors` for instance. We can add another flag to include logging output in `results`->`detector_output` for example, so it is not always bloating the JSON output. The idea behind these recent changes is that we can specify multiple ou

[2019-05-16 17:54] yxliang01 commented on #247
Thanks, in that case, I think that direction is great! Happy to see it happen sometime later :)

[2019-05-16 18:52] montyly commented on #245
Hi @yxliang01, thanks for the reporting the issue, it's a good catch!

We are working on a fix in #249

[2019-05-17 14:04] sobolev-igor opened #250 "Bug in variable-order printer"
Hi there!

I was testing `variable-order` printer and found the following. Consider there are base contract and derived one and they both have variables with the same name. Thus, the derived contract has two state variables, but Slither does not indicate it. Example contract:
[code]

Slither output:
[code]

[2019-05-20 07:49] rajeevgopalakrishna opened #251 "Incorrect source mappings because of certain (Unicode?) characters in comments"
Certain characters (or scripts) in Solidity comments appear to cause incorrect source mappings.

For example, in `0x06012c8cf97bead5deae237070f9587f8e7a266d_KittyCore.sol`, the symbol that looks like underscore in "email_protected":
[code]
Similarly, the Asian characters in below comments from `0x5d0d76787d9d564061dd23f8209f804a3b8ad2f2_FoMo3Dlong.sol` also cause source mapping problems:

[code]

[2019-05-20 09:41] montyly opened #253 "Flattening and etherscan upload"
Slither should be able to flatten any codebase and upload it to the etherscan verified contracts database, through [their API](https://etherscan.io/apis#contracts)

One caveat is to support aliasing of import

[2019-05-20 16:07] montyly commented on #250
Hi @sobolev-igor, it's a good catch! thank you for reporting the issue, we are going to investigate how to fix it.

[2019-05-21 10:41] montyly commented on #206
Hi @aabdulwahed, I have updated the [documentation](https://github.com/crytic/slither/wiki/Upgradeability-Checks#proxy-contract) for zos-based project.

Let me know if it works for you.

[2019-05-21 12:14] rajeevgopalakrishna opened #255 "Detector external-function reports functions whose parameters are written-to in function body."
If a public-visibility function's parameters are written-to in function body then such a function's visibility cannot be converted to external because external function's parameters are allocated in calldata region which is non-modifiable (see https://solidity.readthedocs.io/en/develop/types.html#data-location).

The `external-function` detector lacks this check.

[2019-05-21 13:28] aabdulwahed commented on #206
@montyly  Thanks for notifying me, I have checked it out but I got the error below:
[code]
Giving that the directory already exists!
Do you have a working example/sample project based `zos`?

[2019-05-21 13:31] montyly commented on #206
Try to replace:
```<ABSOLUTE PATH TO ZOS>/zos/packages/lib/contracts/upgradeability```
by
```<ABSOLUTE PATH TO ZOS>/zos/packages/lib/```

Note that you also need Slither 0.6.4

[2019-05-21 13:51] montyly opened #256 "Create Slither tutorial"
Our current [API documentation](https://github.com/crytic/slither/wiki/Python-API) should be improved.

We have many [script examples](https://github.com/crytic/slither/tree/master/examples/scripts), but it would be nice if we have a tutorial, similar to the [manticore](https://github.com/trailofbits/manticore/wiki/Tutorial) and [echidna](https://github.com/crytic/echidna/wiki/Tutorial) ones.

The

[2019-05-21 13:55] montyly commented on #214
Hi @mrice32, are you able to reproduce the error? If so, what branch should we try?

[2019-05-21 13:57] montyly commented on #90
Our new visual studio plugin is here: https://github.com/crytic/slither-vscode

[2019-05-21 13:57] #90 closed

[2019-05-21 13:58] montyly commented on #101
`slither-simil` was released with slither 0.6.4: https://github.com/crytic/slither/wiki/Code-Similarity-detector

[2019-05-21 13:58] #101 closed

[2019-05-21 13:59] montyly commented on #155
Fixed in `dev` with #213

[2019-05-21 13:59] #155 closed

[2019-05-21 14:23] montyly commented on #206
Likely you are not in the correct directory (`.` means that Slither expects to be run from the main directory of your project).

I tried the following with slither 0.6.4:
[code]

[2019-05-21 15:38] aabdulwahed commented on #206
Thanks, now it works 👍

[2019-05-21 16:19] yxliang01 commented on #245
@montyly Would you like to confirm the PR merged just now #249 fully addressed this issue? If so, this can be closed :)

[2019-05-21 16:22] yxliang01 commented on #245
Oh just realized #249 was for merging to `dev` branch and it's why this issue wasn't automatically closed.

[2019-05-21 17:33] Xenomega opened #258 "All detector results should have at least one element"
All detectors should output results with at least one source mapping item in its `elements`.

Formally:
- Assert that a result has at least one item in `elements`.
- Add a new element type for `other`, or `generic`. (From this point on, I will call these element types 'generic')
- Provide a JSON function to create a generic element type:
  - `add_generic_to_json(filename, start, end, json)`: Adds

[2019-05-21 17:43] #245 closed

[2019-05-21 17:45] montyly commented on #245
Yes sorry @yxliang01, I was waiting on external tests to merge everything in `master`.

The issue should be fixed now. Let us know if you have any other trouble with the source mapping

[2019-05-21 18:59] #250 closed

[2019-05-21 19:00] montyly commented on #250
Hi @sobolev-igor, it should be fixed in `master`. Additionally, the printer prints now the canonical name of the variable, to avoid confusion.

Let us know if you have other issues.

[2019-05-21 19:00] montyly commented on #251
It seems to be fixed with #252 (merged in `master`/`dev`). @rajeevgopalakrishna can you confirm it?

[2019-05-21 21:41] sobolev-igor commented on #250
Thanks for the quick response!

[2019-05-22 10:16] rajeevgopalakrishna commented on #251
Yes, confirm that this is fixed in contracts I have tested so far.

[2019-05-22 10:26] #251 closed

[2019-05-22 10:46] rajeevgopalakrishna opened #259 "False alert in naming-convention detector on undeclared parameter name."
The Cryptokitties core contract `0x06012c8cf97bead5deae237070f9587f8e7a266d_KittyCore.sol` misses the string type's parameter name in the below function:
[code]
The `naming-convention` detector reports a false alarm about converting the empty string parameter name to mixedCase.

Looks like a bug in the contract but Slither could filter out this `naming-convention` alert.

[2019-05-23 15:45] mrice32 commented on #214
Sorry to be slow in getting back. I re-enabled the detector, and the issue seems to have been fixed since we last ran it.

[2019-05-23 15:45] #214 closed

[2019-05-23 16:56] montyly opened #261 "Add aragon os to the standard libraries detection"
https://github.com/aragon/aragonOS

[2019-05-27 13:33] ChuangLiu727 opened #262 "can slither provide bytecode support?"
thank you

[2019-05-27 22:29] montyly commented on #262
Hi @ChuangLiu727,

Sure we can! Could you describe your need?

For info, you can already access it through the [`crytic_compile`](https://github.com/crytic/crytic-compile) API (which is undocumented for now):
[code]

[code]

But we could add a directly a property to the contract, like `my_contract.bytecode_runtime`.

[2019-05-28 01:01] ChuangLiu727 commented on #262
Thanks, I appreciate your help

i mean can i use slither as follow?
`slither somecontract's bytecode --json -`

[2019-05-29 02:29] DASSDAO opened #267 "Traceback (most recent call last) No module named 'slither.detectors'"
it will be error when I use the command, I have try to solve the problem, but it is failure, Can you help me solve the problem? thanks in advance!

this is the error message.
C:\Users\Administrator>slither.py D:\360MoveData\Users\Administrator\Desktop\test.sol
Traceback (most recent call last):
  File "C:\Users\Administrator\slither\slither\slither.py", line 11, in <module>
    from slither.detect

[2019-05-29 10:40] chebykin opened #268 "Can I use a native solc compiler with slither?"
I'm getting the following error when running `slither .` inside my truffle project root folder:

[code]

I use a native compiler, specified in `truffle.json` config file with:

[code]

It seems that `slither` can't properly detect `solc` version in my case. Is it supposed to be compatible with native `solc` binary, not `js` one?

[2019-05-29 21:13] Xenomega commented on #267
Hello @DASSDAO , I'd be happy to help you through this issue. It seems to be an environment/installation/usage issue. I don't have enough information about your environment yet to be sure what the cause is, but we can collect some information and cross off suspicions. :)

My initial thoughts were:
- You might have two python versions installed, and you installed slither to one, but tried executing

[2019-05-30 12:07] montyly commented on #268
Hi @chebykin ,

Thank you for reporting this, it was an issue in our [`crytic-compile`](https://github.com/crytic/crytic-compile) library. We added the support in https://github.com/crytic/crytic-compile/pull/20, and we are going to release a new version containing the fix soon (in a few days).

In the meantime, if you use Slither with [pyenv](https://github.com/crytic/slither/wiki/Developer-insta

[2019-05-30 12:10] montyly commented on #262
Hi @ChuangLiu727,

Sorry, I misunderstood your question, Slither can provide the bytecode of a contract, but it does not analyze it for now.

We plan to partially support evm assembly, but it won't be available in the short term.

[2019-05-30 12:49] ChuangLiu727 commented on #262
Thank you for your answers

[2019-05-30 12:49] #262 closed

[2019-05-31 03:57] DASSDAO commented on #267
Hi , @Xenomega Thank you for your answer.  It's sure,  i have two python versions installed, but i have uninstall all the other except 3.7.3.  then  reinstalled Slither  via python setup.py install, and add  python directory python module directory to  Windows system PATH.   then simply execute slither in the command line (no file extension)  it still doesn't work.  this is the error message:

C:\

[2019-05-31 04:06] Xenomega commented on #267
Hello @DASSDAO , that is great progress! It looks like slither is now installed properly.

The error you have in the first log you shared is likely because `solc` is not installed on your machine. You need to install `solc` seperately and add it to your Windows PATH. You can find windows binaries here: https://github.com/ethereum/solidity/releases

Once that is installed, I think your problem will

[2019-05-31 04:17] DASSDAO commented on #267
@Xenomega  thanks ,i will try it

[2019-06-05 20:00] montyly commented on #268
Hi @chebykin

We released `crytic-compile` [0.1.2](https://github.com/crytic/crytic-compile/releases/tag/v0.1.2). If you update your version `pip install crytic-compile --upgrade`, you will be able to use Slither with truffle and native solc.

Let us know if you have any issue

[2019-06-06 09:05] montyly commented on #246
Done with #269

[2019-06-06 09:05] #246 closed

[2019-06-06 09:06] montyly commented on #176
Done with #265

[2019-06-06 09:06] #176 closed

[2019-06-06 09:49] montyly opened #270 "FP on uninitialized state variable due to storage pointer"
Slither will report this as an uninitialized state variable.

[code]

We need a better interprocedural alias storage tracking to remove this family of FP.

Probably similar to #112

[2019-06-06 11:20] montyly commented on #255
Fixed with #257

[2019-06-06 11:20] #255 closed

[2019-06-06 11:20] montyly commented on #259
Fixed with #260

[2019-06-06 11:20] #259 closed

[2019-06-06 14:15] montyly opened #271 "Printer: constructor summary"
With multiple inheritances, it is sometimes difficult to follow the execution of the constructor.
We should have a printer that outputs the solidity code executed at deployment

[2019-06-06 19:39] Xenomega opened #272 "Suppress detector findings with pragma-like statements/comments"
In future versions of Slither, it would be nice to suppress detector results by severity/check-type/file by using specially formatted comments or pragma-like statements which indicate to slither that certain results should be ignored.

When filtering, we would focus on the first element in the finding's `elements` json field (as that is the focal point/cause of the issue). If the mapping is betwee

[2019-06-10 15:15] montyly opened #273 "Add codeclimate and black"
- https://codeclimate.com/
- https://github.com/python/black

In addition, we need to write the contribution guidelines (https://github.com/crytic/slither/issues/59)

[2019-06-11 21:45] EricR opened #274 "slither-check-upgradeability raises "IndexError: list index out of range""
When contract v1 defines more state variables than contract v2 does, slither-check-upgradeability raises an IndexError. In addition, I think the code can probably be refactored a little bit and log output made clearer.

[2019-06-11 21:55] EricR commented on #188
After talking with @montyly, this is to be composed of:
- Look for duplicate const identifiers in the proxy and implementations (v1 and v2)
- Check if in going from v1 to v2, a storage variable has changed to a constant

[2019-06-13 09:25] montyly commented on #253
## Task Description
The goal is to create a new utility (ex: `slither-upload-etherscan`) that will:
- Takes as input a project and an address
- Flatten the codebase
- Upload the flatten code to etherscan verified contracts list

The [utility guideline](https://github.com/crytic/slither/wiki/Adding-a-new-utility) shows how to create new utility.

## Acceptance criteria
- Projects can be flattened a

[2019-06-13 09:34] montyly commented on #268
Hi @chebykin,

As I think it was fixed with `crytic-compile` 0.1.2, I am closing the issue. Let us know if you have any troubles!

[2019-06-13 09:34] #268 closed

[2019-06-13 09:35] montyly commented on #258
Fixed with https://github.com/crytic/slither/pull/263

[2019-06-13 09:35] #258 closed

[2019-06-13 09:38] montyly commented on #248
Done in https://github.com/crytic/slither/wiki/Adding-a-new-utility

[2019-06-13 09:38] #248 closed

[2019-06-13 09:40] montyly commented on #267
Hi @DASSDAO,
Is Slither correctly working once `solc` is installed?

Thanks!

[2019-06-14 04:07] DASSDAO commented on #267
Yes ,thanks

[2019-06-14 04:39] #267 closed

[2019-06-20 12:20] montyly opened #284 "Incorrect implicit type conversion"
`TypeConversion` operations are missing.

For example in
[code]
`a+b` leads to implicit type conversion. We need to locate implicit type conversion and add the [`TypeConversion`](https://github.com/crytic/slither/blob/master/slither/slithir/operations/type_conversion.py) operation

Related to https://github.com/crytic/slither/pull/283

[2019-06-20 12:24] #59 closed

[2019-06-27 13:00] montyly commented on #271
## Task Description
The goal is to create a new print that will
- [ ] Follow the C3 inheritance to create a view where all the executed constructor are showed
- [ ] Inline the internal calls

## Acceptance criteria
- [ ] The printer can show an inline version of the constructor(s)

## Required Skill
- [ ] Experience with Python 3.6
- [ ] Experience with Solidity smart contracts
- [ ] Experience wi

[2019-06-27 13:11] montyly opened #286 "Export Printer to JSON"
# Task Description

We want to add a printer output similar to our [JSON wrapping output](https://github.com/crytic/slither/blob/master/slither/__main__.py#L111-L126) for the detector

- [ ] Classify the printer per output types (ex: text, dot generation, ...)
- [ ] Severalize the output to be sent through JSON
- [ ] Add the JSON printer output to our standard JSON

# Acceptance criteria
- [ ] Sli

[2019-06-28 14:20] sobolev-igor opened #287 "Improper work of naming-convention detector"
`naming-convention` detector acts incorrectly in case the function parameters have no name:
[code]
[code]

Moreover, it finds function arguments, which names are starting with '_'. You may consider ignoring this case as it is a common practice.

[2019-07-01 13:23] elenadimitrova opened #288 "AttributeError: 'Namespace' object has no attribute 'disable_solc_warnings'"
Running `slither` with the following config

[code]

yields error
[code]

[2019-07-01 14:20] montyly commented on #287
Hi @sobolev-igor.

Thank you for reporting the issue. We are going to fix it as soon as possible.

[2019-07-01 14:28] elenadimitrova commented on #288
Additionally, running with the option in the command line also throws
[code]

[2019-07-01 19:06] montyly commented on #288
Hi @elenadimitrova,

Thank you for reporting the issue.

The documentation on the wiki is out of date, and the flag is now `--solc-disable-warnings` / `solc_disable_warnings` (json). I will update the wiki.

The `solc_args` flag had an issue, that we fixed in [`crytic-compile`](https://github.com/crytic/crytic-compile) master branch. We are going to do a release containing the fix in a few days. I

[2019-07-03 08:10] elenadimitrova commented on #288
This works when using the `--solc-disable-warnings` option in the command line but doesn't when using a config file. In fact nothing from my config file is picked up. I might open another issue for this.

[2019-07-03 08:13] elenadimitrova opened #289 "Config file not accepted"
I tried both naming the file `slither.conf.json` which should be picked up automatically according to the documentation, and also explicitly passing in `--config-file slither.conf.json` to slither. Neither gave a result.

[code]

[2019-07-03 08:50] montyly commented on #289
Hi @elenadimitrova,

Thank you for reporting the issue! It is indeed a bug in our config file parsing. We are working on a fix in #290.

Let us know if you have any other troubles.
As a side note, `--allow-path` should be `--allow-paths`.

[2019-07-03 08:51] montyly commented on #289
Additionally, while fixing #290 I have fixed another typo in the wiki; the default config filename is `slither.config.json`.

[2019-07-03 09:56] elenadimitrova commented on #289
np will use command line options for now until you release the fix. Thanks for the support.

[2019-07-03 12:16] elenadimitrova commented on #272
I support this and even going down to the ability of ignoring specific results. This is a common problem across security analysis tools, for `mythril` we solved it with local ignores in contract files, ref https://github.com/ConsenSys/truffle-security/issues/212. Although it'll be preferable to abstract the ignores away from the contracts and into their own config file, one per tool.

[2019-07-03 12:44] montyly commented on #272
I agree it would be nice to have this feature.

The main issue stopping us to implement it, is that Slither uses the AST output from solc, so it does not have the comment information. We are going to explore how to do it, but it will take some time before we implement a robust solution.

In the meantime, Slither has two options that are more or less similar:
- A [triage mode](https://github.com/cr

[2019-07-03 13:13] elenadimitrova commented on #272
The problem with triage mode is using this in CI which is where tooling like this is normally run.
Path filtering mode works to the level of isolating the entire file, but this isn't a good idea for core contracts.

Perhaps as an interim solution we can commit the triage db and let CI use that.

[2019-07-03 13:40] elenadimitrova opened #291 "Broken exclude-low and exclude-informational"
By definition `--exclude-low` should produce the same results as `--exclude shadowing-builtin,shadowing-local,calls-loop,reentrancy-benign,timestamp` however there is a significant difference in results, see below:

[code]
vs
[code]

Same is true for `exclude-informational` results

[2019-07-03 13:51] elenadimitrova opened #292 "Broken filter-paths option"
Getting back a `AttributeError: 'list' object has no attribute 'split'` error when using the `--filter-paths` option. Full results off my run below:

[code]

[2019-07-03 14:35] elenadimitrova commented on #272
@montyly I am just trying triage mode and it seems that it doesn't honour the detectors you've chosen to run and instead asks you for _every_ message. Our contracts raise 3277 items in the logs when run without any ignores so this is really prohibitive to use in its current state. Is there a way to triage only issues from detectors of choice?

[2019-07-03 15:25] montyly commented on #272
Sure, can you share your command line?

I tested the following on https://github.com/JoinColony/colonyNetwork:

[code]

The file `slither.db.json` was generated, and a next run of slither, without the `triage-mode` will hide the two first results:
[code]

[2019-07-03 15:40] Xenomega commented on #272
My thoughts for implementing this would've been to find a specific type of expression/marker in a comment (almost like regex, but not with regex exactly, because you need to count open/closed boundaries).

Once you have the boundaries for the open/close statements, you could then just ignore any findings whose first element (the most significant element) is mapped into that range. This would bypas

[2019-07-03 15:49] montyly commented on #292
Hi @elenadimitrova,

Thank you for reporting this other issue. The issue only occurs when analyzing raw directory and is now fixed in https://github.com/crytic/slither/pull/290.

In the meantime, you can have Slither 0.6.4 working with `--filter-paths` if you give as a target the "main directory" of your truffle project (`.` instead of `contracts/`) .

For info, as you are analyzing a raw director

[2019-07-04 07:55] elenadimitrova commented on #292
I have a problem with using the main directory even after ignoring the path below it throws on it

`slither . --filter-paths dappsys,openzeppelin-solidity`
returns:

[code]

[2019-07-05 05:49] montyly commented on #292
Could you share the full steps to reproduce the issue?
I tried with
[code]

[2019-07-05 05:52] montyly commented on #292
Could you share the full steps to reproduce the issue?
I tried the following with success:
[code]
Thanks!

[2019-07-05 09:06] elenadimitrova commented on #292
Can you add `yarn run provision:token:contracts" after the `git submodule update --init` run?

[2019-07-05 10:08] montyly commented on #292
Thanks! I have another issue:
[code]

The problem is that Slither needs to access to the original files, and as you are using pre-compiled files, they have incorrect absolute paths. For example in: https://github.com/JoinColony/colonyToken/blob/8e5139586018fbaa53e9cf971e040b3ae2a4bb92/build/contracts/TokenAuthority.json#L2336.
As a result, Slither will fail from any configuration that is not you o

[2019-07-05 12:52] elenadimitrova commented on #292
My preferred option was going to be to ignore these imported contracts which I was trying to achieve with a combination of `contracts` path passed in slither explicitly and/or `--filter-paths` option.

[2019-07-11 14:07] PumpkingWok commented on #286
Hi there,
I'm interest to take this bounty, right now i have not expressed interest for this bounty on gitcoin yet, I would like to take a look into slither code before. I have just looked into Json Wrapping code for detector. After having figured out properly the code I will take it via gitcoin if it will be still free.
Thanks in advance.

[2019-07-11 16:34] arxenix opened #294 "Control flow for short-circuiting operators"
It seems like slithIR does not handle control flow for short-circuiting operators (&&, ||)

Example:
[code]

The control flow here is incorrect, as c should only be getting set to 5 when a!=1

[2019-07-11 20:43] ceresstation commented on #286
Hi @man-jain glad to have you working on this, please try to make consistent WIP PRs and let us know if you run into any trouble.

[2019-07-11 21:00] Man-Jain commented on #286
Thanks, I'll surely put up some consistent PRs. Also, it would be great if you could give a pointer from where I can begin the work.

[2019-07-12 20:34] Man-Jain commented on #286
The outputs given by the various printers are basically of two types :- 1. .dot file 2. text. Also currently the printers aren't programmed yet to return output. So the first step would be to enable the printers to return outputs.(Please correct me if I am wrong)

[2019-07-13 00:54] Skyge commented on #253
I am not sure, but for some have been verified contracts, they upload repeated pragma statements, such like this one: [cDAI](https://etherscan.io/address/0xf5dce57282a584d2746faf1593d3121fcac444dc#code)
so we want to remove these, Whether these have influence or not?

[2019-07-13 23:11] Man-Jain commented on #286
@ceresstation I have submitted a patch. Please see and give you feedback.

[2019-07-14 16:19] Abhimanyu121 commented on #271
Can I please get a little insight about c3 linearization(inheritance)?
It would help me a lot.

[2019-07-14 20:21] Man-Jain commented on #286
@ceresstation Please check the output format and give your comment so that I can move forward with writing tests and documentation for this.

[2019-07-15 09:33] HarryR opened #296 "ecrecover related bugs are not detected"
## Description

It doesn't detect `ecrecover` failing upon invalid input

## How to Reproduce

See the following piece of code:

https://gist.github.com/HarryR/cce52596ffebdff2744c5d790888015a

This was caused by a compiler bug in Solidity < 0.4.14, where the output memory area for the `ecrecover` call wasn't cleared, which means in the case of an invalid signature the memory may contain user-cont

[2019-07-17 15:14] eMarchenko opened #297 "`Too many digits` detector marks `1 ether` as a too large number"
[code]
but my code is
[code]
which is very convenient.

I guess same problem should be with `weeks` multiplier.
And maybe with `1e18` values as well.

I'd prefer if the detector could exclude similar cases.

[2019-07-18 06:55] montyly commented on #296
Hi @HarryR

Thank you for reporting this.

I think the best way to handle the compiler-related bugs is to update our [incorrect solc version detector](https://github.com/crytic/slither/wiki/Detector-Documentation#incorrect-versions-of-solidity), to warm better about the use of old and buggy compiler version. We will look to add more information about this issue

[2019-07-18 07:05] montyly commented on #297
Hi @eMarchenko

Thank you for reporting the issue. Indeed this should not be reported as an issue and was not previously.
We will investigate how to fix it.

[2019-07-18 07:35] montyly commented on #253
Hi @Skyge,

Thank you for your interest in this work.

It's a good question. After some thinking, maybe we can offer an option like `--clean-code` that will for now, remove the unnecessary pragma statements. In the long run, this option could do other modifications, like re-ordering the contracts to improve the readability, etc.

Does that make sense?

[2019-07-18 07:51] Skyge commented on #253
OK, I see. That sounds good.

[2019-07-18 14:28] HarryR commented on #296
So Slither is unable to detect compiler bugs or vulnerabilities in hand-rolled assembly?

Doesn't that severely limit the real-world usefulness of this tool?

[2019-07-18 14:54] montyly commented on #296
Sorry if I was mistaken.

We can detect directly these kinds of bugs, but I think it is more efficient to look at the solidity version used, and report any version that is [known to be buggy](https://solidity.readthedocs.io/en/v0.5.10/bugs.html).

solc has a significant list of bugs, I don't see any benefit of having an individual detector for each bug versus directly reporting the buggy versions.

[2019-07-18 17:26] HarryR commented on #296
I'm reporting specifically to projects which perform some kind of symbolic analysis rather than doing source-level static analysis, and looking for better solutions, trying to see what could be improved or finding tools which can detect the kind of bug that 0x ran into.

It would be really awesome if Slither could support inline EVM assembly, it supports taint analysis, complex conditions etc. whe

[2019-07-21 18:53] Man-Jain commented on #286
I am still working on this issue. But the work I intend to do depends upon [this](https://github.com/crytic/slither/pull/266) pr to be merged.

[2019-07-24 08:28] #287 closed

[2019-07-24 08:53] montyly commented on #261
Done with https://github.com/crytic/slither/pull/276

[2019-07-24 08:53] #261 closed

[2019-07-24 08:54] montyly commented on #247
I think the issue is now fixed with https://github.com/crytic/slither/pull/266 ?

I am keeping the issue open until we update the document: https://github.com/crytic/slither/wiki/JSON-output

[2019-07-24 12:37] arxenix opened #304 "Tuple assignments should create temporary variables"
Example:
[code]

Should produce something like this instead:
[code]

[2019-07-24 14:49] yxliang01 commented on #247
@montyly From the description, looks like #266 indeed resolves this issue, although I haven't got a chance to check it. But, in any case I believe this issue can be closed after adding the documentation. Thanks @montyly and @Xenomega

[2019-07-26 06:59] elenadimitrova commented on #289
It doesn't seem like the triage db is picked up when config file only is being used. Am I missing an option there?
[code]

running `slither contracts/`

[2019-07-28 18:10] Man-Jain commented on #286
Yes Still working on it

[2019-07-29 13:51] arxenix opened #306 "Fails to parse certain tuple assignments"
Slither fails to parse certain tuple assignment expressions such as: `(uint y, ) = (1,2);`

[code]

[2019-07-29 21:06] arxenix opened #307 "Named function parameter calls parsed incorrectly"
[code]

Output:
[code]

Expected:
[code]

[2019-07-30 08:41] montyly commented on #292
For info, I have tried with a  `--paths-remapping` flag, that helps Slither finding what is the correct filename, but there is still another issue.

The object IDs generated by truffle does not match and are not referencing the same objects on all the contracts. My best guess is by doing

[2019-07-30 08:48] montyly commented on #292
For info, I have tried with a --paths-remapping flag, that helps Slither finding what is the correct filename, but there is still another issue.

The object IDs in the AST generated by truffle does not match and are not referencing the same objects on all the contracts. My best guess is that by doing:
[code]

Truffle does two separate compilations, where the elements of the second ones are not pro

[2019-07-30 15:50] #297 closed

[2019-07-31 05:55] ceresstation commented on #286
Thanks for the update @Man-Jain could you provide a WIP PR if it makes sense to do so?

[2019-08-01 04:44] Unlocku opened #308 "There are some wrong report"
The source code of smart contract is :

[code]

and I just use slither to scan this contract, the report is
[code]

Such as the first report
[code]

I think it means the function as blow should be external, but It is external, so why does is report?
[code]

[2019-08-03 17:28] Abhimanyu121 commented on #271
Work in progress PR  has been submitted and I am waiting for the review from the maintainers.

[2019-08-04 03:59] thegostep opened #309 "Prefix require statement printouts with revert message"
This would allow for increased readability of `require` printout

[2019-08-05 12:01] ggrieco-tob opened #310 "False negative in a create based reentracy example"
Last revision of slither fails to detect the reentracy issue in https://github.com/uni-due-syssec/eth-reentrancy-attack-patterns/blob/master/create-based.sol

This is the output:
[code]

[2019-08-06 09:10] montyly commented on #308
Hi @Unlocku

Thank you for reporting the issue. It is indeed a bug that happens when a function is first defined as external in a base contract, and then re-define as public in a contract inheriting the base contract.

Smaller poc:
[code]

We will fix it.

[2019-08-06 14:11] RyanRHall commented on #168
Ran into challenges getting slither to play nice with yarn. Since yarn hoists dependencies and doesn't necessarily keep them in the local node_modules folder, slither was unable to find 3rd party installed contracts. Would be nice to fix the `solc_args` option on slither so that the `--allow-paths` flag can be used to include other directories.

[2019-08-06 22:22] ceresstation commented on #253
Hi @Skyge do you still have some time to take this one on, how's it going?

[2019-08-08 15:12] Skyge commented on #253
@ceresstation Yeah, sorry for my delaying, I will finish this in three weeks.

[2019-08-10 02:54] Abhimanyu121 commented on #271
Work in progress PR has been submitted and I am waiting for the review from the maintainers.

[2019-08-13 06:37] abhisharma1357 opened #312 "slither . , command is not working and giving python errors"
ERROR:root:Error in .
ERROR:root:Traceback (most recent call last):
  File "/usr/local/lib/python3.6/dist-packages/slither_analyzer-0.6.4-py3.6.egg/slither/__main__.py", line 585, in main_impl
    (slither_instances, results, number_contracts) = process_all(filename, args, detector_classes, printer_classes)
  File "/usr/local/lib/python3.6/dist-packages/slither_analyzer-0.6.4-py3.6.egg/slither/__m

[2019-08-14 00:42] Skyge commented on #253
Hi, I want to find a file to save etherscan api key by this approach:
[code]

so which one has existed is suitable, if not, I will create a new file, or we would like to use some packages, such as `python-dotenv` or something else to do this in the `.env`.

[2019-08-15 09:16] montyly commented on #253
Hi @Skyge ,

That's a potential solution, but I would favor another approach:

- Asking the key in an interactive mode, from the command line.
- Having an option to provide the key through a config file. Most of the options in Slither are configurable through [json](https://github.com/crytic/slither/wiki/Usage#configuration-file), so it would make sense to keep this format.

I would favor the use

[2019-08-15 14:57] Skyge commented on #253
@montyly Emmm, but when we verify the contract by the etherscan api, we need some config message, such as, `compilerversion `, `optimizationUsed`, `constructorArguements` and so on, so if we use the interactive mode, the user really needs to type these necessary parameters, so I think maybe we can use a config file to add these config parameters. so what's your final recommendation?

[2019-08-16 06:32] montyly commented on #271
Great work @Abhimanyu121, I merged https://github.com/crytic/slither/pull/299. thank you for the contribution.

@ceresstation can you pay the bounty? thx!

[2019-08-16 06:34] Abhimanyu121 commented on #271
@montyly  thank you for all your help :)

[2019-08-16 06:35] montyly commented on #312
Hi @abhisharma1357

Thank you for reporting the issue. Can you detail how you installed Slither? Would it be possible to share the codebase you are trying to analyze?

[2019-08-16 06:52] montyly commented on #309
Thank you for reporting this. Slither should indeed print the revert message on require.

We are going to add this feature

[2019-08-19 09:54] Skyge commented on #253
I made a temporary pr, it has not been finished totally.

[2019-08-20 16:43] Abhimanyu121 commented on #271
awaiting bounty payment

[2019-08-20 16:51] agroce opened #316 "Slither should not complain about naming convention for echidna properties"
By convention, property checks in echidna are named "echidna_" or "crytic_" -- so all naming convention gripes from Slither are likely to be false positives.

[2019-08-21 08:42] montyly opened #318 "Split constant-function detector"
`constant-function` detects constant/view/pure functions changing the state or using assembly code.

We should split this into two detectors, and filter results if Solidity >=0.5 is used

[2019-08-21 13:43] montyly commented on #316
Fixed with #317

[2019-08-21 13:43] #316 closed

[2019-08-22 14:01] montyly opened #319 "Create echidna guidance printer"
We need a printer that exports a JSON with the following information to help echidna exploration:

- constant extraction (See https://github.com/crytic/echidna/issues/216)
- payable function
- `block` `timestamp` usage
- PC of assertion
- libraries

[2019-08-23 16:09] montyly opened #320 "solc-version detector: Missing 0.5.11"
`0.5.11` is incorrectly reported as an old version.

[2019-08-23 16:16] montyly commented on #286
For Gitcoin moderators: @Man-Jain has an ongoing PR and is waiting from a review from our side

[2019-08-24 16:24] Abhimanyu121 commented on #271
awaiting bounty

[2019-08-24 16:25] Man-Jain commented on #286
I have a open PR, waiting for review.

[2019-08-27 13:03] RyanRHall opened #324 "Triage mode's slither.db.json not shareable"
Triage mode cannot be used by teams to universally ignore warnings because the constructed file, `slither.db.json`, records the absolute file path of a contract (`filename_absolute`), which may not be identical on different machines.

### Example:

Alice has contracts in folder:
`/home/Alice/project/contracts`

she uses triage mode to ignore warnings and creates a `slither.db.json`

Bob tries to u

[2019-08-27 13:43] montyly commented on #324
Hi @RyanRHall ,

Thank you for reporting the issue and for the detailed description.

We are going to investigate how to better triage results from different machines.

[2019-08-28 08:04] montyly commented on #271
@ceresstation can you pay the bounty? Thank you.

[2019-09-06 07:02] montyly opened #326 "Improve reentrancies detector"
This detector should detect send/transfer based reentrancies and classify them as informational

[2019-09-06 07:04] montyly opened #327 "Change default behavior to hide informational/optimization results"
After internal discussions, we should change the default detectors run to hide informational/optimization results, and only show one sentence; ex:

`The codebase contains X (informational issue). Run slither --X to show these results`

[2019-09-10 21:19] ceresstation commented on #286
@Man-Jain just wanted to check in to see how this is going, thanks!

[2019-09-11 11:50] montyly opened #331 "slither-check-upgradeability: remove shadowing on fallback function"
slither-check-upgradeability warns on a shadowing on the fallback function between the implementation and the proxy.
This shadowing is not an issue and should not be reported

[2019-09-15 03:16] xf97 opened #336 "How many smart contract problems can Silther detect now?"
Hello, I'm sorry to disturb you. I noticed that slither had documentation about which types of smart contracts were detected, but I also noticed that this document was updated a long time ago. So I want to ask, how many smart contract issues can Slither detect at the moment? We look forward to your reply.

[2019-09-15 03:34] dguido commented on #336
The current list for Slither's open source distribution is available in the [readme](https://github.com/crytic/slither#detectors) or via `--list-detectors`: 37 issues.

The private add-on that we maintain for Slither includes an additional 30 issues.

[2019-09-15 03:34] #336 closed

[2019-09-16 07:05] xf97 commented on #336
Thank you for your reply. You have solved my doubts. I wish you a happy life.

在 2019-09-15 11:34:27，"Dan Guido" <notifications@github.com> 写道：

Closed #336.

—
You are receiving this because you authored the thread.
Reply to this email directly, view it on GitHub, or mute the thread.

[2019-09-18 13:55] montyly commented on #326
Additionally, we could detect reentrancy leading to change the events ordering

[2019-09-20 12:52] montyly opened #337 "Incorrect data dependency print information"
For example on https://etherscan.io/address/0x6c6ee5e31d828de241282b9606c8e98ea48526e2, some info printer are weird/incorrect:
[code]

[2019-09-25 04:30] Man-Jain commented on #286
Yes

[2019-10-04 08:11] #253 closed

[2019-10-04 15:34] disconnect3d opened #341 "Suggest to remove build directory after changing repo version and re-running slither-check-upgradeability"
When the `slither-check-upgradeability` is run after `slither` was used previously on a truffle project which was build and whose code has changed (i.e. files removed/added) the tool could suggest to make a clean-rebuild of the project when failing like this:
[code]

[2019-10-04 17:01] montyly opened #342 "slither-flat does not handle cycle"
Example:
[code]

[2019-10-06 06:40] hjlee9182 opened #343 "Slither doesn't support all of >=4.0 versions."
![캡처](https://user-images.githubusercontent.com/46337218/66265306-3756b300-e84f-11e9-8e47-c65cb571a088.PNG)
(this is code from https://swcregistry.io/docs/SWC-102)

![캡처](https://user-images.githubusercontent.com/46337218/66265302-1ee69880-e84f-11e9-9a6f-84dcaffd5792.PNG)

When I use slither with >=5.0 versions was succesfull.
But when used 4.~ version is make a fail.
What  is problem?

[2019-10-06 16:56] Xenomega commented on #343
Slither supports these versions of Solidity. The issue is that you do not have that version installed on your machine. The last excerpt of the error message you posted states "current compiler is 0.5.11[...]". You should uninstall solc 0.5.11 and install 0.4.13 in order to compile this contract.

[2019-10-06 16:56] #343 closed

[2019-10-07 09:05] montyly commented on #343
Hi @hjlee9182.

I would recommend using https://github.com/crytic/solc-select to easily switch between solc version.

Alternatively, you can use the `--solc solc_path` flag if you have multiple solc binaries installed.

[2019-10-07 15:43] montyly opened #344 "Improve error reporting for duplicate contract names"
In some cases, Slither is able to figure it out what contracts have duplicate name:

https://github.com/crytic/slither/blob/923d82acfc7ca4ac55f6db951d5c9f910b50af26/slither/solc_parsing/slitherSolc.py#L184-L191

We should investigate if it is possible to provide the same info for the other cases, including

https://github.com/crytic/slither/blob/923d82acfc7ca4ac55f6db951d5c9f910b50af26/slither/sol

[2019-10-09 21:27] gustavo-grieco opened #345 "Slither fails to detect some shadowing"
[code]

In this contract, `solc` correctly detects the shadowing but slither fails to do it:

[code]

[2019-10-15 15:23] montyly opened #347 "Create json result for slither-check-upgradability"
Similar to the detectors, slither upgradability checks could return a standard json with the results

[2019-10-16 08:47] NicsTr commented on #318
Hi,
I'm interested in working on this issue.

When you say

do you mean one detector for functions that are changing the state and one for functions using assembly code?
If I understood correctly, if Solidity >=0.5 is used, then the first detector is not needed because it is already enforced by the compiler, am I right?

[2019-10-18 15:35] montyly opened #349 "Add detection of "variables that should never been written after an upgrade""
Codebase using the delegatecall proxy pattern ends up having state variables that must never be used again (deprecated variables). `slither-check-upgradeability` should detect them.

It might be a good time to slightly refactor the cli of `slither-check-upgradeability` to ease the integration of future features

[2019-10-23 06:27] montyly commented on #256
A recurrent misuse comes from the incorrect usage between `slither.contracts`, `slither.contract_derived` , and the functions' getters `functions`, `functions_inherited`, `functiond_declared` , etc...

The tutorial should have best practice on how to use those

[2019-10-23 06:31] montyly commented on #341
I am not sure to understand the feature here.

`slither-check-upgradeability` does a clean build on every call, this looks more like an issue with the compilation? Can you share an example?

[2019-10-23 06:33] montyly commented on #347
Partially done with https://github.com/crytic/slither/pull/348. The documentation is https://github.com/crytic/slither/wiki/JSON-output#slither-check-upgradeability

What is missing ts the source mapping of the element

[2019-10-23 06:33] montyly commented on #319
Done with https://github.com/crytic/slither/pull/321 (and included in 0.6.7)

[2019-10-23 06:33] #319 closed

[2019-10-23 06:35] #271 closed

[2019-10-23 06:36] montyly commented on #310
Done with https://github.com/crytic/slither/pull/311

[2019-10-23 06:36] #310 closed

[2019-10-23 06:37] montyly commented on #312
As we haven't heard back from the issue, I assume it is fixed.

[2019-10-23 06:37] #312 closed

[2019-10-23 06:41] montyly commented on #308
This seems to be fixed in `0.6.7`. Only the correct `contract.function` are reported now.

[2019-10-23 06:41] #308 closed

[2019-10-23 08:09] rajeevgopalakrishna commented on #150
I suppose we can close this, correct @montyly ?

[2019-10-23 08:12] montyly commented on #150
yes!

[2019-10-23 08:12] #150 closed

[2019-10-23 17:14] igetgames commented on #253
Since this appears to be completd, would you mind closing out the [bounty on Gitcoin](https://gitcoin.co/issue/crytic/slither/253/3218)?

[2019-10-24 00:35] ceresstation commented on #286
Hey @igetgames since we haven't heard back from @Man-Jain you're welcome to pick this up and complete it!

[2019-10-24 06:56] montyly commented on #286
As the work did not progress, and this feature as a high priority for us, we end up working internally on it.

@ceresstation can you close the bounty? Thanks!

[2019-10-24 15:36] montyly opened #352 "Add --partial mode"
Right now Slither will stop working if some part of the code is missing (ex: due to the duplicate name issue). We should have a `--partial` flag which would indicate Slither to work as a best effort and accept to have unknown code.

[2019-10-28 09:19] yxliang01 commented on #320
@montyly I proposed #357 to fix this. However, I feel the logic can be made more generic. E.g. set a version number to be the latest version that is well-tested and known to be stable. Then, for a version that is after this version, if it is a known vulnerable version, report vulnerable text, otherwise, too recent. Possibly, it can automatically pick the latest version among the `ALLOWED_VERSIONS`

[2019-10-31 14:15] montyly opened #358 "Add upgradeability info to the contract summary printer"
Add heuristics to detect if the contract is:
- Upgradeable. Ex: if it inherits from Openzepelin Initiliazer contract)
- A proxy. Ex: if the name is one of the Openzepelin's proxy contracts, or if the contract has a fallback function calling `delegatecall`

[2019-11-01 01:37] mikemcdonald opened #359 ".pop() treated as external call"
The new `.pop()` array member function in solidity ^0.5.0 is treated as an external call

[2019-11-01 08:46] montyly commented on #359
Hi @mikemcdonald, thank you for reporting the issue!

We indeed did not implement [`pop`](https://github.com/crytic/slither/blob/07ea324a1a3bbadf13955ce098425b722ca68539/slither/slithir/convert.py#L1034), we will add it as soon as possible.

[2019-11-01 12:19] montyly opened #361 "Improve paths filtering"
The paths filtering works with a direct string comparison:
https://github.com/crytic/slither/blob/c8fb67f2a6c80d6579bd30308aa577ed4f8f5af8/slither/core/slither_core.py#L193

We should improve the filtering to support regex, or relative paths (ex: `./contracts/something` )

[2019-11-02 15:59] igorline commented on #168
Same here! Does not work with lerna and yarn workspaces!

[2019-11-04 14:40] #286 closed

[2019-11-05 22:33] HenryNguyen5 opened #363 "Add support for @0x/sol-compiler"
The json @0x/sol-compiler outputs is slightly different than what solc output. It would be nice to support this as an alternative to truffle for platform independent solidity compilers, since it also has nice things like watch-mode.

Included below is a sample of JSON output for @0x/sol-compiler.
https://gist.github.com/HenryNguyen5/617f0d051f254ce89ed1ddb50907ce12

[2019-11-06 08:08] montyly commented on #361
## Task Description
Improve the paths filtering (see [doc](https://github.com/crytic/slither/wiki/Usage#path-filtering)) to support regex and relatives paths

## Acceptance criteria
- [ ] `--filter-paths` can support the wildcard. For example `--filter-paths Test*Proxy`
- [ ] `--filter-paths` can support relative paths. For example `--filter-paths ./contracts/test.sol` will match `contract.test.so

[2019-11-06 08:12] montyly commented on #320
## Task Description
Change the logic of the solc-version detector (see discussions above)

##  Acceptance criteria
- [ ] The solc-version detector extracts the minor version of `0.4.x`/`0.5.x` and compares it to a lower bound and an upper bound

## Required Skills
- [ ] Experience with Python 3.6
- [ ] Experience with Solidity smart contracts
- [ ]  Experience with Slither

Feel free to ask questi

[2019-11-06 08:18] montyly commented on #318
## Task Description
Split the constant-function [detector](https://github.com/crytic/slither/blob/master/slither/detectors/attributes/const_functions.py) into two detectors
- One for constant functions changing the state
- One for constant functions with assembly code

Additionally, the detector does not report issue if solc>=0.5 is used.

## Acceptance criteria
- [ ] The detector is split into tw

[2019-11-06 08:37] montyly commented on #318
Hi @NicsTr, thank you for your interest in this issue. I hope that the description above answers your question.

You are right, the compiler since >=0.5 does enforce the `pure` and `view` attributes, so the detector is not needed.

We are creating a gitcoin bounty for this issue.

[2019-11-06 11:24] #188 closed

[2019-11-06 11:24] #274 closed

[2019-11-06 11:24] #347 closed

[2019-11-06 11:24] #331 closed

[2019-11-10 20:14] gakonst opened #365 "False positive on uninitialized local variable"
[code]

Returns that x is never initialized, when we populate all of its values in the following line

[2019-11-11 09:04] montyly commented on #365
Hi @gakonst,

Thank you for reporting this FP.

I think it is related to the current limitation of our IR, and the way it handles structure/mapping. It should be fixed once our IR refactoring is done (https://github.com/crytic/slither/pull/346)

[2019-11-11 09:07] montyly commented on #363
Hi @HenryNguyen5,

Thank you for reporting this limitation. I am tracking the issue in [`crytic-compile#50`](https://github.com/crytic/crytic-compile/issues/50), which is our compiler-parsing library.

[2019-11-11 09:07] #363 closed

[2019-11-11 10:40] montyly opened #366 "slither-flat: Add --remove-assert"
`--remove-assert` will remove all the Solidity `assert` calls.

The goal is to allow developers to use `assert` to prove assertions with third-party tools (ex: Echidna), while not adding overhead with the production code

It is to be used only if the developer correctly used `assert()`, otherwise it will create bugs. Enabling the flag must produce a warning.

[2019-11-13 13:17] #358 closed

[2019-11-13 13:19] montyly commented on #178
Fixed with https://github.com/crytic/slither/pull/370

[2019-11-13 13:19] #178 closed

[2019-11-13 13:21] montyly commented on #296
I am closing this issue; the short term solution is to rely on the solc version used

[2019-11-13 13:21] #296 closed

[2019-11-18 09:03] JackHFeng opened #372 "IR, requires within modifiers seem to appear at the end."
The code for the function being modified is inserted where the _ is placed in the modifier.

RequireExample.sol file:
[code]

And this is the result from IR.

[code]
I'm not sure if the problem I'm seen is supposed to be like this.
Since the _; appeared at the end of the modifier, the code within the modifier should be added at the beginning of the function, right?
Otherwise, if modifiers are alwa

[2019-11-18 10:06] montyly commented on #372
Hi @JackHFeng. Thank you for your interest in Slither.

This is actually an output artifact.
Currently, Slither does not have a straightforward API to output properly the modfier's cfg into in the function using it (which requires some control-flow tricks to handle the `_` placeholder). The modifiers calls are kept into [function.modifiers_statements](https://github.com/crytic/slither/blob/c5421ef

[2019-11-18 10:25] JackHFeng commented on #372
Thank you @montyly !

[2019-11-18 17:12] HenryNguyen5 commented on #363
Thanks @montyly

[2019-11-20 09:50] #342 closed

[2019-11-20 10:08] montyly commented on #309
I believe this is implemented now.

For example:
[code]
[code]

[2019-11-20 10:08] #309 closed

[2019-11-21 15:42] #359 closed

[2019-11-21 22:00] karansinghgit commented on #320
@montyly why is there a need for a lower bound and upper bound?

[2019-11-22 11:28] karansinghgit commented on #318
@montyly I'd like to work on this issue.

[2019-11-22 17:05] montyly commented on #320
Hi @uivlis and @b-m-f, thank you for your interest in this issue.

This requires only one contributor, so we will go with the first one who applied. @ceresstation can you approve @uivlis ? Thank you

[2019-11-22 17:22] montyly commented on #361
Hi @igetgames, thank you for your interest in this issue. Feel free to reach me on slack if you have any questions.

@ceresstation can you approve @igetgames? Thanks

[2019-11-26 19:54] EricR commented on #366
Since this directly relates to compilation, any thoughts on building this into crytic-compile instead?

[2019-11-27 16:02] montyly commented on #366
The flattening was implemented in Slither for multiple reasons, including:
- Parsing the solc AST is a complex task. Slither supports already the parsing, including for both legacy and compact format. It supports solc from 0.4 to the latest and all the minor changes that were made in the AST format across time
- Slither has more information and allows for more complex patchings. For example, when

[2019-11-27 19:16] EricR commented on #366
Thanks @montyly, that rationale all makes sense to me.

[2019-11-27 21:44] montyly commented on #361
@ceresstation: @erib3 solved the issue in https://github.com/crytic/slither/pull/376, can you send him the bounty? Thank you

[2019-11-28 11:12] montyly commented on #320
The issue was solved in https://github.com/crytic/slither/pull/378 by @uivlis.

@ceresstation can you send the bounty? Thanks

[2019-11-28 11:58] montyly commented on #318
#379 and #380 are merged. Thanks @uivlis for the work.

@ceresstation can you pay the bounty? thx

[2019-12-02 20:26] EricR commented on #366
Unfortunately, this isn't as straight forward as it first seemed. After "patches" are applied in slither/tools/flattening/flattening.py's `_get_source_code` method, source mappings are all wrong.

Long term, I think it may be better to rework how `_get_source_code` makes modifications. As is, the only way I can think to accomplish this is to either parse the modified source again to update the map

[2019-12-02 21:05] EricR commented on #366
Unfortunately, this isn't as straight forward as it first seemed. After "patches" are applied in slither/tools/flattening/flattening.py's `_get_source_code` method, Slither's source mappings are inaccurate.

Long term, I think it may be better to rework how `_get_source_code` makes modifications. As is, the only way I can think to accomplish this is to do one of the following:

* Parse the modifie

[2019-12-03 15:36] montyly commented on #366
I think if we order the patches from the latest offset to the first one we should be fine. It's what `to_patch.sort(key=lambda x:x[0], reverse=True)` does.

`to_patch` could contain a namedtuple `(index, type)`. `type` could be
- `public_to_external`
- `calldata_to_memory`
- `line_removal`

Just in case, we could check that there is no overlap between the `line_removal` and the others

[2019-12-05 13:46] emilbayes opened #382 "ABIEncoderV2 flagged as solidity version"
The following Solidity code is flagged as being different solidity versions:

[code]

Outputs:

[code]

[2019-12-06 16:42] montyly commented on #382
Hi @emilbayes, thank you for reporting this. We will fix it soon

[2019-12-09 07:30] uivlis commented on #320
@ceresstation I sent you a payment reminder, maybe you forgot about this one?

[2019-12-09 17:03] #361 closed

[2019-12-17 17:03] montyly opened #389 "Threewidth computation"
In [The Treewidth of Smart Contracts](https://hal.archives-ouvertes.fr/hal-01942005/document), the  authors computed the treewidth of smart contracts, and showed that, in average, real-world contracts have a threewidth of 3.35 (interprocedueral) and (3.65).

It would be interesting to add threewidth computation to Slither, and replay those results.

[2019-12-20 09:53] #382 closed

[2019-12-20 09:53] montyly commented on #366
Done with #386

[2019-12-20 09:53] #366 closed

[2019-12-20 09:54] #318 closed

[2019-12-20 09:54] #320 closed

[2019-12-20 09:55] montyly commented on #326
Done with https://github.com/crytic/slither/pull/375

[2019-12-20 09:55] #326 closed

[2020-01-12 23:43] AnonymousMonkey2021 opened #392 "data type size inconsistency"
https://github.com/crytic/slither/blob/master/slither/core/solidity_types/elementary_type.py

The size attribute is explained as "size in bits".
However, the size for byte array, e.g. "bytes32" returns the size in byte. => 32
People may encounter issues when using the size attribute to pad their data due to confusion.
Either the comment should be updated, or the size for byte* should be converted

[2020-01-13 10:03] montyly commented on #392
Hi @JackHFeng.

Thank you for reporting this, the documentation is indeed wrong. We will fix it soon.

[2020-01-16 14:25] montyly opened #393 "Improve json output for the upgradeability tool"
- Add a top-level `description` field, which will contain all the txt output
- Create a markdown description for each type of check, similar to the wiki description of the detector

It is probably worth to create a generic API to have these two features, so any new tool would follow the json schema.

[2020-01-22 13:40] montyly opened #394 "slither-flat: Translate all visibilities to internal"
Similar to the `external` to `public` conversion, we can convert all visible functions to `internal`, and all `private` variables to `internal`.

This schema is useful when fuzzing a codebase with Echidna, to reduce the scope of the fuzzing and allow to access private elements.